{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap.min.css" integrity="sha256-PbaYLBab86/uCEz3diunGMEYvjah3uDFIiID+jAtIfw=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal-bs3patch.min.css" integrity="sha256-8qPt0X/JAwhOGkBVHs+gP6PjHgtLBJihYlHMKRQQ8uU=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal.min.css" integrity="sha256-Ad60rSeqfXQzkDAmvKgT7Zm5lgfVJ1dMAwNBCD4rtt4=" crossorigin="anonymous" />
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js" integrity="sha256-qcV1wr+bn4NoBtxYqghmy1WIBvxeoe8vQlCowLG+cng=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap.min.js" integrity="sha256-X/58s5WblGMAw9SpDtqnV8dLRNCawsyGwNqnZD0Je/s=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modalmanager.min.js" integrity="sha256-aMqdmRN7/t5KwLKoJTkwFCaRYhw82cZQu9FT7ZEkb9g=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modal.min.js" integrity="sha256-UEFikFBinV4tAScIYbW3+7BCI2zpM74VWtUa1MIR738=" crossorigin="anonymous"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
    {% if orders|length != 0 %}
    $('#orderList').dataTable({
        {%if app.request.locale != 'en'%}
        	"language": {"url": '{{preload(asset('bundles/acfres/json/dataTables/i18n/'~app.request.locale~'.json'))}}'},
        {% endif %}
        "columns": [ 
        	null, 
        	null, 
        	null, 
        	null, 
        	null, 
        	null, 
        	null, 
        	null, 
        	{ "searchable": false, "sortable": false } 
        ], 
        "pageLength": 10
    });
{% endif %}
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_front_homepage') }}">{{ faIco('home') }} &nbsp; {{'breadcrumb.home'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('_security_myOrders') }}">{{faIco('shopping-cart')}} &nbsp; {{'breadcrumb.myorder.list'|trans|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">
					{{ 'Order.tlabel.myorders'|trans|raw}}
				</h3>
			</div>
			<div class="box-body table-responsive">
				<table id="orderList" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>{{ 'Order.dtCrea.label'|trans|raw }}</th>
							<th>{{ 'Order.ref.label'|trans|raw }}</th>
							<th>{{ 'Order.status.label'|trans|raw }}</th>
							<th>{{ 'Order.orderTo.label'|trans|raw }}</th>
							<th>{{ 'Order.val.label'|trans|raw }}</th>
							<th>{{ 'Order.paymentType.label'|trans|raw }}</th>
							<th>{{ 'Order.renew.label'|trans|raw }}</th>
							<th>{{ 'Order.invoice.label'|trans|raw }}</th>
							<th>{{ 'action'|trans|raw }}</th>
						</tr>
					</thead>
					<tbody>
						{% if orders|length != 0 %}
						{% for order in orders %}
						<tr>
							<td align="right">{{order.dtCrea|date('Y-m-d')}} {{'_at'|trans}} {{order.dtCrea|localeDate('none', 'short')}}</td>
							<td>{{ order.ref }}</td>
							<td align="right">{{ ('Order.status.'~order.status)|trans|raw }}</td>
							<td>{{ order.orderTo|raw }}</td>
							<td align="right">{{ order.val|number_format(3, '.', ' ') }} TND</td>
							<td align="right">{% if order.status == constant('ST_NEW', order) or order.status == constant('ST_REFUSAL', order) or order.status == constant('ST_CANCELED', order) or order.status == constant('ST_ERROR', order) %}&nbsp;---&nbsp;{% else %}{{ ('Order.paymentType.'~order.paymentType)|trans|raw }}{% endif %}</td>
							<td align="right">{{ ('Order.renew.'~order.renew)|trans|raw }}</td>
							<td align="right">{% if order.invoice is not null and order.invoice.status != constant('ST_NEW', order.invoice)%}<a href="{{ path('_security_myInvoice_editGet', {'uid': order.invoice.id}) }}">{{ order.invoice.ref }}</a>{% else %}&nbsp;---&nbsp;{% endif %}</td>
							<td><a class="btn btn-sm btn-info"
								href="{{path('_security_myOrder_editGet',{'uid':order.id})}}">{{ glyphIco('edit') }}
									{{ 'action.edit'|trans }}</a></td>
						</tr>
						{% endfor %}
						{% else %}
						<tr>
							<td colspan="9">{{ 'Order.empty'|trans|raw }}</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
