<html>
<body>
{{'_mail.register.body.admin'|trans({'%useradminurl%': url('_admin_user_editGet', {'id': user.id} ) ,'%login%':user.username}, "messages")|raw}}<br><br>
{% if corporateName is not empty %}+ {{'NewUser.corporateName.label'|trans}} {{ corporateName }}<br/><br/>{% endif %}
{% if type is not empty %}+ {{'NewUser.type.label'|trans}} {{ type }}<br/><br/>{% endif %}
{% if fisc is not empty %}+ {{'NewUser.fisc.label'|trans}} {{ fisc }}<br/><br/>{% endif %}
{% if commercialRegister is not empty %}+ {{'NewUser.commercialRegister.label'|trans}} {{ commercialRegister }}<br/><br/>{% endif %}
</body>
</html>