<html>
<body>
{{'_mail.register.body.admin'|trans({'%useradminurl%': url('_admin_user_editGet', {'id': user.id} ) ,'%login%':user.username}, "messages")|raw}}<br><br>
{% if corporateName is not empty %}+ {{'NewUser.corporateName.label'|trans}} {{ corporateName }}<br/><br/>{% endif %}
{% if type is not empty %}+ {{'NewUser.type.label'|trans}} {{ type }}<br/><br/>{% endif %}
{% if fisc is not empty %}+ {{'NewUser.fisc.label'|trans}} {{ fisc }}<br/><br/>{% endif %}
{% if commercialRegister is not empty %}+ {{'NewUser.commercialRegister.label'|trans}} {{ commercialRegister }}<br/><br/>{% endif %}
<br>
<br>
<b>Nous vous remercions pour votre confiance</b><br><small><b>L’Equipe ACEF Expert</b></small><br>
<img alt="Cabinet FAKHFAKH d'Expertise Comptable" src="{{ logo }}"><br>
<small>REMARQUE : Ce courriel a été généré automatiquement par <a href="https://www.acf-expert.tn">https://www.acf-expert.tn</a>.<br>
Ne répondez pas à ce courriel.</small>
</body>
</html>