<html>
<body>
	{{'Devis.lastname.label'|trans}} <b>{{ lastname }}</b><br/><br/>
	{{'Devis.firstname.label'|trans}} <b>{{ firstname }}</b><br/><br/>
	{{'Devis.email.label'|trans}} <b>{{ email }}</b><br/><br/>
	{{'Devis.phone.label'|trans}} <b>{{ phone }}</b><br/><br/>

	{{'Devis.entreprise.label'|trans}} <b>{{ entreprise }}</b><br/><br/>
	{{'Devis.entrepriseForm.label'|trans}} <b>{{ entrepriseForm }}</b><br/><br/>
	{{'Devis.activity.label'|trans}} <b>{{ activity }}</b><br/><br/>
	{{'Devis.dtActivation.label'|trans}} <b>{{ dtActivation|localeDate }}</b><br/><br/>
	{{'Devis.address.label'|trans}} <b>{{ address|raw }}</b><br/><br/>
	{{'Devis.zipCode.label'|trans}} <b>{{ zipCode }}</b><br/><br/>
	{{'Devis.town.label'|trans}} <b>{{ town }}</b><br/><br/>
	{{'Devis.caYear.label'|trans}} <b>{{ caYear }} TND</b><br/><br/>
	{{'Devis.nbrInvoicesBuy.label'|trans}} <b>{{ nbrInvoicesBuy }}</b><br/><br/>
	{{'Devis.nbrInvoicesSale.label'|trans}} <b>{{ nbrInvoicesSale }}</b><br/><br/>
	{{'Devis.nbrSalaries.label'|trans}} <b>{{ nbrSalaries }}</b><br/><br/>
	{{'Devis.hasexpert.label'|trans}} <b>{{ ('Devis.hasexpert.'~hasexpert)|trans }}</b><br/><br/>
	{{'Devis.otherInfos.label'|trans}} <b>{{ otherInfos|raw }}</b><br/><br/>
<br>
<br>
<b>Nous vous remercions pour votre confiance</b><br><small><b>L’Equipe ACEF Expert</b></small><br>
<img alt="Cabinet FAKHFAKH d'Expertise Comptable" src="{{ logo }}"><br>
<small>REMARQUE : Ce courriel a été généré automatiquement par <a href="https://www.acf-expert.tn">https://www.acf-expert.tn</a>.<br>
Ne répondez pas à ce courriel.</small>
</body>
</html>