{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/fileinput/4.2.7-7.css')}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/fileinput/plugins/canvas-to-blob.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/fileinput/4.2.7-7.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('#NewInvoiceDocumentForm_fileName').fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Document", browseIcon: '{{faIco('folder-open')}}', removeClass: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'}); 
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_front_homepage') }}">{{ faIco('home') }} &nbsp; {{'breadcrumb.home'|trans|raw}}</a></li>
	<li><a href="{{ path('_security_myInvoices') }}">{{faIco('file-text-o')}} &nbsp; {{'breadcrumb.myinvoice.list'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('_security_myInvoice_editGet', {'uid' : invoice.id}) }}">{{faIco('edit')}} &nbsp; {{'breadcrumb.myinvoice.edit'|trans({'%invoice%': invoice.ref})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block sectioncontent%}
{%include 'SasedevCommonsBootstrapBundle::flash.html.twig' with { 'close': true }%}
<section id="content" class="content invoice">
	{%block content%}

	<!-- title row -->
	<div class="row">
		<div class="col-xs-12">
			<h2 class="page-header">
				<img src="{{asset('bundles/acfres/images/logo_acf.jpg')}}"
				alt="{{ sitename }}" class="icon img" style="width: 190px;">
				&nbsp; &nbsp; &nbsp; Facture
				<small class="pull-right">Date : {{invoice.dtCrea|date('Y-m-d')}}</small>
			</h2>
		</div>
		<!-- /.col -->
	</div>
	<!-- info row -->
	<div class="row invoice-info">
		<div class="col-sm-4 invoice-col">
			<br>
			<address>
				<strong>ACEF Expert.</strong>  Société d'Expertise Comptable et de Commissariat aux Comptes<br>
				{{ faIco('globe') }} <strong>Adresse : </strong> 63, Rue Madinet El Maoussel, 2037 – Ennasr 2 – Ariana – Tunisie<br> 
				{{ faIco('phone') }} <strong>Tel : </strong> + 216 71 811 477<br>
				{{ faIco('fax') }} <strong>Fax : </strong>  +216 71 811 241<br>
				{{ faIco('envelope-o') }} <strong>Email : </strong>  contact@acf-expert.tn
			</address>
		</div>
		<div class="col-sm-4 invoice-col">
			<br> 
			<b>Facture : </b> {{ invoice.ref }}<br>
			<b>{{ 'Invoice.status'|trans }} : </b> {{ ('Invoice.status.'~invoice.status)|trans }}<br>
			<b>{{ 'Invoice.renew'|trans }} : </b> {{ ('Invoice.renew.'~invoice.renew)|trans }}<br>
			<b>Bon de Commande : </b>
			<a href="{{ path('_security_myOrder_editGet', {'uid': invoice.order.id}) }}">{{ invoice.order.ref }}</a>
			<br> 
		</div>
		<div class="col-sm-4 invoice-col">
			<br>
			<b><u>A l'Ordre de :</u></b> 
			<address>
				{{ invoice.orderTo|raw }}
			</address>
		</div>
		<br>
		<br>
	</div>
	<!-- /.row -->

	<!-- Table row -->
	<div class="row">
		<div class="col-xs-12 table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'Product.label.label'|trans }}</th>
						<th class="text-right">{{ 'Product.price.label'|trans }}</th>
						<th class="text-right">{{ 'Product.vat.label'|trans }}</th>
						<th class="text-right">{{ 'Product.pricettc.label'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					{% set totht = 0 %}
					{% for product in invoice.products %}
					<tr>
						<td>{{ product.label|raw }}</td>
						<td class="text-right">{{ product.price|number_format(3, '.', ' ') }} TND</td>
						<td class="text-right">{{ product.vat|number_format(2, '.', ' ') }} %</td>
						{% set totht = totht + product.price + product.price * product.vat/100 %}
						<td class="text-right">{{ (product.price + product.price * product.vat/100)|number_format(3, '.', ' ') }} TND</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->

	<div class="row">
		<!-- accepted payments column -->
		<div class="col-xs-6">
			<p class="lead">Moyen de Paiement:</p>
			<div class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
				{% if invoice.paymentType == constant('PTYPE_ONLINE', invoice) %}Payement en ligne{% endif %}
				{% if invoice.paymentType == constant('PTYPE_MONEY', invoice) %}Règlement en espèces directement au secrétariat du cabinet sis à « 63, Rue Madinet El Maoussel, 2037 – Ennasr 2 – Ariana – Tunisie »{% endif %}
				{% if invoice.paymentType == constant('PTYPE_CHECK', invoice) %}Chèque à l’ordre de « Faiez FAKHFAKH » par voie postale à l’adresse « 63, Rue Madinet El Maoussel, 2037 – Ennasr 2 – Ariana – Tunisie » ou bien directement au secrétariat du cabinet sis à la même adresse.{% endif %}
				{% if invoice.paymentType == constant('PTYPE_VRT', invoice) %}Virement bancaire au RIB n° 08 308 000 58 100 0515 955 Agence BIAT Rue de Syrie au nom de « Faiez FAKHFAKH »{% endif %}
			</div>
		</div>
		<!-- /.col -->
		<div class="col-xs-6">
			<p class="lead">Total :</p>

			<div class="table-responsive">
				<table class="table">
					<tr>
						<th class="text-right" style="width: 50%">Sous-Total:</th>
						<td class="text-right">{{ totht|number_format(3, '.', ' ') }} TND</td>
					</tr>
					{% for taxe in invoice.taxes %}
					<tr>
						<th class="text-right">{{ taxe.label|raw }}</th>
						<td class="text-right">
						{% if taxe.type == constant('TYPE_NUMERIC', taxe) %}
							{{ taxe.value|number_format(3, '.', ' ') }} TND
							{% set totht = totht + taxe.value %}
						{% else %}
							{{ (totht * taxe.value/100)|number_format(3, '.', ' ') }} TND
							{% set totht = totht + totht * taxe.value/100 %}
						{% endif %}
						</td>
					</tr>
					{% endfor %}
					<tr>
						<th class="text-right">Total:</th>
						<td class="text-right">{{ invoice.val|number_format(3, '.', ' ') }} TND</td>
					</tr>
				</table>
			</div>
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<!-- this row will not appear when printing -->
	<div class="row no-print">
		<div class="col-xs-12">
			<a href="{{ path('_security_myInvoice_print', {'uid' : invoice.id}) }}" target="_blank" class="btn btn-default"><i
				class="fa fa-print"></i> {{ 'action.btnPrint'|trans }}</a>
		</div>
	</div>
	{% if docs|length != 0 %}
	<br>
	<br>
	<div class="row no-print">
		{% for doc in docs %}
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-green">
					<i class="fa fa-file"></i>
				</span>
				<div class="info-box-content">
					<span class="info-box-text">{{ doc.originalName }}</span>
					<br>
					<span class="info-box-text"><a href="{{ path('_security_myInvoiceDoc_download',{'uid':doc.id})}}" class="btn btn-success btn-xs">{{ glyphIco('download') }} {{ 'action.btnDownload'|trans }}</a></span>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	<br>
	<br>
	<div class="row no-print">
		<div class="col-md-12">
			<div class="text-center">Joindre un fichier :</div>
			<br>
			{{form_start(InvoiceDocumentNewForm, {'method':'POST', 'action': path('_security_myInvoice_editPost', {'uid': invoice.id}), 'style': 'horizontal'})}}
			{{form_row(InvoiceDocumentNewForm.invoice, {'label_col': 3, 'widget_col': 8, 'attr': {'row_class': 'hidden'} })}}
			{{form_row(InvoiceDocumentNewForm.fileName, {'label_col': 3, 'widget_col': 8 })}}
			<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnAdd'|trans|raw}}</button></div></div>
			{{form_end(InvoiceDocumentNewForm)}}
		</div>
	</div>
	{%endblock content%}
</section>
<div class="clearfix"></div>
{%endblock sectioncontent%}

