{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%}
{{ parent() }}
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() { });
{%endblock end2_dynamic_jstxt%}
{%block html_body%}
<body onload="window.print();">
<div class="wrapper">
  <!-- Main content -->
  <section class="invoice">

	<!-- title row -->
	<div class="row">
		<div class="col-xs-12">
			<h2 class="page-header">
				<img src="{{asset('bundles/acfres/images/logo_acf.jpg')}}"
				alt="{{ sitename }}" class="icon img" style="width: 190px;">
				&nbsp; &nbsp; &nbsp; Facture
				<small class="pull-right">Date : {{invoice.dtCrea|date('Y-m-d')}}</small>
			</h2>
		</div>
		<!-- /.col -->
	</div>
	<!-- info row -->
	<div class="row invoice-info">
		<div class="col-sm-4 invoice-col">
			<br>
			<address>
				<strong>ACF Expert.</strong>  Cabinet FAKHFAKH d'Expertise Comptable<br>
				{{ faIco('globe') }} <strong>Adresse : </strong> 63, Rue Madinet El Maoussel, 2037 – Ennasr 2 – Ariana – Tunisie<br> 
				{{ faIco('phone') }} <strong>Tel : </strong> + 216 71 835 144<br>
				{{ faIco('fax') }} <strong>Fax : </strong>  +216 71 835 312<br>
				{{ faIco('envelope-o') }} <strong>Email : </strong>  contact@acf-expert.tn
			</address>
		</div>
		<div class="col-sm-4 invoice-col">
			<br> 
			<b>Facture : </b> {{ invoice.ref }}<br>
			<b>{{ 'Invoice.status'|trans }} : </b> {{ ('Invoice.status.'~invoice.status)|trans }}<br>
			<b>{{ 'Invoice.renew'|trans }} : </b> {{ ('Invoice.renew.'~invoice.renew)|trans }}<br>
			<b>Bon de Commande : </b>
			{{ invoice.order.ref }}
			<br> 
		</div>
		<div class="col-sm-4 invoice-col">
			<br>
			<b><u>A l'Ordre de :</u></b> 
			<address>
				{{ invoice.orderTo|raw }}
			</address>
		</div>
		<br>
		<br>
	</div>
	<!-- /.row -->

	<!-- Table row -->
	<div class="row">
		<div class="col-xs-12 table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'Product.label.label'|trans }}</th>
						<th class="text-right">{{ 'Product.price.label'|trans }}</th>
						<th class="text-right">{{ 'Product.vat.label'|trans }}</th>
						<th class="text-right">{{ 'Product.pricettc.label'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					{% set totht = 0 %}
					{% for product in invoice.products %}
					<tr>
						<td>{{ product.label|raw }}</td>
						<td class="text-right">{{ product.price|number_format(3, '.', ' ') }} TND</td>
						<td class="text-right">{{ product.vat|number_format(2, '.', ' ') }} %</td>
						{% set totht = totht + product.price + product.price * product.vat/100 %}
						<td class="text-right">{{ (product.price + product.price * product.vat/100)|number_format(3, '.', ' ') }} TND</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->

	<div class="row">
		<!-- accepted payments column -->
		<div class="col-xs-6">
			<p class="lead">Moyen de Paiement:</p>
			<div class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
				{% if invoice.paymentType == constant('PTYPE_ONLINE', invoice) %}Payement en ligne{% endif %}
				{% if invoice.paymentType == constant('PTYPE_MONEY', invoice) %}Règlement en espèces directement au secrétariat du cabinet sis à « 63, Rue Madinet El Maoussel, 2037 – Ennasr 2 – Ariana – Tunisie »{% endif %}
				{% if invoice.paymentType == constant('PTYPE_CHECK', invoice) %}Chèque à l’ordre de « Faiez FAKHFAKH » par voie postale à l’adresse « 63, Rue Madinet El Maoussel, 2037 – Ennasr 2 – Ariana – Tunisie » ou bien directement au secrétariat du cabinet sis à la même adresse.{% endif %}
				{% if invoice.paymentType == constant('PTYPE_VRT', invoice) %}Virement bancaire au RIB n° 08 308 000 58 100 0515 955 Agence BIAT Rue de Syrie au nom de « Faiez FAKHFAKH »{% endif %}
			</div>
			<p class="lead">Cachet et Signature:</p>
			<div class="no-shadow" style="margin-top: 10px;">
				<img src="{{asset('bundles/acfres/images/duplicata.jpg')}}" class="img img-responsive"/>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-xs-6">
			<p class="lead">Total :</p>

			<div class="table-responsive">
				<table class="table">
					<tr>
						<th class="text-right" style="width: 50%">Sous-Total:</th>
						<td class="text-right">{{ totht|number_format(3, '.', ' ') }} TND</td>
					</tr>
					{% for taxe in invoice.taxes %}
					<tr>
						<th class="text-right">{{ taxe.label|raw }}</th>
						<td class="text-right">
						{% if taxe.type == constant('TYPE_NUMERIC', taxe) %}
							{{ taxe.value|number_format(3, '.', ' ') }} TND
							{% set totht = totht + taxe.value %}
						{% else %}
							{{ (totht * taxe.value/100)|number_format(3, '.', ' ') }} TND
							{% set totht = totht + totht * taxe.value/100 %}
						{% endif %}
						</td>
					</tr>
					{% endfor %}
					<tr>
						<th class="text-right">Total:</th>
						<td class="text-right">{{ invoice.val|number_format(3, '.', ' ') }} TND</td>
					</tr>
				</table>
			</div>
		</div>
		<!-- /.col -->
	</div>
</section>
</div>
</body>
{%endblock html_body%}

