{% extends 'AcfFrontBundle::front2.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/dataTables/dataTables.bootstrap.css'))}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/dataTables/jquery.dataTables.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/dataTables/dataTables.bootstrap.js'))}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	{% if callfortenders|length != 0 %}
	$('#callfortenderList').dataTable({
		"order": [[ 0, "desc" ]],
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{preload(asset('bundles/acfres/css/dataTables/i18n/'~app.request.locale~'.json'))}}'},
		{% endif %}
		"columns": [
			null,
			null,
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		],
		"pageLength": 10
	});
	{% endif %}
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('ao_front_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.ao'|trans|raw}}</a></li>
	<li><a href="{{ path('ao_front_categ_editGet', {'uid': subCateg.categ.id}) }}">{{faIco('object-ungroup')}} &nbsp; {{subCateg.categ.title}}</a></li>
	<li class="active"><a href="{{ path('ao_front_subcateg_editGet', {'uid': subCateg.id}) }}">{{faIco('object-group')}} &nbsp; {{subCateg.ref}} : {{subCateg.title}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">{{ 'AoCateg.tlabel.list'|trans|raw}}</h3>
			</div>
			<div class="box-body table-responsive">
				<table class="table table-bordered table-hover " id="callfortenderList">
					<thead>
						<tr>
							<th>{{ 'AoCallfortender.dtPublication.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.country.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.description.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.company.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.nature.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.dtEnd.label'|trans|raw }}</th>
							<th>{{ 'action'|trans|raw }}</th>
						</tr>
					</thead>
					<tbody>
					{% for callfortender in callfortenders %}
						<tr>
							<td>{% if callfortender.dtPublication is not empty %}{{callfortender.dtPublication|date('Y-m-d')}}{% endif %}</td>
							<td>{% if callfortender.country is not empty %}{{callfortender.country}}{% endif %}</td>
							<td>{% if callfortender.description is not empty %}{{callfortender.description|raw}}{% endif %}</td>
							<td>{% if callfortender.company is not empty %}{{callfortender.company}}{% endif %}</td>
							<td>{% if callfortender.nature is not empty %}{{('AoCallfortender.nature.'~callfortender.nature)|trans}}{% endif %}</td>
							<td>{% if callfortender.dtEnd is not empty %}{{callfortender.dtEnd|date('Y-m-d')}}{% endif %}</td>
							<td>
								<a class="btn btn-sm btn-info" href="{{path('ao_front_callfortender_editGet',{'uid':callfortender.id})}}">{{ glyphIco('eye-open') }} &nbsp; {{ 'action.show'|trans }}</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">{{ 'AoCallfortender.empty'|trans|raw }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
