{% extends 'AcfResBundle::base.html.twig' %}
{%if menu_active is not defined%}{%set menu_active=''%}{%endif%}
{%if smenu_active is not defined%}{%set smenu_active=''%}{%endif%}
{%if tabActive is not defined%}{%set tabActive=1%}{%endif%}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/theme/margo/style.css')}}">
{%endblock static_css%}
{%block end_static_js%} {{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/theme/margo/jquery.nicescroll.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/theme/margo/script.js')}}"></script>
{%endblock end_static_js%}
{%block html_body_content%}
<div id="container">


		{% block header %}
		<div class="hidden-header"></div>
		<header class="clearfix">

			{% block topbar %}
			<div class="top-bar">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="contact-details">
								<li><a>Société d'Expertise Comptable et de Commissariat aux Comptes</a>
								</li>
								<li><a href="{{ 'site.global.mailto'|trans }}"><i class="fa fa-envelope-o"></i> {{ 'site.global.mail'|trans }}</a>
								</li>
								<li><a href="{{ 'site.global.phone1.call'|trans }}"><i class="fa fa-phone"></i> {{ 'site.global.phone1'|trans }}</a>
								</li>
								<li><a href="{{ 'site.global.fax.call'|trans }}"><i class="fa fa-fax"></i> {{ 'site.global.fax'|trans }}</a>
								</li>
								<li><a>Votre Cabinet d'Expertise Comptable en ligne</a>
								</li>
								<li>
									<a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" href="{{ 'facebook.url'|trans }}" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a class="linkdin itl-tooltip" data-placement="bottom" title="Linkedin" href="{{ 'linkedin.url'|trans }}" target="_blank"><i class="fa fa-linkedin"></i></a>
								</li>
								<li>
									<a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" href="{{ 'twitter.url'|trans }}" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			{% endblock topbar %}


			<div class="navbar navbar-default navbar-top" id="navbar-menu">
				<div class="container">
					<div class="navbar-header">
						<!-- Stat Toggle Nav Link For Mobiles -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<i class="fa fa-bars"></i>
						</button>
						<!-- End Toggle Nav Link For Mobiles -->
						<a class="navbar-brand" href="{{ path('_front_homepage') }}">
							<img alt="Cabinet FAKHFAKH d'Expertise Comptable" src="{{asset('bundles/acfres/images/logo_acf.jpg')}}" width="220">
						</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="{{ path('_front_homepage')}}#home">{{ 'menu.top.home'|trans }}</a>
							</li>
							<li>
								<a href="{{ path('_front_homepage')}}#cabinet">{{ 'menu.top.cabinet'|trans }}</a>
							</li>
							<li>
								<a href="{{ path('_front_homepage')}}#valeurs">{{ 'menu.top.valeurs'|trans }}</a>
							</li>
							<li>
								<a href="{{ path('_front_homepage')}}#metier">{{ 'menu.top.metier'|trans }}</a>
								<ul class="dropdown">
									<li><a href="{{ path('_front_homepage')}}#metier1">{{ 'menu.top.metier1'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_homepage')}}#metier2">{{ 'menu.top.metier2'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_homepage')}}#metier3">{{ 'menu.top.metier3'|trans }}</a>
									</li>
									<li><a href="#metier4">{{ 'menu.top.metier4'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_homepage')}}#metier5">{{ 'menu.top.metier5'|trans }}</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="{{ path('_front_homepage')}}#contact">{{ 'menu.top.contact'|trans }}</a>
								<ul class="dropdown">
									<li><a href="{{ path('_front_homepage')}}#contact">{{ 'menu.top.contact1'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_homepage')}}#contact">{{ 'menu.top.contact2'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_homepage')}}#join">{{ 'menu.top.contact4'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_homepage')}}#map0">{{ 'menu.top.contact3'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_devis') }}">{{ 'menu.top.devis'|trans }}</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="{{ path('_front_basedoc')}}">{{ 'menu.top.basedoc'|trans }}</a>
								<ul class="dropdown">
									<li><a href="{{ path('_front_basedoc')}}#actus">{{ 'menu.top.basedoc1'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_basedoc')}}#links">{{ 'menu.top.basedoc2'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_basedoc')}}#bulltin">{{ 'menu.top.basedoc3'|trans }}</a>
									</li>
								</ul>
							</li>
							{{ include('AcfFrontBundle:Default:menu.html.twig') }}
						</ul>
						<!-- End Navigation List -->
					</div>
				</div>
			</div>
			<!-- End Header Logo & Naviagtion -->

		</header>
		{% endblock header %}

		{% block breadcrumb %}
		<div class="page-banner">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumbs">
							{%block breadcrumbcnt%}
							<li><a href="{{ path('_front_homepage') }}">{{ faIco('home') }} &nbsp; <i>Cabinet FAKHFAKH d'Expertise Comptable</i></a></li>
							<li class="active"><a href="{{ path('_front_basedoc') }}">{{ faIco('newspaper-o ') }} &nbsp; <i>Base Documentaire</i></a></li>
							{%endblock breadcrumbcnt%}
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% endblock breadcrumb %}
		{% block maincontainer %}
		<div id="content">
			<div class="container">
				<div class="row sidebar-page">
					<div class="col-md-12 page-content" id="actus">
						<br>
						<br>
						<br>
						<h4 class="classic-title"><span>FILS D'ACTUALITÉS</span></h4>
						{% if feeds| length != 0 %}
						<br>
						<br>
						<br>
						<div class="container">
							<div class="row">
								{% for feed in feeds %}
								<div class="col-md-12">
									<h5><a href="{{ feed.link }}">{{feed.title}}</a></h5>
									{%if feed.lastModified is not null %}<h6>{{ faIco('clock-o') }} {{ feed.lastModified|localeDate('short', 'short') }}</h6>{% endif %}
									<br>
									<br>
									{% if feed.hasMedia %}
									{% for media in feed.medias %}
									<img alt="{{feed.title}}" src="{{ media.url }}" class="img-responsive"><br><br>
									{% endfor %}
									{% endif %}
									{{ feed.description | raw}}
									<br>
								</div>
								<div class="col-md-12">
									<br>
									<hr>
								</div>
								{% endfor %}
							</div>
						</div>
						{% else %}
						<p>Aucune Actualité disponible pour le moment</p>
						<br>
						<br>
						<br>
						{% endif %}
					</div>
					<div class="col-md-12 page-content" id="links">
						<br>
						<br>
						<br>
						<h4 class="classic-title"><span>LIENS UTILES / BASE DOCUMENTAIRE</span></h4>
						<div id="links1"></div>
						<br>
						<br>
						<br>
						<h5 class="classic-title"><span>LIENS UTILES</span></h5>
						{% if links|length != 0 %}
						{% for link in links %}
						<ul>
							<li>{{ link.title }} - <a href="{{ path('_front_extlnk', {'uid': link.id}) }}"> {{ link.url }} </a> </li>
						</ul>
						{% endfor %}
						{% endif %}
						<div id="links2"></div>
						<br>
						<br>
						<br>
						<h5 class="classic-title"><span>INFORMATIONS UTILES</span></h5>
						{% if docs|length != 0 %}
						{% for doc in docs %}
						<ul>
							<li>{{ doc.title }} - <a href="{{ path('_front_gooddoc', {'uid': doc.id}) }}" class="btn btn-primary"> Télécharger </a> </li>
						</ul>
						{% endfor %}
						{% endif %}
					</div>
					<div class="col-md-12 page-content" id="bulltin">
						<br>
						<br>
						<br>
						<h4 class="classic-title"><span>Bulletin ACEF Info</span></h4>
						<div id="bulltin1"></div>
						<br>
						<br>
						<br>
						<h5 class="classic-title"><span>Présentation du bulletin d'information</span></h5>
						<p>
							ACEF Info est un bulletin d'information en ligne qui regroupe des informations sur l'actualité comptable, juridique, fiscale et sociale.
						</p>
						<div id="bulltin2"></div>
						<br>
						<br>
						<br>
						<h5 class="classic-title"><span>Abonnement d'accès</span></h5>
						<p>
							Abonnez-vous au bulletin d'information ACEF Info et soyez informé de toutes les actualiltés touchant votre entreprise.
						</p>
						<p>
							Pour vous inscrire à ACEF Info, il suffit de remplir le formulaire <a href="{{ path('_security_register')}}">suivant</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
		{% endblock maincontainer %}




		{% block footer %}
		<!-- Start Footer Section -->
		<footer>
			<div class="container">
				<div class="row footer-widgets">


					<div class="col-md-2 col-xs-12">
						<div class="footer-widget mail-subscribe-widget">
							<h4>{{ 'menu.bottom.links'|trans }}<span class="head-line"></span></h4>
							<ul>
								<li>
									<a href="{{ path('_front_homepage')}}#home">{{ 'menu.footer.home'|trans }}</a>
								</li>
								<li>
									<a href="{{ path('_front_homepage')}}#cabinet">{{ 'menu.footer.cabinet'|trans }}</a>
								</li>
								<li>
									<a href="{{ path('_front_homepage')}}#valeurs">{{ 'menu.footer.valeurs'|trans }}</a>
								</li>
								<li>
									<a href="{{ path('_front_homepage')}}#metier">{{ 'menu.footer.metier'|trans }}</a>
								</li>
								<li>
									<a href="{{ path('_front_homepage')}}#contact">{{ 'menu.footer.contact'|trans }}</a>
								</li>
								<li>
									<a href="{{ path('_front_basedoc')}}">{{ 'menu.footer.basedoc'|trans }}</a>
								</li>
								{% if is_granted('ROLE_USER') %}
								<li>
									<a href="{{ path('_security_profile') }}">
										{{ 'menu.footer.profile'|trans }}
									</a>
								</li>
								<li>
									<a href="{{ path('_security_logout') }}">
										{{ 'menu.footer.logout'|trans }}
									</a>
								</li>
								{% else %}
								<li>
									<a href="{{ path('_security_login') }}">
										{{ 'menu.footer.login'|trans }}
									</a>
								</li>
								{% endif %}
							</ul>
						</div>
					</div>


					<!-- Start Contact Widget -->
					<div class="col-md-6 col-xs-12">
						<div class="footer-widget contact-widget">
							<h3>{{ 'site.global.addr.title'|trans }}</h3>
							<br>
							<ul>
								<li><i class="fa fa-map-marker"></i>&nbsp;&nbsp; {{ 'site.global.addr'|trans }}
								</li>
								<li><a href="{{ 'site.global.mailto'|trans }}"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; {{ 'site.global.mail'|trans }}</a>
								</li>
								<li><a href="{{ 'site.global.phone1.call'|trans }}"><i class="fa fa-phone"></i>&nbsp;&nbsp; {{ 'site.global.phone1'|trans }}</a>
								</li>
								<li><a href="{{ 'site.global.fax.call'|trans }}"><i class="fa fa-fax"></i>&nbsp;&nbsp; {{ 'site.global.fax'|trans }}</a>
								</li>
							</ul>
						</div>
					</div><!-- .col-md-3 -->
					<!-- End Contact Widget -->


					<!-- Start Subscribe & Social Links Widget -->
					<div class="col-md-4 col-xs-12">
						<div class="footer-widget social-widget">
							<h4><img alt="Acf" src="{{asset('bundles/acfres/images/logo_acf_footer.jpg')}}" class="img"></h4>
							<br><br>
							<h4>{{ 'bottom.followus'|trans }}<span class="head-line"></span></h4>
							<ul class="social-icons">
								<li>
									<a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" href="{{ 'facebook.url'|trans }}" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a class="linkdin itl-tooltip" data-placement="bottom" title="Linkedin" href="{{ 'linkedin.url'|trans }}" target="_blank"><i class="fa fa-linkedin"></i></a>
								</li>
								<li>
									<a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" href="{{ 'twitter.url'|trans }}" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a class="google itl-tooltip" data-placement="bottom" title="Google Plus" href="{{ 'googleplus.url'|trans }}" target="_blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a class="skype itl-tooltip" data-placement="bottom" title="Skype" href="{{ 'skype.url'|trans }}" target="_blank"><i class="fa fa-skype"></i></a>
								</li>
							</ul>
						</div>
					</div><!-- .col-md-3 -->
					<!-- End Subscribe & Social Links Widget -->


				</div><!-- .row -->

				<!-- Start Copyright -->
				<div class="copyright-section">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center"> {{ 'now'|date('Y') }} acf-expert.tn -  All Rights Reserved <a href="//acf-expert.tn">ACEF <i style="font-size:xx-small;">Expert</i></a> </p>
						</div>
					</div>
				</div>

			</div>
		</footer>
		{% endblock footer %}


	</div>
	<!-- End Full Body Container -->

	<!-- Go To Top Link -->
	<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

	<div id="loader">
		<div class="spinner">
			<div class="dot1"></div>
			<div class="dot2"></div>
		</div>
	</div>
{%endblock html_body_content%}
