{% extends 'AcfResBundle::base.html.twig' %}
{%if menu_active is not defined%}{%set menu_active=''%}{%endif%}
{%if smenu_active is not defined%}{%set smenu_active=''%}{%endif%}
{%if tabActive is not defined%}{%set tabActive=1%}{%endif%}

{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/theme/margo/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/datetimepicker/2.3.1.css')}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/theme/margo/jquery.nicescroll.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/theme/margo/script.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/datetimepicker/2.3.1.js')}}"></script>
{%if app.request.locale != 'en'%}
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/datetimepicker/locales/2.3.1.'~app.request.locale~'.js')}}"></script>
{% endif %}
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('#DevisNewForm_dtActivation').datetimepicker({
		weekStart: 1,
		startView: 4,
		minView: 2,
		autoclose: true,
		todayHighlight: true,
		language: "{{app.request.locale}}",
		format: 'yyyy-mm-dd'
	});


});
{%endblock end2_dynamic_jstxt%}
{%block html_body_content%}
<div id="container">


		{% block header %}
		<div class="hidden-header"></div>
		<header class="clearfix">

			{% block topbar %}
			<div class="top-bar">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="contact-details">
								<li><a>Cabinet FAKHFAKH d'Expertise Comptable</a>
								</li>
								<li><a href="{{ 'site.global.mailto'|trans }}"><i class="fa fa-envelope-o"></i> {{ 'site.global.mail'|trans }}</a>
								</li>
								<li><a href="{{ 'site.global.phone1.call'|trans }}"><i class="fa fa-phone"></i> {{ 'site.global.phone1'|trans }}</a>
								</li>
								<li><a href="{{ 'site.global.fax.call'|trans }}"><i class="fa fa-fax"></i> {{ 'site.global.fax'|trans }}</a>
								</li>
								<li><a>Votre Cabinet d'Expertise Comptable en ligne</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			{% endblock topbar %}


			<div class="navbar navbar-default navbar-top" id="navbar-menu">
				<div class="container">
					<div class="navbar-header">
						<!-- Stat Toggle Nav Link For Mobiles -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<i class="fa fa-bars"></i>
						</button>
						<!-- End Toggle Nav Link For Mobiles -->
						<a class="navbar-brand" href="{{ path('_front_homepage') }}">
							<img alt="Cabinet FAKHFAKH d'Expertise Comptable" src="{{asset('bundles/acfres/images/logo_acf.jpg')}}">
						</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="{{ path('_front_homepage')}}#home">{{ 'menu.top.home'|trans }}</a>
							</li>
							<li>
								<a href="{{ path('_front_homepage')}}#cabinet">{{ 'menu.top.cabinet'|trans }}</a>
							</li>
							<li>
								<a href="{{ path('_front_homepage')}}#valeurs">{{ 'menu.top.valeurs'|trans }}</a>
							</li>
							<li>
								<a href="{{ path('_front_homepage')}}#metier">{{ 'menu.top.metier'|trans }}</a>
								<ul class="dropdown">
									<li><a href="{{ path('_front_homepage')}}#metier1">{{ 'menu.top.metier1'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_homepage')}}#metier2">{{ 'menu.top.metier2'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_homepage')}}#metier3">{{ 'menu.top.metier3'|trans }}</a>
									</li>
									<li><a href="#metier4">{{ 'menu.top.metier4'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_homepage')}}#metier5">{{ 'menu.top.metier5'|trans }}</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="{{ path('_front_homepage')}}#contact">{{ 'menu.top.contact'|trans }}</a>
								<ul class="dropdown">
									<li><a href="{{ path('_front_homepage')}}#contact">{{ 'menu.top.contact1'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_homepage')}}#contact">{{ 'menu.top.contact2'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_homepage')}}#map0">{{ 'menu.top.contact3'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_devis') }}">{{ 'menu.top.devis'|trans }}</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="{{ path('_front_basedoc')}}">{{ 'menu.top.basedoc'|trans }}</a>
								<ul class="dropdown">
									<li><a href="{{ path('_front_basedoc')}}#actus">{{ 'menu.top.basedoc1'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_basedoc')}}#links">{{ 'menu.top.basedoc2'|trans }}</a>
									</li>
									<li><a href="{{ path('_front_basedoc')}}#bulltin">{{ 'menu.top.basedoc3'|trans }}</a>
									</li>
								</ul>
							</li>
							{{ include('AcfFrontBundle:Default:menu.html.twig') }}
						</ul>
						<!-- End Navigation List -->
					</div>
				</div>
			</div>
			<!-- End Header Logo & Naviagtion -->

		</header>
		{% endblock header %}

		{% block breadcrumb %}
		<div class="page-banner">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumbs">
							{%block breadcrumbcnt%}
							<li><a href="{{ path('_front_homepage') }}">{{ faIco('home') }} &nbsp; <i>Cabinet FAKHFAKH d'Expertise Comptable</i></a></li>
							<li class="active"><a href="{{ path('_front_devis') }}">{{ faIco('shopping-cart') }} &nbsp; <i>Demande de Devis</i></a></li>
							{%endblock breadcrumbcnt%}
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% endblock breadcrumb %}
		{% block maincontainer %}
		<div id="content">
			<div class="container">
				<div class="row sidebar-page">
					<div class="col-md-12 page-content" id="actus">
						<br>
						<br>
						<br>
						<h4 class="classic-title"><span>Demande de Devis</span></h4>
						<br>
						<br>
						<br>
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<h5>Devis personnalisé</h5>
									<p class="text-justify">Plus besoin de vous déplacer ! Fini les soucis d’acheminement de vos documents au cabinet de votre expert-comptable ! L’application « ACF Cloud » vous assure un service confortable et de très haute qualité. Ainsi, tous vos documents seront acheminés à notre cabinet via votre espace client privé.</p>
									<h4>VOS ENGAGEMENTS :</h4>
									<ul>
										<li>Scannez vos documents comptables (factures, tickets, relevés bancaires, etc. …).</li>
										<li>Télécharger ces pièces via votre espace privé dédié (vous assurant ainsi une sauvegarde type GED de vos pièces justificatives et consultation 24h/24h et 7j/7j).</li>
										<li>Souscrire un abonnement de télédéclaration fiscale et sociale via internet auprès de l’ANCE</li>
									</ul>
									<br/>
									<h4>NOS ENGAGEMENTS :</h4>
									<ul>
										<li>Traitons votre comptabilité dans le respect des règles déontologiques en vigueur (secret professionnel, etc. …).</li>
										<li>Etablissons les déclarations fiscales et sociales obligatoires .</li>
									</ul>
									<br/>
									<p class="text-justify">
									Pour recevoir votre devis gratuit personnalisé, complétez le formulaire ci-dessous :
									</p>
									{%include 'SasedevCommonsBootstrapBundle::flash.html.twig' with { 'close': false }%}
									{{form_start(DevisNewForm, {'method':'POST', 'action': path('_front_devis_post'), 'style': 'vertical'})}}
									{{form_row(DevisNewForm.lastname, {'label_col': 3, 'widget_col': 8})}}
									{{form_row(DevisNewForm.firstname, {'label_col': 3, 'widget_col': 8})}}
									{{form_row(DevisNewForm.email, {'label_col': 3, 'widget_col': 8})}}
									{{form_row(DevisNewForm.phone, {'label_col': 3, 'widget_col': 8})}}
									<p class="text-justify">
									Pour nous permettre de mieux personnaliser votre devis, merci de renseigner les demandes d'informations suivantes :
									</p>
									{{form_row(DevisNewForm.entreprise, {'label_col': 3, 'widget_col': 8})}}
									{{form_row(DevisNewForm.entrepriseForm, {'label_col': 3, 'widget_col': 8})}}
									{{form_row(DevisNewForm.activity, {'label_col': 3, 'widget_col': 8})}}
									{{form_row(DevisNewForm.dtActivation, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(DevisNewForm.address, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(DevisNewForm.zipCode, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(DevisNewForm.town, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(DevisNewForm.caYear, {'label_col': 3, 'widget_col': 8, 'input_group':{'append':'TND'} })}}
									{{form_row(DevisNewForm.nbrInvoicesBuy, {'label_col': 3, 'widget_col': 8})}}
									{{form_row(DevisNewForm.nbrInvoicesSale, {'label_col': 3, 'widget_col': 8})}}
									{{form_row(DevisNewForm.nbrSalaries, {'label_col': 3, 'widget_col': 8})}}
									{{form_row(DevisNewForm.hasexpert, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(DevisNewForm.otherInfos, {'label_col': 3, 'widget_col': 8, 'attr': {'class':'wysiwyg'}})}}
									<div class="form-group"><div class="col-lg-offset-4 col-lg-8"><button class="btn-primary btn" type="submit">{{glyphIco('envelope')}} Valider et Envoyer</button></div></div>
									{{form_end(DevisNewForm)}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endblock maincontainer %}




		{% block footer %}
		<!-- Start Footer Section -->
		<footer>
			<div class="container">
				<div class="row footer-widgets">


					<div class="col-md-2 col-xs-12">
						<div class="footer-widget mail-subscribe-widget">
							<h4>{{ 'menu.bottom.links'|trans }}<span class="head-line"></span></h4>
							<ul>
								<li>
									<a href="{{ path('_front_homepage')}}#home">{{ 'menu.footer.home'|trans }}</a>
								</li>
								<li>
									<a href="{{ path('_front_homepage')}}#cabinet">{{ 'menu.footer.cabinet'|trans }}</a>
								</li>
								<li>
									<a href="{{ path('_front_homepage')}}#valeurs">{{ 'menu.footer.valeurs'|trans }}</a>
								</li>
								<li>
									<a href="{{ path('_front_homepage')}}#metier">{{ 'menu.footer.metier'|trans }}</a>
								</li>
								<li>
									<a href="{{ path('_front_homepage')}}#contact">{{ 'menu.footer.contact'|trans }}</a>
								</li>
								<li>
									<a href="{{ path('_front_basedoc')}}">{{ 'menu.footer.basedoc'|trans }}</a>
								</li>
								<li>
									<a href="{{ path('_front_devis')}}">{{ 'menu.footer.devis'|trans }}</a>
								</li>
								{% if is_granted('ROLE_USER') %}
								<li>
									<a href="{{ path('_security_profile') }}">
										{{ 'menu.footer.profile'|trans }}
									</a>
								</li>
								<li>
									<a href="{{ path('_security_logout') }}">
										{{ 'menu.footer.logout'|trans }}
									</a>
								</li>
								{% else %}
								<li>
									<a href="{{ path('_security_login') }}">
										{{ 'menu.footer.login'|trans }}
									</a>
								</li>
								{% endif %}
							</ul>
						</div>
					</div>


					<!-- Start Contact Widget -->
					<div class="col-md-6 col-xs-12">
						<div class="footer-widget contact-widget">
							<h3>{{ 'site.global.addr.title'|trans }}</h3>
							<br>
							<ul>
								<li><i class="fa fa-map-marker"></i>&nbsp;&nbsp; {{ 'site.global.addr'|trans }}
								</li>
								<li><a href="{{ 'site.global.mailto'|trans }}"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; {{ 'site.global.mail'|trans }}</a>
								</li>
								<li><a href="{{ 'site.global.phone1.call'|trans }}"><i class="fa fa-phone"></i>&nbsp;&nbsp; {{ 'site.global.phone1'|trans }}</a>
								</li>
								<li><a href="{{ 'site.global.fax.call'|trans }}"><i class="fa fa-fax"></i>&nbsp;&nbsp; {{ 'site.global.fax'|trans }}</a>
								</li>
							</ul>
						</div>
					</div><!-- .col-md-3 -->
					<!-- End Contact Widget -->


					<!-- Start Subscribe & Social Links Widget -->
					<div class="col-md-4 col-xs-12">
						<div class="footer-widget social-widget">
							<h4><img alt="Acf" src="{{asset('bundles/acfres/images/logo_acf_footer.jpg')}}" class="img"></h4>
							<br><br>
							<h4>{{ 'bottom.followus'|trans }}<span class="head-line"></span></h4>
							<ul class="social-icons">
								<li>
									<a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" href="{{ 'facebook.url'|trans }}" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a class="linkdin itl-tooltip" data-placement="bottom" title="Linkedin" href="{{ 'linkedin.url'|trans }}" target="_blank"><i class="fa fa-linkedin"></i></a>
								</li>
								<li>
									<a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" href="{{ 'twitter.url'|trans }}" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a class="google itl-tooltip" data-placement="bottom" title="Google Plus" href="{{ 'googleplus.url'|trans }}" target="_blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a class="skype itl-tooltip" data-placement="bottom" title="Skype" href="{{ 'skype.url'|trans }}" target="_blank"><i class="fa fa-skype"></i></a>
								</li>
							</ul>
						</div>
					</div><!-- .col-md-3 -->
					<!-- End Subscribe & Social Links Widget -->


				</div><!-- .row -->

				<!-- Start Copyright -->
				<div class="copyright-section">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center"> {{ 'now'|date('Y') }} acf-expert.tn -  All Rights Reserved <a href="//acf-expert.tn">ACF <i style="font-size:xx-small;">Expert</i></a> </p>
						</div>
					</div>
				</div>

			</div>
		</footer>
		{% endblock footer %}


	</div>
	<!-- End Full Body Container -->

	<!-- Go To Top Link -->
	<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

	<div id="loader">
		<div class="spinner">
			<div class="dot1"></div>
			<div class="dot2"></div>
		</div>
	</div>
{%endblock html_body_content%}
