{% extends 'AcfResBundle::base.html.twig' %}
{%if menu_active is not defined%}
{%set menu_active=''%}
{%endif%}
{%if smenu_active is not defined%}
{%set smenu_active=''%}
{%endif%}
{%if tabActive is not defined%}
{%set tabActive=1%}
{%endif%}
{%block static_css%}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ preload(asset('bundles/acfres/css/theme/AdminLTE/AdminLTE.css'))}}">
<link rel="stylesheet" type="text/css" href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ preload(asset('bundles/acfres/css/theme/AdminLTE/skins/_all-skins.css'))}}">
{%endblock static_css%}
{%block html_body%}
<body class="skin-blue">
	<div class="wrapper">
		<div class="content-wrapper2">
			<section id="content" class="content">
				<div class="row">
					<div class="col-lg-12">
						<div class="box box-primary">
							<div class="box-body">
								<div class="row">
									<div class="col-lg-6 text-left">
										<a href="{{ path('_front_appelsdoffres') }}" class="center-block"><img
											src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ preload(asset('bundles/acfres/images/logo_ao.jpg'))}}" alt="{{ sitename }}" class="img-responsive"
											style="width: 200px"
										></a>
									</div>
									<div class="col-lg-6 text-right">
										<a href="{{ path('_front_homepage') }}" class="center-block"><img
											src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ preload(asset('bundles/acfres/images/logo_acf.jpg'))}}" alt="{{ sitename }}" class="img-responsive"
											style="width: 200px"
										></a>
									</div>
								</div>
							</div>
							<div class="box-header">
								<h2 class="text-center">
									{{('AoAdvertisement.aoVe.'~advertisement.aoVe)|trans}}
									:
									{{advertisement.ref}}
								</h2>
							</div>
							<div class="box-body">
								{% if advertisement.description is not empty %}
								<div class="row">
									<div class="col-lg-12">
										{{advertisement.description|raw}}
										&nbsp;
									</div>
									<div class="col-lg-12">&nbsp;</div>
								</div>
								<br>
								{% endif %}
								<div class="row">
									<div class="col-lg-6">
										<div class="row">
											<div class="col-lg-4">
												<b>{{'AoAdvertisement.nature'|trans|raw}} :</b>
											</div>
											<div class="col-lg-8">
												{% if advertisement.nature is not empty %}
												{{('AoAdvertisement.nature.'~advertisement.nature)|trans}}
												{%else%}
												{{'_NA'|trans}}
												{% endif %}
												&nbsp;
											</div>
											<div class="col-lg-4">
												<b>{{'AoAdvertisement.country'|trans|raw}} :</b>
											</div>
											<div class="col-lg-8">
												{% if advertisement.country is not empty %}
												{{advertisement.country}}
												{%else%}
												{{'_NA'|trans}}
												{% endif %}
												&nbsp;
											</div>
											<div class="col-lg-4">
												<b>{{'AoAdvertisement.company'|trans|raw}} :</b>
											</div>
											<div class="col-lg-8">
												{% if advertisement.company is not empty %}
												{{advertisement.company}}
												{%else%}
												{{'_NA'|trans}}
												{% endif %}
												&nbsp;
											</div>
											<div class="col-lg-12">&nbsp;</div>
										</div>
										<div class="row">
											<div class="col-lg-4">
												<b>{{'AoAdvertisement.aoVe'|trans|raw}} :</b>
											</div>
											<div class="col-lg-8">
												{% if advertisement.aoVe is not empty %}
												{{('AoAdvertisement.aoVe.'~advertisement.aoVe)|trans}}
												{%else%}
												{{'_NA'|trans}}
												{% endif %}
												&nbsp;
											</div>
											<div class="col-lg-4">
												<b>{{'AoAdvertisement.typeAvis'|trans|raw}} :</b>
											</div>
											<div class="col-lg-8">
												{% if advertisement.typeAvis is not empty %}
												{{('AoAdvertisement.typeAvis.'~advertisement.typeAvis)|trans}}
												{%else%}
												{{'_NA'|trans}}
												{% endif %}
												&nbsp;
											</div>
											<div class="col-lg-12">&nbsp;</div>
										</div>
										<div class="row">
											<div class="col-lg-4">
												<b>{{'AoAdvertisement.dtOpen'|trans|raw}} :</b>
											</div>
											<div class="col-lg-8">
												{% if advertisement.dtOpen is not empty %}
												{{advertisement.dtOpen|localeDate('medium')}}
												{%else%}
												{{'_NA'|trans}}
												{% endif %}
												&nbsp;
											</div>
											<div class="col-lg-12">&nbsp;</div>
										</div>
										<div class="row">
											<div class="col-lg-4">
												<b>{{'AoAdvertisement.adress'|trans|raw}} :</b>
											</div>
											<div class="col-lg-8">
												{% if advertisement.adress is not empty %}
												{{advertisement.adress}}
												{%else%}
												{{'_NA'|trans}}
												{% endif %}
												&nbsp;
											</div>
											<div class="col-lg-4">
												<b>{{'AoAdvertisement.price'|trans|raw}} :</b>
											</div>
											<div class="col-lg-8">
												{% if advertisement.price is not empty %}
												{{advertisement.price}}
												{%else%}
												{{'_NA'|trans}}
												{% endif %}
												&nbsp;
											</div>
											<div class="col-lg-12">&nbsp;</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="row">
											<div class="col-lg-4">
												<b>{{'AoAdvertisement.categ'|trans|raw}} :</b>
											</div>
											<div class="col-lg-8">
												{{ advertisement.grp.categ.title }}
												&nbsp;
											</div>
											<div class="col-lg-4">
												<b>{{'AoAdvertisement.grp'|trans|raw}} :</b>
											</div>
											<div class="col-lg-8">
												{{ advertisement.grp.title }}
												&nbsp;
											</div>
											<div class="col-lg-12">&nbsp;</div>
										</div>
										<div class="row">
											<div class="col-lg-4">
												<b>{{'AoAdvertisement.dtPublication'|trans|raw}} :</b>
											</div>
											<div class="col-lg-8">
												{% if advertisement.dtPublication is not empty %}
												{{advertisement.dtPublication|localeDate('full')}}
												{%else%}
												{{'_NA'|trans}}
												{% endif %}
												&nbsp;
											</div>
											<div class="col-lg-4">
												<b>{{'AoAdvertisement.dtEnd'|trans|raw}} :</b>
											</div>
											<div class="col-lg-8">
												{% if advertisement.dtEnd is not empty %}
												{{advertisement.dtEnd|localeDate('full')}}
												{%else%}
												{{'_NA'|trans}}
												{% endif %}
												&nbsp;
											</div>
											<div class="col-lg-12">&nbsp;</div>
										</div>
										<div class="row">
											<div class="col-lg-4">
												<b>{{'AoAdvertisement.source'|trans|raw}} :</b>
											</div>
											<div class="col-lg-8">
												{% if advertisement.source is not empty %}
												{{advertisement.source}}
												{%else%}
												{{'_NA'|trans}}
												{% endif %}
												&nbsp;
											</div>
											<div class="col-lg-4">
												<b>{{'AoAdvertisement.addRef'|trans|raw}} :</b>
											</div>
											<div class="col-lg-8">
												{% if advertisement.addRef is not empty %}
												{{advertisement.addRef}}
												{%else%}
												{{'_NA'|trans}}
												{% endif %}
												&nbsp;
											</div>
											<div class="col-lg-12">&nbsp;</div>
										</div>
									</div>
									{% if advertisement.img is not empty %}
									<div class="col-lg-12">
										<img src="/res/AoVe/{{advertisement.img}}" class="img-responsive img-thumbnail center-block">
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer class="main-footer2">
			<strong>Copyright &copy; {{ 'now'|date('Y') }} <a href="{{ url('_front_homepage') }}">ACEF-expert</a>.
			</strong> All rights reserved.
		</footer>
	</div>
</body>
{%endblock html_body%}
