{% extends 'AcfFrontBundle::front2.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.6/css/fileinput.min.css" integrity="sha256-FFSM4VM14HIuh6A+55Bm30Tx3MOod3aE/42URhyXmK4=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap.min.css" integrity="sha256-PbaYLBab86/uCEz3diunGMEYvjah3uDFIiID+jAtIfw=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal-bs3patch.min.css" integrity="sha256-8qPt0X/JAwhOGkBVHs+gP6PjHgtLBJihYlHMKRQQ8uU=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal.min.css" integrity="sha256-Ad60rSeqfXQzkDAmvKgT7Zm5lgfVJ1dMAwNBCD4rtt4=" crossorigin="anonymous" />
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.14.0/js/canvas-to-blob.min.js" integrity="sha256-CeBz6ph2imsCxljJfaQYaMRiRYRtW/TP5kH7REY3qvQ=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.6/js/fileinput.min.js" integrity="sha256-jtXvZtRp0EH9FQhoxYXC0m0H9DhtdDwy1XulOog27Hc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js" integrity="sha256-qcV1wr+bn4NoBtxYqghmy1WIBvxeoe8vQlCowLG+cng=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap.min.js" integrity="sha256-X/58s5WblGMAw9SpDtqnV8dLRNCawsyGwNqnZD0Je/s=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modalmanager.min.js" integrity="sha256-aMqdmRN7/t5KwLKoJTkwFCaRYhw82cZQu9FT7ZEkb9g=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modal.min.js" integrity="sha256-UEFikFBinV4tAScIYbW3+7BCI2zpM74VWtUa1MIR738=" crossorigin="anonymous"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	
	$("#AoCallfortenderImportForm_excel").fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Excel", browseIcon: '{{faIco('folder-open')}}', remove1Class: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});
	
	$("#AoAuctionImportForm_excel").fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Excel", browseIcon: '{{faIco('folder-open')}}', remove1Class: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});
	
	{% if callfortenders|length != 0 %}
	$('#callfortenderList').dataTable({
		"order": [[ 0, "desc" ]],
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{preload(asset('bundles/acfres/json/dataTables/i18n/'~app.request.locale~'.json'))}}'},
		{% endif %}
		"columns": [
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		],
		"pageLength": 10,
		fnDrawCallback : function() {
			$('.deleteConfirmCallfortender').on("click", function(e) {
				e.preventDefault();
				var lnk = $(this).attr('href');
				modalDeleteBtn = $('#deleteConfirmCallfortender').find('.danger');
				modalDeleteBtn.attr('href', lnk);
				$('#deleteConfirmCallfortender').modal('show');
			});
		}
	});
	{% endif %}
	
	{% if auctions|length != 0 %}
	$('#auctionList').dataTable({
		"order": [[ 0, "desc" ]],
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{preload(asset('bundles/acfres/json/dataTables/i18n/'~app.request.locale~'.json'))}}'},
		{% endif %}
		"columns": [
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		],
		"pageLength": 10,
		fnDrawCallback : function() {
			$('.deleteConfirmAuction').on("click", function(e) {
				e.preventDefault();
				var lnk = $(this).attr('href');
				modalDeleteBtn = $('#deleteConfirmAuction').find('.danger');
				modalDeleteBtn.attr('href', lnk);
				$('#deleteConfirmAuction').modal('show');
			});
		}
	});
	{% endif %}
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li class="active"><a href="{{ path('aove_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.adminaove'|trans|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		{% for flashMessage in app.session.flashbag.get('log') %}
		<div class="callout callout-info">
		{{ flashMessage|raw }}
		</div>
		{% endfor %}
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">{{ 'AoCallfortender.tlabel.import'|trans|raw}}</h3>
			</div>
			<div class="box-body">
				{{form_start(CallfortenderImportForm, {'method':'POST', 'action': path('aove_admin_homepage'), 'style': 'horizontal'})}}
				{{form_row(CallfortenderImportForm.excel, {'label_col': 3, 'widget_col': 8})}}
				<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnExcel'|trans|raw}}</button></div></div>
				{{form_end(CallfortenderImportForm)}}
			</div>
		</div>
		{% for flashMessage in app.session.flashbag.get('log2') %}
		<div class="callout callout-info">
		{{ flashMessage|raw }}
		</div>
		{% endfor %}
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">{{ 'AoAuction.tlabel.import'|trans|raw}}</h3>
			</div>
			<div class="box-body">
				{{form_start(AuctionImportForm, {'method':'POST', 'action': path('aove_admin_homepage'), 'style': 'horizontal'})}}
				{{form_row(AuctionImportForm.excel, {'label_col': 3, 'widget_col': 8})}}
				<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnExcel'|trans|raw}}</button></div></div>
				{{form_end(AuctionImportForm)}}
			</div>
		</div>
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">{{ 'AoCallfortender.tlabel.list'|trans|raw}}</h3>
			</div>
			<div class="box-body table-responsive">
				<table class="table table-bordered table-hover " id="callfortenderList">
					<thead>
						<tr>
							<th>{{ 'AoCallfortender.ref.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.dtPublication.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.country.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.description.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.company.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.nature.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.dtEnd.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.grp.label'|trans|raw }}</th>
							<th>{{ 'action'|trans|raw }}</th>
						</tr>
					</thead>
					<tbody>
					{% for callfortender in callfortenders %}
						<tr>
							<td>{% if callfortender.ref is not empty %}{{callfortender.ref}}{% endif %}</td>
							<td>{% if callfortender.dtPublication is not empty %}{{callfortender.dtPublication|date('Y-m-d')}}{% endif %}</td>
							<td>{% if callfortender.country is not empty %}{{callfortender.country}}{% endif %}</td>
							<td>{% if callfortender.description is not empty %}{{callfortender.description|raw}}{% endif %}</td>
							<td>{% if callfortender.company is not empty %}{{callfortender.company}}{% endif %}</td>
							<td>{% if callfortender.nature is not empty %}{{('AoCallfortender.nature.'~callfortender.nature)|trans}}{% endif %}</td>
							<td>{% if callfortender.dtEnd is not empty %}{{callfortender.dtEnd|date('Y-m-d')}}{% endif %}</td>
							<td><a href="{{ path('aove_admin_categ_editGet', {'uid': callfortender.grp.categ.id}) }}">{{ callfortender.grp.categ.title }}</a> / <a href="{{ path('aove_admin_subcateg_editGet', {'uid': callfortender.grp.id}) }}">{{ callfortender.grp.ref }} - {{ callfortender.grp.title }}</a></td>
							<td>
								<a class="btn btn-sm btn-info" href="{{path('aove_admin_callfortender_editGet',{'uid':callfortender.id})}}">{{ glyphIco('eye-open') }} &nbsp; {{ 'action.show'|trans }}</a>
								{%if is_granted('ROLE_SUPERADMIN')%}
								<a class="btn btn-sm btn-danger deleteConfirmCallfortender" href="{{path('aove_admin_callfortender_delete',{'uid':callfortender.id})}}">{{ glyphIco('trash') }} {{ 'action.delete'|trans }}</a>
								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="9">{{ 'AoCallfortender.empty'|trans|raw }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">{{ 'AoAuction.tlabel.list'|trans|raw}}</h3>
			</div>
			<div class="box-body table-responsive">
				<table class="table table-bordered table-hover " id="auctionList">
					<thead>
						<tr>
							<th>{{ 'AoAuction.ref.label'|trans|raw }}</th>
							<th>{{ 'AoAuction.dtPublication.label'|trans|raw }}</th>
							<th>{{ 'AoAuction.country.label'|trans|raw }}</th>
							<th>{{ 'AoAuction.description.label'|trans|raw }}</th>
							<th>{{ 'AoAuction.company.label'|trans|raw }}</th>
							<th>{{ 'AoAuction.nature.label'|trans|raw }}</th>
							<th>{{ 'AoAuction.dtEnd.label'|trans|raw }}</th>
							<th>{{ 'action'|trans|raw }}</th>
						</tr>
					</thead>
					<tbody>
					{% for auction in auctions %}
						<tr>
							<td>{% if auction.ref is not empty %}{{auction.ref}}{% endif %}</td>
							<td>{% if auction.dtPublication is not empty %}{{auction.dtPublication|date('Y-m-d')}}{% endif %}</td>
							<td>{% if auction.country is not empty %}{{auction.country}}{% endif %}</td>
							<td>{% if auction.description is not empty %}{{auction.description|raw}}{% endif %}</td>
							<td>{% if auction.company is not empty %}{{auction.company}}{% endif %}</td>
							<td>{% if auction.nature is not empty %}{{('AoAuction.nature.'~auction.nature)|trans}}{% endif %}</td>
							<td>{% if auction.dtEnd is not empty %}{{auction.dtEnd|date('Y-m-d')}}{% endif %}</td>
							<td>
								<a class="btn btn-sm btn-info" href="{{path('aove_admin_auction_editGet',{'uid':auction.id})}}">{{ glyphIco('eye-open') }} &nbsp; {{ 'action.show'|trans }}</a>
								{%if is_granted('ROLE_SUPERADMIN')%}
								<a class="btn btn-sm btn-danger deleteConfirmAuction" href="{{path('aove_admin_auction_delete',{'uid':auction.id})}}">{{ glyphIco('trash') }} {{ 'action.delete'|trans }}</a>
								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="8">{{ 'AoAuction.empty'|trans|raw }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="deleteConfirmCallfortender" class="modal fade in" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="text-center">{{'AoCallfortender.delete.confirm.title'|trans|raw}}</h3>
	</div>
	<div class="modal-body">
		{{'AoCallfortender.delete.confirm.txt'|trans|raw}}
	</div>
	<div class="modal-footer">
		<a href="" class="btn btn-xs btn-danger danger">{{'_yes'|trans|raw}}</a>
		<button type="button" class="btn btn-xs btn-default" data-dismiss="modal">{{'_no'|trans|raw}}</button>
	</div>
</div>
<div id="deleteConfirmAuction" class="modal fade in" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="text-center">{{'AoAuction.delete.confirm.title'|trans|raw}}</h3>
	</div>
	<div class="modal-body">
		{{'AoAuction.delete.confirm.txt'|trans|raw}}
	</div>
	<div class="modal-footer">
		<a href="" class="btn btn-xs btn-danger danger">{{'_yes'|trans|raw}}</a>
		<button type="button" class="btn btn-xs btn-default" data-dismiss="modal">{{'_no'|trans|raw}}</button>
	</div>
</div>
{%endblock content%}