{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/bootstrap/fileinput/4.2.7-7.css'))}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/fileinput/plugins/canvas-to-blob.min.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/fileinput/4.2.7-7.js'))}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$("#BulletinInfoImportForm_excel").fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Excel", browseIcon: '{{faIco('folder-open')}}', remove1Class: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin'|trans|raw}}</a></li>
	<li><a href="{{ path('_admin_bulletinInfo_list') }}">{{faIco('exclamation-triangle')}} &nbsp; {{'breadcrumb.bulletinInfo.list'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('_admin_bulletinInfo_importGet') }}">{{glyphIco('plus')}} &nbsp; {{'breadcrumb.bulletinInfo.add'|trans|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('_admin_bulletinInfo_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
		</div>
		{% for flashMessage in app.session.flashbag.get('log') %}
		<div class="callout callout-info">
		{{ flashMessage|raw }}
		</div>
		{% endfor %}
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">{{ 'BulletinInfo.tlabel.add'|trans|raw}}</h3>
			</div>
			<div class="box-body">
				{{form_start(BulletinInfoImportForm, {'method':'POST', 'action': path('_admin_bulletinInfo_importPost'), 'style': 'horizontal'})}}
				{{form_row(BulletinInfoImportForm.excel, {'label_col': 3, 'widget_col': 8 })}}
				<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnExcel'|trans|raw}}</button></div></div>
				{{form_end(BulletinInfoImportForm)}}
			</div>
		</div>
	</div>
</div>
{%endblock content%}
