{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/chosen/1.2.0.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/fileinput/4.2.7-7.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/dataTables/dataTables.bootstrap.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/modal/2.2.5-bs3patch.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/modal/2.2.5.css')}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/chosen/1.2.0.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/tinymce/jquery.tinymce.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/fileinput/plugins/canvas-to-blob.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/fileinput/4.2.7-7.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/dataTables/jquery.dataTables.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/dataTables/dataTables.bootstrap.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/modal/2.2.5manager.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/modal/2.2.5.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('textarea.wysiwyg').each(function() {
		var options = {
			script_url : '{{asset('bundles/acfres/js/tinymce/tinymce.min.js')}}',
			theme: "modern",
			plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
			{%if app.request.locale != 'en'%}
			language : '{{ app.request.locale }}',
			{% endif %}
			toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
		};
		$this = $(this);
		if($this.is('[required]')) {
			options.oninit = function(editor) {
				editor.on('change', function(e) {
					editor.save();
				});
			}
		}
		$this.tinymce(options);
	});

    $('#BiFolderUpdateParentForm_parent').chosen({width: "100%", disable_search_threshold: 10, allow_single_deselect:true});

	$("#BiDocNewForm_fileName").fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Documents", browseIcon: '{{faIco('folder-open')}}', removeClass: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});

	{% if biFolder.docs|length != 0 %}
	$('#biDocList').dataTable({
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{asset('bundles/acfres/css/dataTables/i18n/')~app.request.locale~".json"}}'},
		{% endif %}
		"columns": [
			null,
			null,
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		],
		"pageLength": 10,
		fnDrawCallback : function() {
			$('.deleteConfirmBiDoc').on("click", function(e) {
				e.preventDefault();
				var lnk = $(this).attr('href');
				modalDeleteBtn = $('#deleteConfirmBiDoc').find('.danger');
				modalDeleteBtn.attr('href', lnk);
				$('#deleteConfirmBiDoc').modal('show');
			});
		}
	});
	{% endif %}


});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin'|trans|raw}}</a></li>
	<li><a href="{{ path('_admin_biFolder_list') }}">{{faIco('exclamation-triangle')}} &nbsp; {{'breadcrumb.biFolder.list'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('_admin_biFolder_editGet', {'uid': biFolder.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.biFolder.edit'|trans({'%biFolder%': biFolder.title})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('_admin_biFolder_addGet') }}" class="btn btn-primary">{{ glyphIco('plus') }} {{ 'action.add'|trans }}</a>
			<a href="{{ path('_admin_biFolder_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
		</div>
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'BiFolder.tab.overview'|trans|raw}}</a></li>
				<li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'BiFolder.tab.edit'|trans|raw}}</a></li>
				<li {%if tabActive==3%} class="active"{%endif%}><a href="#docs" data-toggle="tab">{{'BiFolder.tab.docs'|trans|raw}}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="panel box box-primary">
						<div class="box-header"><h3 class="box-title">{{'BiFolder.tlabel.overview'|trans}}</h3></div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-3 text-right">{{'BiFolder.title'|trans|raw}} :</div>
								<div class="col-lg-9">{{biFolder.title}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
                                {% if biFolder.parent is not null %}
                                <div class="col-lg-3 text-right">{{'BiFolder.parent'|trans|raw}} :</div>
                                <div class="col-lg-9"><a href="{{ path('_admin_biFolder_editGet', {'uid': biFolder.parent.id}) }}">{{biFolder.parent.title}}</a>&nbsp;</div>
                                <div class="col-lg-12">&nbsp;</div>
                                {% endif %}
                                {% if biFolder.childs is not empty %}
                                <div class="col-lg-3 text-right">{{'BiFolder.childs'|trans|raw}} :</div>
                                <div class="col-lg-9">
                                    {% for child in biFolder.childs %}
                                    <a href="{{ path('_admin_biFolder_editGet', {'uid': child.id}) }}">{{child.title}}</a><br>
                                    {% endfor %}
                                </div>
                                <div class="col-lg-12">&nbsp;</div>
                                {% endif %}
								<div class="col-lg-3 text-right">{{'BiFolder.docs'|trans|raw}} :</div>
								<div class="col-lg-9">{{biFolder.docs|length}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'BiFolder.dtCrea'|trans|raw}} :</div>
								<div class="col-lg-9">{{biFolder.dtCrea|localeDate('medium')}} {{'_at'|trans}} {{biFolder.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'BiFolder.dtUpdate'|trans|raw}} :</div>
								<div class="col-lg-9">{{biFolder.dtUpdate|localeDate('medium')}} {{'_at'|trans}} {{biFolder.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'BiFolder.tlabel.editTitle'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BiFolderUpdateTitleForm, {'method':'POST', 'action': path('_admin_biFolder_editPost', {'uid': biFolder.id}), 'style': 'horizontal'})}}
							{{form_row(BiFolderUpdateTitleForm.title, {'label_col': 3, 'widget_col': 5})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BiFolderUpdateTitleForm)}}
						</div>
					</div>
                    <div class="panel box box-danger">
                        <div class="box-header"><h3 class="box-title">{{'BiFolder.tlabel.editParent'|trans}}</h3></div>
                        <div class="box-body">
                            {{form_start(BiFolderUpdateParentForm, {'method':'POST', 'action': path('_admin_biFolder_editPost', {'uid': biFolder.id}), 'style': 'horizontal'})}}
                            {{form_row(BiFolderUpdateParentForm.parent, {'label_col': 3, 'widget_col': 8})}}
                            <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
                            {{form_end(BiFolderUpdateParentForm)}}
                        </div>
                    </div>
				</div>
				<div class="tab-pane fade{%if tabActive==3%} in active{%endif%}" id="docs">
					<div id="accordion03" class="box-group">
						<div class="panel box box-danger">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse31" data-parent="#accordion03" data-toggle="collapse">{{'BiFolder.tlabel.docs.add'|trans}}</a></h4>
							</div>
							<div id="collapse31" class="panel-collapse collapse{%if tabActive==3 and stabActive==1%} in{%endif%}">
								<div class="box-body">
									{{form_start(BiDocNewForm, {'method':'POST', 'action': path('_admin_biFolder_editPost', {'uid': biFolder.id}), 'style': 'horizontal'})}}
									{{form_row(BiDocNewForm.folder, {'label_col': 3, 'widget_col': 8, 'attr': {'row_class': 'hidden'} })}}
									{{form_row(BiDocNewForm.fileName, {'label_col': 3, 'widget_col': 8})}}
									{{form_row(BiDocNewForm.title, {'label_col': 3, 'widget_col': 8})}}
									{{form_row(BiDocNewForm.description, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
									<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnAdd'|trans|raw}}</button></div></div>
									{{form_end(BiDocNewForm)}}
								</div>
							</div>
						</div>
						<div class="panel box">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse32" data-parent="#accordion03" data-toggle="collapse">{{'BiFolder.tlabel.docs.list'|trans}}</a></h4>
							</div>
							<div id="collapse32" class="panel-collapse collapse{%if (tabActive==3 and stabActive==2) or tabActive!=3%} in{%endif%}">
								<div class="box-body table-responsive">

									<table id="biDocList" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>{{ 'BiDoc.title.label'|trans|raw }}</th>
												<th>{{ 'BiDoc.fileName.label'|trans|raw }}</th>
												<th>{{ 'BiDoc.mimeType.label'|trans|raw }}</th>
												<th>{{ 'BiDoc.size.label'|trans|raw }}</th>
												<th>{{ 'BiDoc.nbrDownloads.label'|trans|raw }}</th>
												<th>{{ 'BiDoc.dtCrea'|trans|raw }}:</th>
												<th>{{ 'action'|trans|raw }}</th>
											</tr>
										</thead>
										<tbody>
										{% if biFolder.docs|length != 0 %}
											{% for biDoc in biFolder.docs %}
											<tr>
												<td>{{ biDoc.title }}</td>
												<td>{{ biDoc.originalName }}</td>
												<td>{{ biDoc.mimeType }}</td>
												<td>{%if biDoc.size<1024%}
														{{biDoc.size}} o
													{%elseif biDoc.size<(1024*1024)%}
														{{'%.2f'|format(biDoc.size/1024)}} Ko
													{%elseif biDoc.size<(1024*1024*1024)%}
														{{'%.2f'|format(biDoc.size/1024/1024)}} Mo
													{%else%}
														{{'%.2f'|format(biDoc.size/1024/1024/1024)}} Go
													{% endif %}
												</td>
												<td>{{ biDoc.nbrDownloads }}</td>
												<td>{{ biDoc.dtCrea|date('Y-m-d @ H:i:s') }}</td>
												<td>
													<a class="btn btn-sm btn-primary" href="{{path('_admin_biDoc_download',{'uid':biDoc.id})}}">{{ glyphIco('download') }} {{ 'action.btnDownload'|trans }}</a>
													<a class="btn btn-sm btn-info" href="{{path('_admin_biDoc_editGet',{'uid':biDoc.id})}}">{{ glyphIco('edit') }} {{ 'action.edit'|trans }}</a>
													<a class="btn btn-sm btn-danger deleteConfirmBiDoc" href="{{path('_admin_biDoc_delete',{'uid':biDoc.id})}}">{{ glyphIco('trash') }} {{ 'action.delete'|trans }}</a>
												</td>
											</tr>
											{% endfor %}
										{% else %}
											<tr>
												<td colspan="7">{{ 'BiDoc.empty'|trans|raw }}</td>
											</tr>
										{% endif %}
										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="deleteConfirmBiDoc" class="modal fade in" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="text-center">{{'BiDoc.delete.confirm.title'|trans|raw}}</h3>
	</div>
	<div class="modal-body">
		{{'BiDoc.delete.confirm.txt'|trans|raw}}
	</div>
	<div class="modal-footer">
		<a href="" class="btn btn-xs btn-danger danger">{{'_yes'|trans|raw}}</a>
		<button type="button" class="btn btn-xs btn-default" data-dismiss="modal">{{'_no'|trans|raw}}</button>
	</div>
</div>
{%endblock content%}
