{% extends 'AcfFrontBundle::front.html.twig' %}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin'|trans|raw}}</a></li>
	<li><a href="{{ path('_admin_feedRead_list') }}">{{faIco('newspaper-o')}} &nbsp; {{'breadcrumb.feedRead.list'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('_admin_feedRead_addGet') }}">{{glyphIco('plus')}} &nbsp; {{'breadcrumb.feedRead.add'|trans|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('_admin_feedRead_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
		</div>
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">{{ 'FeedRead.tlabel.add'|trans|raw}}</h3>
			</div>
			<div class="box-body">
				{{form_start(FeedReadNewForm, {'method':'POST', 'action': path('_admin_feedRead_addPost'), 'style': 'horizontal'})}}
				{{form_row(FeedReadNewForm.url, {'label_col': 3, 'widget_col': 8})}}
				{{form_row(FeedReadNewForm.nbrDays, {'label_col': 3, 'widget_col': 4})}}
				{{form_row(FeedReadNewForm.nbrItems, {'label_col': 3, 'widget_col': 4 })}}
				<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnAdd'|trans|raw}}</button></div></div>
				{{form_end(FeedReadNewForm)}}
			</div>
		</div>
	</div>
</div>
{%endblock content%}
