{% extends 'AcfFrontBundle::front2.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/chosen/1.2.0.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/datetimepicker/2.3.1.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/fileinput/4.2.7-7.css')}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/tinymce/jquery.tinymce.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/chosen/1.2.0.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/datetimepicker/2.4.4.min.js')}}"></script>
{%if app.request.locale != 'en'%}
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/datetimepicker/locales/2.4.4.'~app.request.locale~'.js')}}"></script>
{% endif %}
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/fileinput/plugins/canvas-to-blob.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/fileinput/4.2.7-7.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('textarea.wysiwyg').each(function() {
		var options = {
			script_url : '{{asset('bundles/acfres/js/tinymce/tinymce.min.js')}}',
			theme: "modern",
			plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
			{%if app.request.locale != 'en'%}
			language : '{{ app.request.locale }}',
			{% endif %}
			toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
		};
		$this = $(this);
		if($this.is('[required]')) {
			options.oninit = function(editor) {
				editor.on('change', function(e) {
					editor.save();
				});
			}
		}
		$this.tinymce(options);
	});
	
	$('#AoAdvertisementUpdateGrpForm_grp').chosen({width: "100%", disable_search_threshold: 10});
	
	$('#AoAdvertisementUpdateNatureForm_nature').chosen({width: "100%", disable_search_threshold: 10});
	
	$('#AoAdvertisementUpdateAoVeForm_aoVe').chosen({width: "100%", disable_search_threshold: 10});
	
	$('#AoAdvertisementUpdateTypeAvisForm_typeAvis').chosen({width: "100%", disable_search_threshold: 10});
	
	$('#AoAdvertisementUpdateStatusForm_status').chosen({width: "100%", disable_search_threshold: 10});
	
	$("#AoAdvertisementUpdateImgForm_image").fileinput({'showUpload':false, 'previewFileType':'image', browseClass: "btn btn-success", browseLabel: " Image", browseIcon: '{{glyphIco('picture')}}', removeClass: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});
	
	$('#AoAdvertisementUpdateDtPublicationForm_dtPublication').live('click', function(e) {e.preventDefault();}).datetimepicker({
		weekStart: 1,
		startView: 4,
		minView: 2,
		autoclose: true,
		todayHighlight: true,
		language: "{{app.request.locale}}",
		format: 'yyyy-mm-dd'
	});
	
	$('#AoAdvertisementUpdateDtEndForm_dtEnd').live('click', function(e) {e.preventDefault();}).datetimepicker({
		weekStart: 1,
		startView: 4,
		minView: 2,
		autoclose: true,
		todayHighlight: true,
		language: "{{app.request.locale}}",
		format: 'yyyy-mm-dd'
	});
	
	$('#AoAdvertisementUpdateDtOpenForm_dtOpen').live('click', function(e) {e.preventDefault();}).datetimepicker({
		weekStart: 1,
		startView: 4,
		minView: 2,
		autoclose: true,
		todayHighlight: true,
		language: "{{app.request.locale}}",
		format: 'yyyy-mm-dd'
	});
	

});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<ol class="breadcrumb">
	<li><a href="{{ path('ao_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin2'|trans|raw}}</a></li>
	<li><a href="{{ path('ao_admin_categ_list') }}">{{ faIco('object-group') }} &nbsp; {{'breadcrumb.aocateg.list'|trans|raw}}</a></li>
	<li><a href="{{ path('ao_admin_categ_editGet', {'uid': advertisement.grp.categ.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.aocateg.edit'|trans({'%categ%': advertisement.grp.categ.title})|raw}}</a></li>
	<li><a href="{{ path('ao_admin_subcateg_editGet', {'uid': advertisement.grp.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.aosubcateg.edit'|trans({'%subCateg%': advertisement.grp.ref})|raw}}</a></li>
	<li class="active"><a href="{{ path('ao_admin_advertisement_editGet', {'uid': advertisement.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.aoadvertisement.edit'|trans({'%advertisement%': advertisement.ref})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('ao_admin_categ_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
		</div>
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'AoAdvertisement.tab.overview'|trans|raw}}</a></li>
				<li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'AoAdvertisement.tab.edit'|trans|raw}}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="panel box box-primary">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.overview'|trans}}</h3></div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-3 text-right">{{'AoAdvertisement.grp'|trans|raw}} :</div>
								<div class="col-lg-9"><a href="{{ path('ao_admin_subcateg_editGet', {'uid': advertisement.grp.id}) }}">{{ advertisement.grp.ref }} : {{ advertisement.grp.title }} </a> (<a href="{{ path('ao_admin_categ_editGet', {'uid': advertisement.grp.categ.id}) }}">{{ advertisement.grp.categ.title }}</a>)&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoAdvertisement.ref'|trans|raw}} :</div>
								<div class="col-lg-9">{{advertisement.ref}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoAdvertisement.img'|trans|raw}} :</div>
								<div class="col-lg-9">{% if advertisement.img is not empty %}<img src="/res/AoVe/{{advertisement.img}}">{% else %}{{ '_NA'|trans }}{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoAdvertisement.dtPublication'|trans|raw}} :</div>
								<div class="col-lg-9">{% if advertisement.dtPublication is not empty %}{{advertisement.dtPublication|localeDate('medium')}}{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoAdvertisement.country'|trans|raw}} :</div>
								<div class="col-lg-9">{% if advertisement.country is not empty %}{{advertisement.country}}{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoAdvertisement.description'|trans|raw}} :</div>
								<div class="col-lg-9">{% if advertisement.description is not empty %}{{advertisement.description|raw}}{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoAdvertisement.company'|trans|raw}} :</div>
								<div class="col-lg-9">{% if advertisement.company is not empty %}{{advertisement.company}}{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoAdvertisement.nature'|trans|raw}} :</div>
								<div class="col-lg-9">{% if advertisement.nature is not empty %}{{('AoAdvertisement.nature.'~advertisement.nature)|trans}}{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoAdvertisement.dtEnd'|trans|raw}} :</div>
								<div class="col-lg-9">{% if advertisement.dtEnd is not empty %}{{advertisement.dtEnd|localeDate('medium')}}{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoAdvertisement.aoVe'|trans|raw}} :</div>
								<div class="col-lg-9">{% if advertisement.aoVe is not empty %}{{('AoAdvertisement.aoVe.'~advertisement.aoVe)|trans}}{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoAdvertisement.dtOpen'|trans|raw}} :</div>
								<div class="col-lg-9">{% if advertisement.dtOpen is not empty %}{{advertisement.dtOpen|localeDate('medium')}}{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoAdvertisement.adress'|trans|raw}} :</div>
								<div class="col-lg-9">{% if advertisement.adress is not empty %}{{advertisement.adress}}{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoAdvertisement.price'|trans|raw}} :</div>
								<div class="col-lg-9">{% if advertisement.price is not empty %}{{advertisement.price}}{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoAdvertisement.typeAvis'|trans|raw}} :</div>
								<div class="col-lg-9">{% if advertisement.typeAvis is not empty %}{{('AoAdvertisement.typeAvis.'~advertisement.typeAvis)|trans}}{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoAdvertisement.addRef'|trans|raw}} :</div>
								<div class="col-lg-9">{% if advertisement.addRef is not empty %}{{advertisement.addRef}}{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoAdvertisement.status'|trans|raw}} :</div>
								<div class="col-lg-9">{% if advertisement.status is not empty %}{{('AoAdvertisement.status.'~advertisement.status)|trans}}{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoCateg.dtCrea'|trans|raw}} :</div>
								<div class="col-lg-9">{{advertisement.dtCrea|localeDate('medium')}} {{'_at'|trans}} {{advertisement.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'AoCateg.dtUpdate'|trans|raw}} :</div>
								<div class="col-lg-9">{{advertisement.dtUpdate|localeDate('medium')}} {{'_at'|trans}} {{advertisement.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editGrp'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdateGrpForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdateGrpForm.grp, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdateGrpForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editImg'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdateImgForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdateImgForm.image, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdateImgForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editDtPublication'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdateDtPublicationForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdateDtPublicationForm.dtPublication, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdateDtPublicationForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editCountry'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdateCountryForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdateCountryForm.country, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdateCountryForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editDescription'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdateDescriptionForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdateDescriptionForm.description, {'label_col': 3, 'widget_col': 8, 'attr': {'class':'wysiwyg'}})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdateDescriptionForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editCompany'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdateCompanyForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdateCompanyForm.company, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdateCompanyForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editNature'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdateNatureForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdateNatureForm.nature, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdateNatureForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editDtEnd'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdateDtEndForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdateDtEndForm.dtEnd, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdateDtEndForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editAoVe'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdateAoVeForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdateAoVeForm.aoVe, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdateAoVeForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editDtOpen'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdateDtOpenForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdateDtOpenForm.dtOpen, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdateDtOpenForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editAdress'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdateAdressForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdateAdressForm.adress, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdateAdressForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editPrice'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdatePriceForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdatePriceForm.price, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdatePriceForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editTypeAvis'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdateTypeAvisForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdateTypeAvisForm.typeAvis, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdateTypeAvisForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editAddRef'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdateAddRefForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdateAddRefForm.addRef, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdateAddRefForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editSource'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdateSourceForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdateSourceForm.source, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdateSourceForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'AoAdvertisement.tlabel.editStatus'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(AdvertisementUpdateStatusForm, {'method':'POST', 'action': path('ao_admin_advertisement_editPost', {'uid': advertisement.id}), 'style': 'horizontal'})}}
							{{form_row(AdvertisementUpdateStatusForm.status, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(AdvertisementUpdateStatusForm)}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
