{% extends 'AcfFrontBundle::front.html.twig' %}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/chartjs/1.1.min.js'))}}"></script>
<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
{% if companies | length != 0 %}
{% for cmp in companies %}
	var datasn_{{ cmp.company.idn }} = {
		labels: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Décembre"],
		datasets: [
			{
				label: "{{ prev_year }}",
				fillColor: "rgba(220,220,220,0.5)",
				strokeColor: "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data: [{{ cmp.salariesNet.year_prev.m1 }}, {{ cmp.salariesNet.year_prev.m2 }}, {{ cmp.salariesNet.year_prev.m3 }}, {{ cmp.salariesNet.year_prev.m4 }}, {{ cmp.salariesNet.year_prev.m5 }}, {{ cmp.salariesNet.year_prev.m6 }}, {{ cmp.salariesNet.year_prev.m7 }}, {{ cmp.salariesNet.year_prev.m8 }}, {{ cmp.salariesNet.year_prev.m9 }}, {{ cmp.salariesNet.year_prev.m10 }}, {{ cmp.salariesNet.year_prev.m11 }}, {{ cmp.salariesNet.year_prev.m12 }}]
			},
			{
				label: "{{ year }}",
				fillColor: "rgba(151,187,205,0.5)",
				strokeColor: "rgba(151,187,205,0.8)",
				highlightFill: "rgba(151,187,205,0.75)",
				highlightStroke: "rgba(151,187,205,1)",
				data: [{{ cmp.salariesNet.year.m1 }}, {{ cmp.salariesNet.year.m2 }}, {{ cmp.salariesNet.year.m3 }}, {{ cmp.salariesNet.year.m4 }}, {{ cmp.salariesNet.year.m5 }}, {{ cmp.salariesNet.year.m6 }}, {{ cmp.salariesNet.year.m7 }}, {{ cmp.salariesNet.year.m8 }}, {{ cmp.salariesNet.year.m9 }}, {{ cmp.salariesNet.year.m10 }}, {{ cmp.salariesNet.year.m11 }}, {{ cmp.salariesNet.year.m12 }}]
			}
		]
	};

	var contx1_{{ cmp.company.idn }} = $("#mySalaryNetBarChart_{{ cmp.company.idn }}").get(0).getContext("2d");
	var mySalaryNetBarChart_{{ cmp.company.idn }} = new Chart(contx1_{{ cmp.company.idn }}).Bar(datasn_{{ cmp.company.idn }});
//--------------------
	var datasb_{{ cmp.company.idn }} = {
		labels: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Décembre"],
		datasets: [
			{
				label: "{{ prev_year }}",
				fillColor: "rgba(220,220,220,0.5)",
				strokeColor: "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data: [{{ cmp.salariesBrut.year_prev.m1 }}, {{ cmp.salariesBrut.year_prev.m2 }}, {{ cmp.salariesBrut.year_prev.m3 }}, {{ cmp.salariesBrut.year_prev.m4 }}, {{ cmp.salariesBrut.year_prev.m5 }}, {{ cmp.salariesBrut.year_prev.m6 }}, {{ cmp.salariesBrut.year_prev.m7 }}, {{ cmp.salariesBrut.year_prev.m8 }}, {{ cmp.salariesBrut.year_prev.m9 }}, {{ cmp.salariesBrut.year_prev.m10 }}, {{ cmp.salariesBrut.year_prev.m11 }}, {{ cmp.salariesBrut.year_prev.m12 }}]
			},
			{
				label: "{{ year }}",
				fillColor: "rgba(151,187,205,0.5)",
				strokeColor: "rgba(151,187,205,0.8)",
				highlightFill: "rgba(151,187,205,0.75)",
				highlightStroke: "rgba(151,187,205,1)",
				data: [{{ cmp.salariesBrut.year.m1 }}, {{ cmp.salariesBrut.year.m2 }}, {{ cmp.salariesBrut.year.m3 }}, {{ cmp.salariesBrut.year.m4 }}, {{ cmp.salariesBrut.year.m5 }}, {{ cmp.salariesBrut.year.m6 }}, {{ cmp.salariesBrut.year.m7 }}, {{ cmp.salariesBrut.year.m8 }}, {{ cmp.salariesBrut.year.m9 }}, {{ cmp.salariesBrut.year.m10 }}, {{ cmp.salariesBrut.year.m11 }}, {{ cmp.salariesBrut.year.m12 }}]
			}
		]
	};

	var contx2_{{ cmp.company.idn }} = $("#mySalaryBrutBarChart_{{ cmp.company.idn }}").get(0).getContext("2d");
	var mySalaryBrutBarChart_{{ cmp.company.idn }} = new Chart(contx2_{{ cmp.company.idn }}).Bar(datasb_{{ cmp.company.idn }});
//--------------------
	var dataemp_{{ cmp.company.idn }} = {
		labels: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Décembre"],
		datasets: [
			{
				label: "{{ prev_year }}",
				fillColor: "rgba(220,220,220,0.5)",
				strokeColor: "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data: [{{ cmp.employees.year_prev.m1 }}, {{ cmp.employees.year_prev.m2 }}, {{ cmp.employees.year_prev.m3 }}, {{ cmp.employees.year_prev.m4 }}, {{ cmp.employees.year_prev.m5 }}, {{ cmp.employees.year_prev.m6 }}, {{ cmp.employees.year_prev.m7 }}, {{ cmp.employees.year_prev.m8 }}, {{ cmp.employees.year_prev.m9 }}, {{ cmp.employees.year_prev.m10 }}, {{ cmp.employees.year_prev.m11 }}, {{ cmp.employees.year_prev.m12 }}]
			},
			{
				label: "{{ year }}",
				fillColor: "rgba(151,187,205,0.5)",
				strokeColor: "rgba(151,187,205,0.8)",
				highlightFill: "rgba(151,187,205,0.75)",
				highlightStroke: "rgba(151,187,205,1)",
				data: [{{ cmp.employees.year.m1 }}, {{ cmp.employees.year.m2 }}, {{ cmp.employees.year.m3 }}, {{ cmp.employees.year.m4 }}, {{ cmp.employees.year.m5 }}, {{ cmp.employees.year.m6 }}, {{ cmp.employees.year.m7 }}, {{ cmp.employees.year.m8 }}, {{ cmp.employees.year.m9 }}, {{ cmp.employees.year.m10 }}, {{ cmp.employees.year.m11 }}, {{ cmp.employees.year.m12 }}]
			}
		]
	};

	var contx3_{{ cmp.company.idn }} = $("#myEmployeesLineChart_{{ cmp.company.idn }}").get(0).getContext("2d");
	var myEmployeesLineChart_{{ cmp.company.idn }} = new Chart(contx3_{{ cmp.company.idn }}).Line(dataemp_{{ cmp.company.idn }});

{% endfor %}
{% endif %}

});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li class="active"><a href="{{ path('_payroll_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.payroll'|trans|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
{% if companies | length != 0 %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="text-center">{{ ('MonthlyBalance.month.'~month)|trans }}  {{ year }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<ul class="pager centred">
			<li class="previous"><a href="{{ path('_payroll_homepage_my', {'month':lnk_prev_month, 'year':lnk_prev_year}) }}">&laquo;&nbsp;{{ ('MPaye.month.'~lnk_prev_month)|trans }}  {{ lnk_prev_year }}</a></li>
			{% if null != lnk_next_month and null!= lnk_next_year %}
			<li class="next"><a href="{{ path('_payroll_homepage_my', {'month':lnk_next_month, 'year':lnk_next_year}) }}">{{ ('MPaye.month.'~lnk_next_month)|trans }}  {{ lnk_next_year }}&nbsp;&raquo;</a></li>
			{% endif %}
		</ul>
	</div>
</div>
{% for cmp in companies %}
<div class="row">
	<div class="col-lg-12">
		<h3><a href="{{ path('_payroll_company_editGet', {'uid': cmp.company.id}) }}">{{ cmp.company.corporateName }}</a></h3>
	</div>
	<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-red">
				<i class="fa fa-money"></i>
			</span>
			<div class="info-box-content">
				<span class="info-box-text">{{ 'Company.tmsalariesBrut'|trans }}</span>
				<span class="info-box-number">{{ cmp.totalSalariesBrut }} <small>TND</small></span>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-yellow">
				<i class="fa fa-money"></i>
			</span>
			<div class="info-box-content">
				<span class="info-box-text">{{ 'Company.tmsalariesNet'|trans }}</span>
				<span class="info-box-number">{{ cmp.totalSalariesNet }} <small>TND</small></span>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-aqua">
				<i class="fa fa-users"></i>
			</span>
			<div class="info-box-content">
				<span class="info-box-text">{{ 'Company.msalaries'|trans }}</span>
				<span class="info-box-number">{{ cmp.countEmployees }}</span>
			</div>
		</div>
	</div>
	<div class="col-lg-12"></div>
	<div class="col-lg-4">
		<div class="box box-primary">
			<div class="box-header with-border"><h4 class="box-title">Evolution Salaire Net du 01/01/{{ prev_year }} au
				{% if year == current_year and month == current_monthsz %}
				{{ 'now'|date('d/m/Y') }}
				{% else  %}
				{{ last_day~'/'~month~'/'~year }}
				{% endif %}</h4></div>
			<div class="box-body">
				<div class="chart">
					<canvas id="mySalaryNetBarChart_{{ cmp.company.idn }}"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="box box-primary">
			<div class="box-header with-border"><h4 class="box-title">Evolution Salaire Brut du 01/01/{{ prev_year }} au
				{% if year == current_year and month == current_monthsz %}
				{{ 'now'|date('d/m/Y') }}
				{% else  %}
				{{ last_day~'/'~month~'/'~year }}
				{% endif %}</h4></div>
			<div class="box-body">
				<div class="chart">
					<canvas id="mySalaryBrutBarChart_{{ cmp.company.idn }}"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="box box-primary">
			<div class="box-header with-border"><h4 class="box-title">Evolution Salariés du 01/01/{{ prev_year }} au
				{% if year == current_year and month == current_monthsz %}
				{{ 'now'|date('d/m/Y') }}
				{% else  %}
				{{ last_day~'/'~month~'/'~year }}
				{% endif %}</h4></div>
			<div class="box-body">
				<div class="chart">
					<canvas id="myEmployeesLineChart_{{ cmp.company.idn }}"></canvas>
				</div>
			</div>
		</div>
	</div>
	
	
</div>
<hr/>
<br/>
{% endfor %}
{% else %}
Interface Client
{% endif %}
{%endblock content%}