<div class="box-body table-responsive">
    <div id="accordionBiFolder{{ parent.id }}" class="box-group">
        {% for biFolder in parent.childs %}
        <div class="panel box box-warning">
            <div class="box-header">
                <h4 class="box-title"><a href="#collapse{{ biFolder.id }}" data-parent="#accordionBiFolder{{ parent.id }}" data-toggle="collapse">{{ biFolder.title }}</a></h4>
            </div>
            <div id="collapse{{ biFolder.id }}" class="panel-collapse collapse">
                {% if biFolder.docs|length != 0 %}
                <table class="table table-bordered table-hover biDocList">
                    <thead>
                        <tr>
                            <th>{{ 'BiDoc.title.label'|trans|raw }}</th>
                            <th>{{ 'BiDoc.dtCrea'|trans|raw }}:</th>
                            <th>{{ 'action'|trans|raw }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for biDoc in biFolder.docs %}
                        <tr>
                            <td>{{ biDoc.title }}</td>
                            <td>{{ biDoc.dtCrea|date('Y-m-d @ H:i:s') }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="{{path('_info_biDoc_download',{'uid':biDoc.id})}}">{{ glyphIco('download') }} {{ 'action.btnDownload'|trans }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                {% if biFolder.childs|length != 0 %}
                {{ render_hinclude(controller('AcfInfoBundle:Default:childs', {parent: biFolder.id})) }}
                {% endif %}
                {% if biFolder.childs|length == 0 and biFolder.docs|length == 0%}
                {{ 'BiFolder.empty'|trans|raw }}
                            <br><br><br>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
