{%extends 'AcfSecurityBundle::security.html.twig'%}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/datetimepicker/2.3.1.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/chosen/1.2.0.css')}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/datetimepicker/2.4.4.min.js')}}"></script>
{%if app.request.locale != 'en'%}
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/datetimepicker/locales/2.4.4.'~app.request.locale~'.js')}}"></script>
{% endif %}
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/chosen/1.2.0.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {

	$('#NewUserForm_birthday').live('click', function(e) {e.preventDefault();}).datetimepicker({
		weekStart: 1,
		startView: 4,
		minView: 2,
		autoclose: true,
		todayHighlight: true,
		language: "{{app.request.locale}}",
		format: 'yyyy-mm-dd'
	});

	$('#NewUserForm_sexe').chosen({width: "100%", disable_search_threshold: 10});

	$('#NewUserForm_preferedLang').chosen({width: "100%", disable_search_threshold: 10, allow_single_deselect:true});

	$('#NewUserForm_country').chosen({width: "100%", disable_search_threshold: 10, allow_single_deselect:true});

});
{%endblock end2_dynamic_jstxt%}
{%block content%}
{{form_start(NewUserForm, {'method':'POST', 'action': path('_security_register_post'), 'style': 'horizontal'})}}
<div class="login-box-body">
	<a href="{{ path('_front_homepage')}}"><img class="img img-responsive center-block" src="{{asset('bundles/acfres/images/logo_acf_footer.jpg')}}" alt="{{ sitename }}" style="height: 100px;"></a>
	{%if pagetitle is defined%}<hr><h1 class="text-center">{{pagetitle|raw}}</h1>{%endif%}
	<hr>
	<p class="text-justify">
		Le site <b>www.acf-expert.tn</b> propose une plateforme internet collaborative 100% Cloud,100% SaaS, 100% Web accessible depuis tout écran connecté via un navigateur internet (PC portable, PC de bureau, smartphone, tablette).
	</p>
	<p class="text-justify">
		A travers votre espace client dédié et sécurisé, la plateforme <b><i>ACEF-Expert</i></b> vous propose une autre vision de la technologie et du cloud. Une vision proche de vos attentes et besoins qui traduit notre engagement pour l’amélioration continue de notre système qualité et de nos processus. 
	</p>
	<p class="text-justify">
		La plateforme <b><i>ACEF-Expert</i></b> est hébergée sur un serveur sécurisé (SSL) qui permet un échange sécurisé de documents. Il comprend plusieurs services partagés sur internet proposés par l’expert-comptable et dédiés à l'entreprise.
	</p>
	<p class="text-justify">
		Notre nouvelle vitrine web <b><i>ACEF-Expert</i></b> est conçue pour une relation virtuelle permanente entre l’entreprise et votre cabinet d’expertise comptable et vous permet d’être connecté 24 h/ 24 et 7j/7 à votre cabinet d’expertise comptable.
	</p>
	<br/>
	<h5><u>Caractéristiques de la plateforme ACEF-Expert :</u></h5>
	<p class="text-justify">
		<ul>
			<li>Sécurité : protocole de cryptage (SSL).</li>
			<li>Confidentialité d’accès : login et mot de passe pour chaque utilisateur.</li>
			<li>Multi-entreprise : nombre illimité d’entreprises.</li>
			<li>Multi-collaborateur : nombre illimité de collaborateurs. Création de comptes utilisateurs à vos assistants et collaborateurs avec login et mot de passe différents.</li>
			<li>Dématérialisation totale : résolution de vos contraintes de stockage (plus de documents à déplacer ou transporter).</li>
			<li>Mode collaboratif : travaillez à plusieurs en même temps dans un même dossier.</li>
			<li>Consultation, téléchargement et archivage : consultation et téléchargement de vos historiques sans limite de date.</li>
			<li>Pratique : la vie de votre entreprise (comptable, juridique, fiscale et sociale…) stockée dans la plateforme.</li>
			<li>Accessibilité : vos données accessibles, consultables et téléchargeables 24h/24h 7j/7j depuis depuis tout écran connecté à internet.</li>
			<li>Paiement sécurisé par internet.</li>
		</ul>
	</p>
	<p class="text-justify">
		Via votre espace client dédié et sécurisé, les services proposés par la plateforme ACEF-Expert peuvent être payés en toute sécurité en ligne par carte bancaire à travers l’interface de paiement sécurisé SPS de la société Monétique Tunisie (<a href="http://www.clictopay.com.tn" target="_blank">www.clictopay.com.tn</a>).
	</p>
	<p class="text-justify">
		L’utilisateur-abonné peut souscrire à un ou plusieurs services d’accès à la plateforme <b>www.acf-expert.tn</b>.
	</p>
	<br/>
	<h4><u>Services proposés par la plateforme ACEF-Expert :</u></h4>
	<h5>1. ACEF Info : Bulletin d’information en ligne 24h/24h 7j/7j </h5>
	<p class="text-justify">
		<b><u>ACEF Info</u></b> est un bulletin d'information en ligne accessible via le site web : www.acf-expert.tn, qui regroupe des informations sur l'actualité comptable, juridique, fiscale et sociale. Une source d'information spécialisée et mise à jour quotidiennement.
	</p>
	<p class="text-justify">
		<b><u>ACEF Info</u></b> est destiné aux services comptables, juridiques et financiers des entreprises, professionnels (Experts comptables, Comptables, Avocats, Conseillers...), aux cadres et directeurs (Gérants, Directeurs Généraux, DAF, Directeurs et chefs comptables), aux étudiants etc...
	</p>
	<h6><u>Conditions générales d'utilisation <b><i>ACEF Info</i></b></u></h6>
	<p class="text-justify">
		Le site acf-expert.tn informe ses utilisateurs que les bulletins d’information ACEF Info ont fait l'objet d'une sélection et par conséquent ACEF Info n'est pas exhaustive. 
	</p>
	<p class="text-justify">
		L’utilisateur du bulletin d’information ACEF Info est appelé à procéder aux investigations et recherches qu'il juge nécessaires et utiliser les résultats de sa recherche sous sa propre et entière responsabilité.
	</p>
	<p class="text-justify">
		En conséquence, les données qui figurent dans le bulletin d’information ACEF Info sont soumises à une clause de non-responsabilité et sont protégées par un copyright.
	</p>
	<p class="text-justify">
		Nous attirons l’attention de l’utilisateur sur la nécessité de prendre en considération les dates des textes ainsi que des éventuels changements de législation postérieurs.
	</p>
	<p class="text-justify">
		En vous inscrivant, vous acceptez les conditions générales d’utilisation.
	</p>
	<br/>
	<br/>
	<h5>2. ACEF Cloud : GED collaborative pour dépôt, classement, téléchargement et partage de vos documents en ligne avec votre cabinet d’expertise comptable </h5>
	<p class="text-justify">
		<b>Plus besoin de vous déplacer ! Fini les soucis d’acheminement de vos documents au cabinet de votre expert-comptable ! L’application « <b><i>ACEF Cloud</i></b> » vous assure un service confortable et de très haute qualité. Ainsi, tous vos documents seront acheminés à notre cabinet via votre espace client.
	</p>
	<p class="text-justify">
		L’application <b><i>ACEF Cloud</i></b> est un système de gestion électronique de données (GED) de l’intégralité de vos documents comptables, juridiques, fiscaux et sociaux. Elle assure une communication bidirectionnelle entre vous et votre cabinet d’expertise comptable à partir de votre espace privé réservé.
	</p>
	<p class="text-justify">
		Notre solution de gestion électronique de documents (GED) <b><i>ACEF Cloud</i></b> vous permet :<br>
		<ul>
			<li>La transmission de vos pièces par dépôt sur notre portail <b><i>ACEF Cloud</i></b></li>
			<li>La restitution des images numérisées dans la GED du portail collaboratif</li>
			<li>L'archivage sécurisé des pièces dans la GED <b><i>ACEF Cloud</i></b> partageable entre vous et votre expert-comptable</li>
			<li>La visualisation de votre tableau de bord d’activité</li>
		</ul>
	</p>
	<p class="text-justify">
		Le bureau virtuel créé par <b><i>ACEF Cloud</i></b> est doté de plusieurs fonctionnalités qui permettent au client d’archiver et d’échanger ses documents comptables, juridiques et fiscaux avec son expert-comptable, visualiser son tableau de bord et suivre les paramètres les plus importants de son activité (achats, chiffres d'affaires…)
	</p>
	<br/>
	<br/>
	<h5>3. ACEF Paie : Gestion électronique de la paie</h5>
	<p class="text-justify">
		Ce service permet au Client de communiquer les caractéristiques et les éléments de rémunérations de son personnel. 
	</p>
	<p class="text-justify">
		Le service d’envoi au Client des fiches et récapitulatifs de la paie et des bordereaux de virement se fera automatiquement par mail. Ces différents documents demeurent aussi consultables en se connectant à l’espace Client.
	</p>
	<br/>
	<br/>
	<h5>4. ACEF Agenda : Agenda collaboratif : Maîtrisez votre gestion et vos échéances réglementaires en ligne</h5>
	<p class="text-justify">
		Ce service inclut un agenda collaboratif partagée avec votre expert-comptable et vos collaborateurs et la notification automatique par mail des différentes échéances fiscales et sociales. 
	</p>
	<p class="text-justify">
		Facilitez le travail en équipe et planifiez des rendez-vous avec l’équipe de collaborateurs de votre expert-comptable.
	</p>
	<p class="text-justify">
		Votre agenda est accessible à tout moment, vous pouvez donc le consulter depuis n'importe où avec une connexion internet.
	</p>
	<br/>
	<br/>
	<h4><u>Comment s’inscrire à la plateforme <b><i>ACEF-Expert ?</i></b></u></h4>
	<p class="text-justify">
		Pour vous inscrire à un ou plusieurs services proposés par la plateforme internet <b><i>ACEF-Expert</i></b>, veuillez suivre les étapes suivantes :
	</p>
	<p class="text-justify">
		<ol>
			<li>Remplissez le formulaire d'inscription disponible en bas de la page,</li>
			<li>Dès la validation du formulaire d’inscription par l’administrateur du site www.acf-expert.tn, vous recevrez une confirmation par mail de l'activation de votre compte,</li>
			<li>Connectez-vous à la page : <a href="https://acf-expert.tn/login" target="_blank">https://acf-expert.tn/login</a> et introduisez vos identifiants,</li>
			<li>Cliquez sur la liste déroulante de l’icône <b><i>« Achats en ligne »</i></b> en haut et à droite de votre écran et choisissez l’icône <b><i>« Nos Produits »</i></b>,</li>
			<li>Choisissez un ou plusieurs services proposés par la plateforme internet <b><i>ACEF-Expert</i></b> en cliquant sur l’icône <b><i>« Ajouter au Panier »</i></b> pour chaque service choisi,</li>
			<li>Cliquez sur la liste déroulante de l’icône <b><i>« Achats en ligne »</i></b> en haut et à droite de votre écran et choisissez l’icône <b><i>« Mon Panier »</i></b>,</li>
			<li>Procédez à la validation de la commande en cliquant sur l’icône <b><i>« Commander »</i></b>,</li>
			<li>Choisissez le moyen de paiement qui vous convint en cliquant sur l’icône correspondante :
				<ul>
					<li><b><i>« En ligne »</i></b> : cliquez sur l’icône <b><i>« Payer »</i></b>,</li>
					<li><b><i>« En espèces »</i></b> : cliquez sur l’icône <b><i>« Valider »</i></b>,</li>
					<li><b><i>« Par chèque »</i></b> : cliquez sur l’icône <b><i>« Valider »</i></b>,</li>
					<li><b><i>« Par virement »</i></b> : cliquez sur l’icône <b><i>« Valider »</i></b>, </li>
				</ul>
			</li>
			<li>Dès la validation du paiement par l’administrateur du site <b><i>www.acf-expert.tn</i></b>, un mail de notification d’accès vous sera envoyé,</li>
			<li>Accédez à vos services via votre espace client en vous connectant sur la page : <a href="https://acf-expert.tn/login" target="_blank">https://acf-expert.tn/login</a> et introduisez vos identifiants.</li>
		</ol>
	</p>
	<br/>
	<br/>
	{%include 'SasedevCommonsBootstrapBundle::flash.html.twig' with { 'close': false }%}
	{{form_row(NewUserForm.username, {'label_col': 4, 'widget_col': 8, 'attr': {'placeholder': 'NewUser.username.placeholder'}, 'input_group': {'append': faIco('user')} })}}
	{{form_row(NewUserForm.email, {'label_col': 4, 'widget_col': 8, 'attr': {'placeholder': 'NewUser.email.placeholder'}, 'input_group': {'append': faIco('envelope')} })}}
	<hr>
	{{form_row(NewUserForm.preferedLang, {'label_col': 4, 'widget_col': 8, 'input_group': {'append': faIco('language')} })}}
	<hr>
	{{form_row(NewUserForm.sexe, {'label_col': 4, 'widget_col': 8, 'input_group': {'append': faIco('male')~'/'~faIco('female')} })}}
	{{form_row(NewUserForm.lastName, {'label_col': 4, 'widget_col': 8, 'input_group': {'append': faIco('info-circle')} })}}
	{{form_row(NewUserForm.firstName, {'label_col': 4, 'widget_col': 8, 'input_group': {'append': faIco('info-circle')} })}}
	<hr>
	{{form_row(NewUserForm.birthday, {'label_col': 4, 'widget_col': 8, 'input_group': {'append': faIco('calendar')} })}}
	<hr>
	{{form_row(NewUserForm.corporateName, {'label_col': 4, 'widget_col': 8, 'input_group': {'append': faIco('building')} })}}
	{{form_row(NewUserForm.type, {'label_col': 4, 'widget_col': 8, 'input_group': {'append': faIco('building')} })}}
	{{form_row(NewUserForm.fisc, {'label_col': 4, 'widget_col': 8, 'input_group': {'append': faIco('building')} })}}
	{{form_row(NewUserForm.commercialRegister, {'label_col': 4, 'widget_col': 8, 'input_group': {'append': faIco('building')} })}}
	<hr>
	{{form_row(NewUserForm.phone, {'label_col': 4, 'widget_col': 8, 'attr': {'placeholder': 'NewUser.tel.placeholder'}, 'input_group': {'append': faIco('phone')} })}}
	{{form_row(NewUserForm.mobile, {'label_col': 4, 'widget_col': 8, 'attr': {'placeholder': 'NewUser.tel.placeholder'}, 'input_group': {'append': faIco('mobile')} })}}
	<hr>
	{{form_row(NewUserForm.streetNum, {'label_col': 4, 'widget_col': 8, 'input_group': {'append': faIco('map-marker')} })}}
	{{form_row(NewUserForm.address, {'label_col': 4, 'widget_col': 8, 'input_group': {'append': faIco('street-view')} })}}
	{{form_row(NewUserForm.address2, {'label_col': 4, 'widget_col': 8, 'input_group': {'append': faIco('street-view')} })}}
	{{form_row(NewUserForm.town, {'label_col': 4, 'widget_col': 8, 'input_group': {'append': faIco('map-pin')} })}}
	{{form_row(NewUserForm.zipCode, {'label_col': 4, 'widget_col': 8, 'input_group': {'append': faIco('location-arrow')} })}}
	{{form_row(NewUserForm.country, {'label_col': 4, 'widget_col': 8, 'input_group': {'append': faIco('globe')} })}}
	<hr>
	<p class="text-justify">
	Une fois inscrit, Vous devrez attendre que votre compte soit validé par un administrateur.<br><br>
	Une fois cela effectué, veuillez vous connecter et selectionner les produits auquels vous voulez souscrire
	</p>
	<hr>
	<div class="form-group">
		<div class="col-lg-offset-4 col-lg-2">
			<button class="btn-primary btn" type="submit">{{faIco('sign-in')}} {{'action.btnRegister'|trans|raw}}</button>
		</div>
		<div class="col-lg-offset-3 col-lg-2">
			<button class="btn-warning btn" type="reset">{{faIco('ban')}} {{'action.btnCancel'|trans|raw}}</button>
		</div>
	</div>
	<hr>
	<p class="text-justify"><a href="{{path('_security_login')}}">{{faIco('user')}} {{ 'menu.login'|trans }}</a></p>
	<p class="text-justify"><a href="{{path('_security_lost_password')}}">{{faIco('envelope')}} {{ 'menu.lostpassword'|trans }}</a></p>
	<p class="text-justify"><a href="{{path('_front_homepage')}}">{{faIco('home')}} {{ 'menu.home'|trans }}</a></p>
</div>
{{form_end(NewUserForm)}}
{%endblock content%}