{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%} {{ parent() }}
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/jquery/tinyColorPicker/jqColorPicker.min.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('#CompanyNatureUpdateForm_color').colorPicker();
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin'|trans|raw}}</a></li>
	{% if is_granted('ROLE_SUPERADMIN') %}
	<li><a href="{{ path('_admin_company_list') }}">{{faIco('building')}} &nbsp; {{'breadcrumb.company.list'|trans|raw}}</a></li>
	{% endif %}
	<li><a href="{{ path('_admin_company_editGet', {'uid': companyNature.company.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.company.edit'|trans({'%company%': companyNature.company.corporateName})|raw}}</a></li>
	<li class="active"><a href="{{ path('_admin_companyNature_editGet', {'uid': companyNature.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.companyNature.edit'|trans({'%companyNature%': companyNature.label})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		{% if is_granted('ROLE_SUPERADMIN') %}
		<div class="well well-sm text-right">
			<a href="{{ path('_admin_company_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
		</div>
		{% endif %}
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'CompanyNature.tab.overview'|trans|raw}}</a></li>
				<li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'CompanyNature.tab.edit'|trans|raw}}</a></li>
				<li {%if tabActive==11%} class="active"{%endif%}><a href="#Logs" data-toggle="tab">{{'tab.logs'|trans|raw}}</a></li>
				<li><a href="{{ path('_admin_company_backtoCompanyNature', {'uid': companyNature.company.id}) }}">{{'CompanyNature.tab.back'|trans|raw}}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="panel box box-primary">
						<div class="box-header"><h3 class="box-title">{{'CompanyNature.tlabel.overview'|trans}}</h3></div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-3 text-right">{{'CompanyNature.company'|trans|raw}} :</div>
								<div class="col-lg-9"><a href="{{ path('_admin_company_editGet', {'uid': companyNature.company.id}) }}">{{companyNature.company.corporateName}}</a>&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'CompanyNature.label'|trans|raw}} :</div>
								<div class="col-lg-9">{{companyNature.label}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'CompanyNature.color'|trans|raw}} :</div>
								<div class="col-lg-9">{{companyNature.color}}  <span style="display:inline-block; background-color: {{ companyNature.color }};  border: 1px solid {{ companyNature.color }}; width: 60px; height: 20px;"></span>&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'CompanyNature.dtCrea'|trans|raw}} :</div>
								<div class="col-lg-9">{{companyNature.dtCrea|localeDate('medium')}} {{'_at'|trans}} {{companyNature.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'CompanyNature.dtUpdate'|trans|raw}} :</div>
								<div class="col-lg-9">{{companyNature.dtUpdate|localeDate('medium')}} {{'_at'|trans}} {{companyNature.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'CompanyNature.tlabel.edit'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(CompanyNatureUpdateForm, {'method':'POST', 'action': path('_admin_companyNature_editPost', {'uid': companyNature.id}), 'style': 'horizontal'})}}
							{{form_row(CompanyNatureUpdateForm.label, {'label_col': 3, 'widget_col': 8 })}}
							{{form_row(CompanyNatureUpdateForm.color, {'label_col': 3, 'widget_col': 4 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(CompanyNatureUpdateForm)}}
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==11%} in active{%endif%}" id="Logs">
					<div class="panel box box-warning">
						<div class="box-header">
							<h4 class="box-title">{{'tlabel.logs'|trans}}</h4>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-12">
									{{ include('AcfAdminBundle:Widget:traces.html.twig', { 'traces': traces, 'showlinks2': true })}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
