{% extends 'AcfFrontBundle::front2.html.twig' %}
{%block static_css%} {{ parent() }}
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('aove_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.adminaove'|trans|raw}}</a></li>
	<li><a href="{{ path('aove_admin_categ_list') }}">{{ faIco('object-group') }} &nbsp; {{'breadcrumb.aocateg.list'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('aove_admin_categ_addGet') }}">{{glyphIco('plus')}} &nbsp; {{'breadcrumb.aocateg.add'|trans|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('aove_admin_categ_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
		</div>
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">{{ 'AoCateg.tlabel.add'|trans|raw}}</h3>
			</div>
			<div class="box-body">
				{{form_start(CategNewForm, {'method':'POST', 'action': path('aove_admin_categ_addPost'), 'style': 'horizontal'})}}
				{{form_row(CategNewForm.title, {'label_col': 3, 'widget_col': 8})}}
				{{form_row(CategNewForm.priority, {'label_col': 3, 'widget_col': 8})}}
				<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnAdd'|trans|raw}}</button></div></div>
				{{form_end(CategNewForm)}}

			</div>
		</div>
	</div>
</div>
{%endblock content%}
