{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/chosen/1.2.0.css')}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/tinymce/jquery.tinymce.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/chosen/1.2.0.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('textarea.wysiwyg').each(function() {
		var options = {
			script_url : '{{asset('bundles/acfres/js/tinymce/tinymce.min.js')}}',
			theme: "modern",
			plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
			{%if app.request.locale != 'en'%}
			language : '{{ app.request.locale }}',
			{% endif %}
			toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
		};
		$this = $(this);
		if($this.is('[required]')) {
			options.oninit = function(editor) {
				editor.on('change', function(e) {
					editor.save();
				});
			}
		}
		$this.tinymce(options);
	});
	
	$('#NewOnlineOrderForm_company').chosen({width: "100%", disable_search_threshold: 10, allow_single_deselect:true});
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_front_homepage') }}">{{ faIco('home') }}
			&nbsp; {{'breadcrumb.home'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('_security_myCart') }}">{{faIco('cart-arrow-down')}}
			&nbsp; {{'breadcrumb.myCart'|trans|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">
					{{ 'MyCart.tlabel'|trans|raw}}
				</h3>
			</div>
			<div class="box-body table-responsive">
				<table id="productList" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>{{ 'Product.label.label'|trans|raw }}</th>
							<th>{{ 'Product.price.label'|trans|raw }}</th>
							<th>{{ 'Product.vat.label'|trans|raw }}</th>
							<th>{{ 'action'|trans|raw }}</th>
						</tr>
					</thead>
					<tbody>
						{% if products|length != 0 %}
						{% for product in products %}
						<tr>
							<td>{{ product.label|raw }}</td>
							<td align="right">{{ product.price|number_format(3, '.', ' ') }}
								TND</td>
							<td align="right">{{ product.vat|number_format(2, '.', ' ') }}
								%</td>
							<td><a class="btn btn-sm btn-danger btn-block"
								href="{{path('_security_myCart_removeGet',{'uid':product.id})}}">{{ glyphIco('trash') }}
									{{ 'action.delete'|trans }}</a></td>
						</tr>
						{% endfor %}
						{% else %}
						<tr>
							<td colspan="4">{{ 'Product.empty'|trans|raw }}</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
				<br>
				{{form_start(OrderNewForm, {'method':'POST', 'action': path('_security_myCart_validate'), 'style': 'horizontal'})}}
				{{form_row(OrderNewForm.orderTo, {'label_col': 3, 'widget_col': 8, 'attr': {'class':'wysiwyg'} })}}
                {{form_row(OrderNewForm.company, {'label_col': 3, 'widget_col': 8 })}}
				{{form_row(OrderNewForm.renew, {'label_col': 3, 'widget_col': 8 })}}
				<div class="form-group">
						<div class="col-lg-offset-3 col-lg-3">
							<button class="btn-success btn btn-block" type="submit">
								{{faIco('shopping-cart')}}
								{{'action.btnOrder'|trans|raw}}
							</button>
						</div>
					</div>
				{{form_end(OrderNewForm)}}
			</div>
		</div>
	</div>
</div>
{%endblock content%}
