{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.min.css" integrity="sha256-mmiAhiWsn5EjME5u13M5klIesdx2mQQnvwSDFWwAW4E=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/bootstrap/duallistbox/3.0.2.css'))}}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.6/css/fileinput.min.css" integrity="sha256-FFSM4VM14HIuh6A+55Bm30Tx3MOod3aE/42URhyXmK4=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap.min.css" integrity="sha256-PbaYLBab86/uCEz3diunGMEYvjah3uDFIiID+jAtIfw=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal-bs3patch.min.css" integrity="sha256-8qPt0X/JAwhOGkBVHs+gP6PjHgtLBJihYlHMKRQQ8uU=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal.min.css" integrity="sha256-Ad60rSeqfXQzkDAmvKgT7Zm5lgfVJ1dMAwNBCD4rtt4=" crossorigin="anonymous" />
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/tinymce/jquery.tinymce.min.js'))}}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.min.js" integrity="sha256-j9yXOqKOlGKkAerTz/6KCllekmWP3Kt3a7sBvMK8IGI=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/duallistbox/3.0.2.js'))}}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.14.0/js/canvas-to-blob.min.js" integrity="sha256-CeBz6ph2imsCxljJfaQYaMRiRYRtW/TP5kH7REY3qvQ=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.6/js/fileinput.min.js" integrity="sha256-jtXvZtRp0EH9FQhoxYXC0m0H9DhtdDwy1XulOog27Hc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js" integrity="sha256-qcV1wr+bn4NoBtxYqghmy1WIBvxeoe8vQlCowLG+cng=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap.min.js" integrity="sha256-X/58s5WblGMAw9SpDtqnV8dLRNCawsyGwNqnZD0Je/s=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modalmanager.min.js" integrity="sha256-aMqdmRN7/t5KwLKoJTkwFCaRYhw82cZQu9FT7ZEkb9g=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modal.min.js" integrity="sha256-UEFikFBinV4tAScIYbW3+7BCI2zpM74VWtUa1MIR738=" crossorigin="anonymous"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('textarea.wysiwyg').each(function() {
		var options = {
			script_url : '{{preload(asset('bundles/acfres/js/tinymce/tinymce.min.js'))}}',
			theme: "modern",
			plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
			{%if app.request.locale != 'en'%}
			language : '{{ app.request.locale }}',
			{% endif %}
			toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
		};
		$this = $(this);
		if($this.is('[required]')) {
			options.oninit = function(editor) {
				editor.on('change', function(e) {
					editor.save();
				});
			}
		}
		$this.tinymce(options);
	});

	$('#DocgroupsystUpdateParentForm_parent').chosen({width: "100%", disable_search_threshold: 10, allow_single_deselect:true});

	$('#DocgroupsystUpdateDocsForm_docs').bootstrapDualListbox({
		nonselectedlistlabel: 'Non-selected',
		selectedlistlabel: 'Selected',
		preserveselectiononmove: 'moved',
		moveonselect: false,
		initialfilterfrom: ''
	});

	$("#DocNewForm_fileName").fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Documents", browseIcon: '{{faIco('folder-open')}}', removeClass: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});

	{% if docgroupsyst.docs|length != 0 %}
	$('#docList').dataTable({
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{preload(asset('bundles/acfres/json/dataTables/i18n/'~app.request.locale~'.json'))}}'},
		{% endif %}
		"columns": [
			null,
			null,
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		]
	});
	{% endif %}

});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin'|trans|raw}}</a></li>
	{% if is_granted('ROLE_SUPERADMIN') %}
	<li><a href="{{ path('_admin_company_list') }}">{{faIco('building')}} &nbsp; {{'breadcrumb.company.list'|trans|raw}}</a></li>
	{% endif %}
	<li><a href="{{ path('_admin_company_editGet', {'uid': docgroupsyst.company.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.company.edit'|trans({'%company%': docgroupsyst.company.corporateName})|raw}}</a></li>
	<li class="active"><a href="{{ path('_admin_docgroupsyst_editGet', {'uid': docgroupsyst.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.docgroupsyst.edit'|trans({'%docgroupsyst%': docgroupsyst.label})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		{% if is_granted('ROLE_SUPERADMIN') %}
		<div class="well well-sm text-right">
			<a href="{{ path('_admin_company_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
		</div>
		{% endif %}
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'Docgroupsyst.tab.overview'|trans|raw}}</a></li>
				<li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'Docgroupsyst.tab.edit'|trans|raw}}</a></li>
				<li {%if tabActive==3%} class="active"{%endif%}><a href="#Docs" data-toggle="tab">{{'Docgroupsyst.tab.docs'|trans|raw}}</a></li>
				<li {%if tabActive==11%} class="active"{%endif%}><a href="#Logs" data-toggle="tab">{{'tab.logs'|trans|raw}}</a></li>
				<li><a href="{{ path('_admin_company_backtoDocgroupsyst', {'uid': docgroupsyst.company.id}) }}">{{'Docgroupsyst.tab.back'|trans|raw}}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="panel box box-primary">
						<div class="box-header"><h3 class="box-title">{{'Docgroupsyst.tlabel.overview'|trans}}</h3></div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-3 text-right">{{'Docgroupsyst.company'|trans|raw}} :</div>
								<div class="col-lg-9"><a href="{{ path('_admin_company_editGet', {'uid': docgroupsyst.company.id}) }}">{{docgroupsyst.company.corporateName}}</a>&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% if docgroupsyst.parent is not null %}
								<div class="col-lg-3 text-right">{{'Docgroupsyst.parent'|trans|raw}} :</div>
								<div class="col-lg-9"><a href="{{ path('_admin_docgroupsyst_editGet', {'uid': docgroupsyst.parent.id}) }}">{{docgroupsyst.parent.label}}</a>&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								{% if docgroupsyst.childs is not empty %}
								<div class="col-lg-3 text-right">{{'Docgroupsyst.childs'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for child in docgroupsyst.childs %}
									<a href="{{ path('_admin_docgroupsyst_editGet', {'uid': child.id}) }}">{{child.label}}</a><br>
									{% endfor %}
								</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								<div class="col-lg-3 text-right">{{'Docgroupsyst.label'|trans|raw}} :</div>
								<div class="col-lg-9">{{docgroupsyst.label}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Docgroupsyst.otherInfos'|trans|raw}} :</div>
								<div class="col-lg-9">{%if docgroupsyst.otherInfos is not empty%}{{docgroupsyst.otherInfos|raw}}{%else%}{{bsLabel('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Docgroupsyst.dtCrea'|trans|raw}} :</div>
								<div class="col-lg-9">{{docgroupsyst.dtCrea|localeDate('medium')}} {{'_at'|trans}} {{docgroupsyst.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Docgroupsyst.dtUpdate'|trans|raw}} :</div>
								<div class="col-lg-9">{{docgroupsyst.dtUpdate|localeDate('medium')}} {{'_at'|trans}} {{docgroupsyst.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Docgroupsyst.tlabel.editLabel'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(DocgroupsystUpdateLabelForm, {'method':'POST', 'action': path('_admin_docgroupsyst_editPost', {'uid': docgroupsyst.id}), 'style': 'horizontal'})}}
							{{form_row(DocgroupsystUpdateLabelForm.label, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(DocgroupsystUpdateLabelForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Docgroupsyst.tlabel.editOtherInfos'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(DocgroupsystUpdateOtherInfosForm, {'method':'POST', 'action': path('_admin_docgroupsyst_editPost', {'uid': docgroupsyst.id}), 'style': 'horizontal'})}}
							{{form_row(DocgroupsystUpdateOtherInfosForm.otherInfos, {'label_col': 3, 'widget_col': 8, 'attr': {'class':'wysiwyg'}})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(DocgroupsystUpdateOtherInfosForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Docgroupsyst.tlabel.editParent'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(DocgroupsystUpdateParentForm, {'method':'POST', 'action': path('_admin_docgroupsyst_editPost', {'uid': docgroupsyst.id}), 'style': 'horizontal'})}}
							{{form_row(DocgroupsystUpdateParentForm.parent, {'label_col': 3, 'widget_col': 8, 'attr': {'class':'wysiwyg'}})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(DocgroupsystUpdateParentForm)}}
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==3%} in active{%endif%}" id="Docs"><div id="accordion03" class="box-group">
						<div class="panel box box-danger">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse31" data-parent="#accordion03" data-toggle="collapse">{{'Docgroupsyst.tlabel.docs.add'|trans}}</a></h4>
							</div>
							<div id="collapse31" class="panel-collapse collapse{%if tabActive==3 and stabActive==1%} in{%endif%}">
								<div class="box-body">
									{{form_start(DocNewForm, {'method':'POST', 'action': path('_admin_docgroupsyst_editGet', {'uid': docgroupsyst.id}), 'style': 'horizontal'})}}
									{{form_row(DocNewForm.company, {'label_col': 3, 'widget_col': 8, 'attr': {'row_class': 'hidden'} })}}
									{{form_row(DocNewForm.fileName, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(DocNewForm.description, {'label_col': 3, 'widget_col': 8, 'attr': {'class':'wysiwyg'}})}}
									<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnAdd'|trans|raw}}</button></div></div>
									{{form_end(DocNewForm)}}
								</div>
							</div>
						</div>
						<div class="panel box box-danger">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse32" data-parent="#accordion03" data-toggle="collapse">{{'Docgroupsyst.tlabel.docs.edit'|trans}}</a></h4>
							</div>
							<div id="collapse32" class="panel-collapse collapse{%if tabActive==3 and stabActive==2%} in{%endif%}">
								<div class="box-body">
									{{form_start(DocgroupsystUpdateDocsForm, {'method':'POST', 'action': path('_admin_docgroupsyst_editPost', {'uid': docgroupsyst.id}), 'style': 'horizontal'})}}
									{{form_row(DocgroupsystUpdateDocsForm.docs, {'label_col': 3, 'widget_col': 8, 'attr': {'class':'wysiwyg'}})}}
									<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
									{{form_end(DocgroupsystUpdateDocsForm)}}
								</div>
							</div>
						</div>
						<div class="panel box">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse33" data-parent="#accordion03" data-toggle="collapse">{{'Docgroupsyst.tlabel.docs.list'|trans}}</a></h4>
							</div>
							<div id="collapse33" class="panel-collapse collapse{%if (tabActive==3 and stabActive==3) or tabActive!=3%} in{%endif%}">
								<div class="box-body table-responsive">
									<table id="docList" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>{{ 'Doc.fileName.label'|trans|raw }}</th>
												<th>{{ 'Doc.mimeType.label'|trans|raw }}</th>
												<th>{{ 'Doc.size.label'|trans|raw }}</th>
												<th>{{ 'Doc.nbrDownloads.label'|trans|raw }}</th>
												<th>{{ 'Doc.dtCrea'|trans|raw }}:</th>
												<th>{{ 'Doc.description.label'|trans|raw }}</th>
												<th>{{ 'action'|trans|raw }}</th>
											</tr>
										</thead>
										<tbody>
										{% if docgroupsyst.docs|length != 0 %}
											{% for doc in docgroupsyst.docs %}
											<tr>
												<td>{{ doc.originalName }}</td>
												<td>{{ doc.mimeType }}</td>
												<td>{%if doc.size<1024%}
														{{doc.size}} o
													{%elseif doc.size<(1024*1024)%}
														{{'%.2f'|format(doc.size/1024)}} Ko
													{%elseif doc.size<(1024*1024*1024)%}
														{{'%.2f'|format(doc.size/1024/1024)}} Mo
													{%else%}
														{{'%.2f'|format(doc.size/1024/1024/1024)}} Go
													{% endif %}
												</td>
												<td>{{ doc.nbrDownloads }}</td>
												<td>{{ doc.dtCrea|date('Y-m-d @ H:i:s') }}</td>
												<td>{{ doc.description | raw }}</td>
												<td>
													<a class="btn btn-sm btn-primary" href="{{path('_admin_doc_download',{'uid':doc.id})}}">{{ glyphIco('download') }} {{ 'action.btnDownload'|trans }}</a>
													<a class="btn btn-sm btn-info" href="{{path('_admin_doc_editGet',{'uid':doc.id})}}">{{ glyphIco('edit') }} {{ 'action.edit'|trans }}</a>
												</td>
											</tr>
											{% endfor %}
										{% else %}
											<tr>
												<td colspan="7">{{ 'Doc.empty'|trans|raw }}</td>
											</tr>
										{% endif %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==11%} in active{%endif%}" id="Logs">
					<div class="panel box box-warning">
						<div class="box-header">
							<h4 class="box-title">{{'tlabel.logs'|trans}}</h4>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-12">
									{{ include('AcfAdminBundle:Widget:traces.html.twig', { 'traces': traces, 'showlinks2': true, 'showlinks3': true, 'showlinks4': true, 'showlinks': true })}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
