{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/bootstrap/fileinput/4.2.7-7.css'))}}">
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/dataTables/dataTables.bootstrap.css'))}}">
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/bootstrap/modal/2.2.5-bs3patch.css'))}}">
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/bootstrap/modal/2.2.5.css'))}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/tinymce/jquery.tinymce.min.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/fileinput/plugins/canvas-to-blob.min.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/fileinput/4.2.7-7.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/dataTables/jquery.dataTables.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/dataTables/dataTables.bootstrap.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/modal/2.2.5manager.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/modal/2.2.5.js'))}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('textarea.wysiwyg').each(function() {
		var options = {
			script_url : '{{preload(asset('bundles/acfres/js/tinymce/tinymce.min.js'))}}',
			theme: "modern",
			plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
			{%if app.request.locale != 'en'%}
			language : '{{ app.request.locale }}',
			{% endif %}
			toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
		};
		$this = $(this);
		if($this.is('[required]')) {
			options.oninit = function(editor) {
				editor.on('change', function(e) {
					editor.save();
				});
			}
		}
		$this.tinymce(options);
	});

	$("#BiDocUpdateContentForm_doc").fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Documents", browseIcon: '{{faIco('folder-open')}}', removeClass: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});




});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin'|trans|raw}}</a></li>
	<li><a href="{{ path('_admin_biFolder_list') }}">{{faIco('exclamation-triangle')}} &nbsp; {{'breadcrumb.biFolder.list'|trans|raw}}</a></li>
	<li><a href="{{ path('_admin_biFolder_editGet', {'uid': biDoc.folder.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.biFolder.edit'|trans({'%biFolder%': biDoc.folder.title})|raw}}</a></li>
	<li class="active"><a href="{{ path('_admin_biDoc_editGet', {'uid': biDoc.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.biDoc.edit'|trans({'%biDoc%': biDoc.title})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('_admin_biFolder_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
			<a href="{{ path('_admin_biDoc_download',{'uid':biDoc.id})}}" class="btn btn-success">{{ glyphIco('download') }} {{ 'action.btnDownload'|trans }}</a>
		</div>
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'BiDoc.tab.overview'|trans|raw}}</a></li>
				<li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'BiDoc.tab.edit'|trans|raw}}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="panel box box-primary">
						<div class="box-header"><h3 class="box-title">{{'BiDoc.tlabel.overview'|trans}}</h3></div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-3 text-right">{{'BiDoc.folder'|trans|raw}} :</div>
								<div class="col-lg-9"><a href="{{ path('_admin_biFolder_editGet', {'uid': biDoc.folder.id}) }}">{{biDoc.folder.title}}</a>&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'BiDoc.title'|trans|raw}} :</div>
								<div class="col-lg-9">{{biDoc.title}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'BiDoc.originalName'|trans|raw}} :</div>
								<div class="col-lg-9">{{biDoc.originalName}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'BiDoc.description'|trans|raw}} :</div>
								<div class="col-lg-9">{%if biDoc.description is not empty%}{{biDoc.description|raw}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'BiDoc.size'|trans|raw}} :</div>
								<div class="col-lg-9">{%if biDoc.size<1024%}
									{{biDoc.size}} o
								{%elseif biDoc.size<(1024*1024)%}
									{{'%.2f'|format(biDoc.size/1024)}} Ko
								{%elseif biDoc.size<(1024*1024*1024)%}
									{{'%.2f'|format(biDoc.size/1024/1024)}} Mo
								{%else%}
									{{'%.2f'|format(biDoc.size/1024/1024/1024)}} Go
								{% endif %}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'BiDoc.mimeType'|trans|raw}} :</div>
								<div class="col-lg-9">{{biDoc.mimeType}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'BiDoc.md5'|trans|raw}} :</div>
								<div class="col-lg-9">{{biDoc.md5}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'BiDoc.nbrDownloads'|trans|raw}} :</div>
								<div class="col-lg-9">{{biDoc.nbrDownloads}}&nbsp;<br><br><a href="{{ path('_admin_biDoc_sendmail', {'uid': biDoc.id}) }}" class="btn-primary btn">{{glyphIco('envelope')}}</a>&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'BiDoc.dtCrea'|trans|raw}} :</div>
								<div class="col-lg-9">{{biDoc.dtCrea|localeDate('medium')}} {{'_at'|trans}} {{biDoc.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'BiDoc.dtUpdate'|trans|raw}} :</div>
								<div class="col-lg-9">{{biDoc.dtUpdate|localeDate('medium')}} {{'_at'|trans}} {{biDoc.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'BiDoc.tlabel.editDescription'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BiDocUpdateDescriptionForm, {'method':'POST', 'action': path('_admin_biDoc_editPost', {'uid': biDoc.id}), 'style': 'horizontal'})}}
							{{form_row(BiDocUpdateDescriptionForm.description, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BiDocUpdateDescriptionForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'BiDoc.tlabel.editTitle'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BiDocUpdateTitleForm, {'method':'POST', 'action': path('_admin_biDoc_editPost', {'uid': biDoc.id}), 'style': 'horizontal'})}}
							{{form_row(BiDocUpdateTitleForm.title, {'label_col': 3, 'widget_col': 5})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BiDocUpdateTitleForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'BiDoc.tlabel.editOriginalName'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BiDocUpdateOriginalNameForm, {'method':'POST', 'action': path('_admin_biDoc_editPost', {'uid': biDoc.id}), 'style': 'horizontal'})}}
							{{form_row(BiDocUpdateOriginalNameForm.originalName, {'label_col': 3, 'widget_col': 5})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BiDocUpdateOriginalNameForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'BiDoc.tlabel.editContent'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BiDocUpdateContentForm, {'method':'POST', 'action': path('_admin_biDoc_editPost', {'uid': biDoc.id}), 'style': 'horizontal'})}}
							{{form_row(BiDocUpdateContentForm.doc, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BiDocUpdateContentForm)}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
