{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/dataTables/dataTables.bootstrap.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/modal/2.2.5-bs3patch.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/modal/2.2.5.css')}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/dataTables/jquery.dataTables.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/dataTables/dataTables.bootstrap.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/modal/2.2.5manager.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/modal/2.2.5.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	{% if biDocs|length != 0 %}
	$('#biDocList').dataTable({
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{asset('bundles/acfres/css/dataTables/i18n/')~app.request.locale~".json"}}'},
		{% endif %}
		"columns": [
			null,
			null,
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		],
		"pageLength": 10,
		fnDrawCallback : function() {
			$('.deleteConfirmBiDoc').on("click", function(e) {
				e.preventDefault();
				var lnk = $(this).attr('href');
				modalDeleteBtn = $('#deleteConfirmBiDoc').find('.danger');
				modalDeleteBtn.attr('href', lnk);
				$('#deleteConfirmBiDoc').modal('show');
			});
		}
	});
	{% endif %}
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('_admin_biDoc_list') }}">{{faIco('exclamation-triangle')}} &nbsp; {{'breadcrumb.biDoc.list'|trans|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('_admin_biDoc_addGet') }}" class="btn btn-primary">{{ glyphIco('plus') }} {{ 'action.add'|trans }}</a>
		</div>
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">{{ 'BiDoc.tlabel.list'|trans|raw}}</h3>
			</div>
			<div class="box-body table-responsive">
				<table id="biDocList" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>{{ 'BiDoc.title.label'|trans|raw }}</th>
							<th>{{ 'BiDoc.fileName.label'|trans|raw }}</th>
							<th>{{ 'BiDoc.mimeType.label'|trans|raw }}</th>
							<th>{{ 'BiDoc.size.label'|trans|raw }}</th>
							<th>{{ 'BiDoc.nbrDownloads.label'|trans|raw }}</th>
							<th>{{ 'BiDoc.dtCrea'|trans|raw }}:</th>
							<th>{{ 'action'|trans|raw }}</th>
						</tr>
					</thead>
					<tbody>
					{% if biDocs|length != 0 %}
						{% for biDoc in biDocs %}
						<tr>
							<td>{{ biDoc.title }}</td>
							<td>{{ biDoc.originalName }}</td>
							<td>{{ biDoc.mimeType }}</td>
							<td>{%if biDoc.size<1024%}
									{{biDoc.size}} o
								{%elseif biDoc.size<(1024*1024)%}
									{{'%.2f'|format(biDoc.size/1024)}} Ko
								{%elseif biDoc.size<(1024*1024*1024)%}
									{{'%.2f'|format(biDoc.size/1024/1024)}} Mo
								{%else%}
									{{'%.2f'|format(biDoc.size/1024/1024/1024)}} Go
								{% endif %}
							</td>
							<td>{{ biDoc.nbrDownloads }}</td>
							<td>{{ biDoc.dtCrea|date('Y-m-d @ H:i:s') }}</td>
							<td>
								<a class="btn btn-sm btn-primary" href="{{path('_admin_biDoc_download',{'uid':biDoc.id})}}">{{ glyphIco('download') }} {{ 'action.btnDownload'|trans }}</a>
								<a class="btn btn-sm btn-info" href="{{path('_admin_biDoc_editGet',{'uid':biDoc.id})}}">{{ glyphIco('edit') }} {{ 'action.edit'|trans }}</a>
								<a class="btn btn-sm btn-danger deleteConfirmBiDoc" href="{{path('_admin_biDoc_delete',{'uid':biDoc.id})}}">{{ glyphIco('trash') }} {{ 'action.delete'|trans }}</a>
							</td>
						</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="7">{{ 'BiDoc.empty'|trans|raw }}</td>
						</tr>
					{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="deleteConfirmBiDoc" class="modal fade in" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="text-center">{{'BiDoc.delete.confirm.title'|trans|raw}}</h3>
	</div>
	<div class="modal-body">
		{{'BiDoc.delete.confirm.txt'|trans|raw}}
	</div>
	<div class="modal-footer">
		<a href="" class="btn btn-xs btn-danger danger">{{'_yes'|trans|raw}}</a>
		<button type="button" class="btn btn-xs btn-default" data-dismiss="modal">{{'_no'|trans|raw}}</button>
	</div>
</div>
{%endblock content%}
