{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/dataTables/dataTables.bootstrap.css')}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/dataTables/jquery.dataTables.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/dataTables/dataTables.bootstrap.js')}}"></script>
{%endblock end_static_js%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_payroll_homepage') }}">{{ faIco('dashboard') }}
			&nbsp; {{'breadcrumb.payroll'|trans|raw}}</a></li>
	<li class="active"><a
		href="{{ path('_payroll_company_editGet', {'uid': company.id}) }}">{{glyphIco('edit')}}
			&nbsp; {{'breadcrumb.company.edit'|trans({'%company%': company.corporateName})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="panel box">
			<div class="box-header">
				<h4 class="box-title">
					<a href="#collapse1013" data-parent="#accordion101"
						data-toggle="collapse">{{'Company.tlabel.payes.list'|trans}}</a>
				</h4>
			</div>
			<div id="collapse1013"
				class="panel-collapse collapse in">
				<div class="box-body table-responsive">
					{% if mpayeYears | length != 0 %}
					<div id="accordionMpayeList" class="box-group">
						{% for mpayeYear in mpayeYears %}
						<div class="panel box box-info">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapseMpayeList{{ mpayeYear.year }}" data-parent="#accordionMpayeList" data-toggle="collapse">{{ mpayeYear.year }}</a></h4>
								<div class="pull-right"><a class="btn btn-sm btn-success" href="{{path('_payroll_mpaye_excelYear',{'year': mpayeYear.year, 'uid':company.id})}}">{{ faIco('file-excel-o') }} &nbsp; {{ 'action.excel'|trans }} {{ mpayeYear.year }}</a></div>
							</div>
							<div id="collapseMpayeList{{ mpayeYear.year }}"
								class="panel-collapse collapse">
								<table class="table table-bordered table-hover mpayeList">
									<thead>
										<tr>
											<th>{{ 'MPaye.ref.label'|trans|raw }}</th>
											<th>{{ 'MPaye.month.label'|trans|raw }}</th>
											<th>{{ 'MPaye.year.label'|trans|raw }}</th>
											<th>{{ 'action'|trans|raw }}</th>
										</tr>
									</thead>
									<tbody>
										{% if company.payes|length != 0 %}
										{% for mpaye in company.payes %}
										{% if mpaye.year == mpayeYear.year %}
										<tr>
											<td>{{ mpaye.ref }}</td>
											<td>{{('MPaye.month.'~mpaye.month)|trans}}</td>
											<td>{{ mpaye.year }}</td>
											<td><a class="btn btn-sm btn-info"
												href="{{path('_payroll_mpaye_editGet',{'uid':mpaye.id})}}">{{ glyphIco('edit') }}
													{{ 'action.edit'|trans }}</a> <a class="btn btn-sm btn-success"
												href="{{path('_payroll_mpaye_excel',{'uid':mpaye.id})}}">{{ faIco('file-excel-o') }}
													&nbsp; {{ 'action.excel'|trans }}</a></td>
										</tr>
										{% endif %}
										{% endfor %}
										{% else %}
										<tr>
											<td colspan="4">{{ 'MPaye.empty'|trans|raw }}</td>
										</tr>
										{% endif %}
									</tbody>
								</table>
							</div>
						</div>
						{% endfor %}
					</div>
					{% endif %}

				</div>
			</div>
		</div>
	</div>
</div>
{%endblock content%}