{% extends 'AcfFrontBundle::front2.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap.min.css" integrity="sha256-PbaYLBab86/uCEz3diunGMEYvjah3uDFIiID+jAtIfw=" crossorigin="anonymous" />
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js" integrity="sha256-qcV1wr+bn4NoBtxYqghmy1WIBvxeoe8vQlCowLG+cng=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap.min.js" integrity="sha256-X/58s5WblGMAw9SpDtqnV8dLRNCawsyGwNqnZD0Je/s=" crossorigin="anonymous"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	{% if callfortenders|length != 0 %}
	$('#callfortenderList').dataTable({
		"order": [[ 0, "desc" ]],
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{preload(asset('bundles/acfres/json/dataTables/i18n/'~app.request.locale~'.json'))}}'},
		{% endif %}
		"columns": [
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		],
		"pageLength": 10
	});
	{% endif %}
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('ao_front_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.ao'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('ao_front_categ_editGet', {'uid': categ.id}) }}">{{faIco('object-ungroup')}} &nbsp; {{categ.title}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">{{ 'AoCateg.tlabel.list'|trans|raw}}</h3>
			</div>
			<div class="box-body table-responsive">
				<table class="table table-bordered table-hover " id="callfortenderList">
					<thead>
						<tr>
							<th>{{ 'AoCallfortender.dtPublication.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.country.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.description.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.company.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.nature.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.dtEnd.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.daysleft.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.refn.label'|trans|raw }}</th>
							<th>{{ 'AoCallfortender.grp.label'|trans|raw }}</th>
							<th>{{ 'action'|trans|raw }}</th>
						</tr>
					</thead>
					<tbody>
					{% for callfortender in callfortenders %}
						<tr>
							<td>{% if callfortender.dtPublication is not empty %}{{callfortender.dtPublication|date('Y-m-d')}}{%else%}{{'_NA'|trans}}{% endif %}</td>
							<td>{% if callfortender.country is not empty %}{{callfortender.country}}{%else%}{{'_NA'|trans}}{% endif %}</td>
							<td>{% if callfortender.description is not empty %}{{callfortender.description|raw}}{%else%}{{'_NA'|trans}}{% endif %}</td>
							<td>{% if callfortender.company is not empty %}{{callfortender.company}}{%else%}{{'_NA'|trans}}{% endif %}</td>
							<td>{% if callfortender.nature is not empty %}{{('AoCallfortender.nature.'~callfortender.nature)|trans}}{%else%}{{'_NA'|trans}}{% endif %}</td>
							<td>{% if callfortender.dtEnd is not empty %}{{callfortender.dtEnd|date('Y-m-d')}}{%else%}{{'_NA'|trans}}{% endif %}</td>
							<td>{% if callfortender.dtEnd is not empty and callfortender.dtEnd > date("now") %}{{ callfortender.dtEnd.diff(date("now")).days }}{%else%}{{'AoCallfortender.expired'|trans}}{% endif %}</td>
							<td>{% if callfortender.ref is not empty %}{{callfortender.ref}}{%else%}{{'_NA'|trans}}{% endif %}</td>
							<td><a href="{{ path('ao_front_subcateg_editGet', {'uid': callfortender.grp.id}) }}">{{ callfortender.grp.ref }} - {{ callfortender.grp.title }}</a></td>
							<td>
								<a class="btn btn-sm btn-info" href="{{path('ao_front_callfortender_editGet',{'uid':callfortender.id})}}">{{ glyphIco('eye-open') }} &nbsp; {{ 'action.show'|trans }}</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="10">{{ 'AoCallfortender.empty'|trans|raw }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
