{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css" integrity="sha256-ff4Vuur4aYrm0ZOAEC/me1LBOcid7PJ5oP9xxvJ0AKQ=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.min.css" integrity="sha256-mmiAhiWsn5EjME5u13M5klIesdx2mQQnvwSDFWwAW4E=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/bootstrap/duallistbox/3.0.2.css'))}}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.6/css/fileinput.min.css" integrity="sha256-FFSM4VM14HIuh6A+55Bm30Tx3MOod3aE/42URhyXmK4=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/jquery/ui/jquery-ui-1.10.3.custom.css'))}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/2.0.4/css/Jcrop.min.css" integrity="sha256-ONTiDBcGCvrwkhS6AvPvUMzCtxqHqCfkAcVAKN/bNHQ=" crossorigin="anonymous" />
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/tinymce/jquery.tinymce.min.js'))}}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js" integrity="sha256-KWLvsoTXFF8o3o9zKOjUsYC/NPKjgYmUXbrxNk90F8k=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/js/locales/bootstrap-datetimepicker.fr.js" integrity="sha256-3Xo/i0I6uTxVQCt8dPM7aO7afz1kWel46LNiT16cUXw=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.min.js" integrity="sha256-j9yXOqKOlGKkAerTz/6KCllekmWP3Kt3a7sBvMK8IGI=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/duallistbox/3.0.2.js'))}}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.14.0/js/canvas-to-blob.min.js" integrity="sha256-CeBz6ph2imsCxljJfaQYaMRiRYRtW/TP5kH7REY3qvQ=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.6/js/fileinput.min.js" integrity="sha256-jtXvZtRp0EH9FQhoxYXC0m0H9DhtdDwy1XulOog27Hc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha256-2Pjr1OlpZMY6qesJM68t2v39t+lMLvxwpa8QlRjJroA=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js" integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/2.0.4/js/Jcrop.min.js" integrity="sha256-NGIqm+F/SYzK93JP9TjvxzFBnaE+hQv6PCszY0ZPORY=" crossorigin="anonymous"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('textarea.wysiwyg').each(function() {
		var options = {
			script_url : '{{preload(asset('bundles/acfres/js/tinymce/tinymce.min.js'))}}',
			theme: "modern",
			plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
			{%if app.request.locale != 'en'%}
			language : '{{ app.request.locale }}',
			{% endif %}
			toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
		};
		$this = $(this);
		if($this.is('[required]')) {
			options.oninit = function(editor) {
				editor.on('change', function(e) {
					editor.save();
				});
			}
		}
		$this.tinymce(options);
	});

	$('#UserUpdateLockoutForm_lockout').chosen({width: "100%", disable_search_threshold: 10});

	$('#UserUpdateProfileForm_birthday').click(function( event ) {
		event.preventDefault();
		$('#UserUpdateProfileForm_birthday').datetimepicker({
			weekStart: 1,
			startView: 4,
			minView: 2,
			autoclose: true,
			todayHighlight: true,
			language: "{{app.request.locale}}",
			format: 'yyyy-mm-dd'
		}).datetimepicker('show');
	});
	
	$('#UserUpdateLastValidityForm_lastValidity').click(function( event ) {
		event.preventDefault();
		$('#UserUpdateLastValidityForm_lastValidity').datetimepicker({
			weekStart: 1,
			startView: 4,
			minView: 2,
			autoclose: true,
			todayHighlight: true,
			language: "{{app.request.locale}}",
			format: 'yyyy-mm-dd'
		}).datetimepicker('show');
	});

	$('#UserUpdateProfileForm_sexe').chosen({width: "100%", disable_search_threshold: 10});

	$('#UserUpdateProfileForm_country').chosen({width: "100%", disable_search_threshold: 10, allow_single_deselect:true});

	$('#UserUpdatePreferedLangForm_preferedLang').chosen({width: "100%", disable_search_threshold: 10, allow_single_deselect:true});

	$('#UserUpdateUserRolesForm_userRoles').bootstrapDualListbox({
		nonselectedlistlabel: 'Non-selected',
		selectedlistlabel: 'Selected',
		preserveselectiononmove: 'moved',
		moveonselect: false,
		initialfilterfrom: ''
	});

	$("#UserUploadAvatarForm_avatar").fileinput({'showUpload':false, 'previewFileType':'image', browseClass: "btn btn-success", browseLabel: " Image", browseIcon: '{{glyphIco('picture')}}', removeClass: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});

	var bar = $('.bar');
	var percent = $('.percent');
	var status = $('#status');
	var avatar_sel = $('#avatar_sel');

	$("#dialog").dialog({autoOpen: false, maxWidth: 500, maxHeight: 500, modal: true});

	$('#avatar_upload').ajaxForm({
		beforeSend: function() {
			$("#dialog").dialog("open");
			status.empty();
			avatar_sel.empty();
			var percentVal = '0%';
			bar.width(percentVal);
			percent.html(percentVal);
		},
		uploadProgress: function(event, position, total, percentComplete) {
			var percentVal = percentComplete + '%';
			bar.width(percentVal);
			percent.html(percentVal);
		},
		complete: function(xhr) {
			$("#dialog").dialog("close");
			avatar_sel.html(xhr.responseText);
		}
	});
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin'|trans|raw}}</a></li>
	<li><a href="{{ path('_admin_user_list') }}">{{faIco('users')}} &nbsp; {{'breadcrumb.user.list'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('_admin_user_editGet', {'id': user.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.user.edit'|trans({'%user%': user.username})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('_admin_user_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
			<a href="{{ path('_admin_user_addGet') }}" class="btn btn-primary">{{ glyphIco('plus') }} {{ 'action.add'|trans }}</a>
		</div>
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'User.tab.overview'|trans|raw}}</a></li>
				<li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'User.tab.edit'|trans|raw}}</a></li>
				<li {%if tabActive==11%} class="active"{%endif%}><a href="#Logs" data-toggle="tab">{{'tab.logs'|trans|raw}}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="panel box box-primary">
						<div class="box-header"><h3 class="box-title">{{'User.tlabel.overview'|trans}}</h3></div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-3 text-right">{{'User.username'|trans|raw}} :</div>
								<div class="col-lg-9">{{user.username}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'User.email'|trans|raw}} :</div>
								<div class="col-lg-9"><a href="mailto:{{user.email}}">{{user.email}}</a>&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'User.lockout'|trans|raw}} :</div>
								<div class="col-lg-9">{{('User.lockout.'~user.lockout)|trans}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'User.lastValidity'|trans}} :</div>
                                <div class="col-lg-9">{% if user.lastValidity is not empty %}{{user.lastValidity|localeDate('full')}} {{'_at'|trans}} {{user.lastValidity|localeDate('none','medium')}}{% else %}{{bsLabelWarning('_NA'|trans|raw)}}{% endif %}</div>
                                <div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'User.userRoles'|trans|raw}} :</div>
								<div class="col-lg-9">
									{%if user.userRoles|length!=0%}
									<ul class="list-unstyled">
									{% for r in user.userRoles %}
										{% if is_granted('ROLE_SUPERADMIN') %}
										<li><a href="{{path('_admin_role_editGet', {'id': r.id})}}">{{r.description}}</a></li>
										{% else %}
										<li>{{r.description}}</li>
										{% endif %}
									{% endfor %}
									</ul>
									{%else%}
									{{bsLabelWarning('_NONE'|trans)}}
									{%endif%}&nbsp;
								</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'User.logins'|trans|raw}} :</div>
								<div class="col-lg-9">{{user.logins}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'User.lastLogin'|trans|raw}} :</div>
								<div class="col-lg-9">{%if user.lastLogin is not null%}{{user.lastLogin|localeDate('full')}} {{'_at'|trans}} {{user.lastLogin|localeDate('none', 'medium')}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'User.avatar'|trans|raw}} :</div>
								<div class="col-lg-9">{%if user.avatar is not empty%}<img class="img-responsive img-thumbnail" alt="{{user.fullName}}" src="{{preload(asset('res/avatars/'~user.avatar))}}">{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'User.sexe'|trans|raw}} :</div>
								<div class="col-lg-9">{%if user.sexe is not null%}{{('User.sexe.'~user.sexe)|trans}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'User.firstName'|trans|raw}} :</div>
								<div class="col-lg-9">{%if user.firstName is not empty%}{{user.firstName}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'User.lastName'|trans|raw}} :</div>
								<div class="col-lg-9">{%if user.lastName is not empty%}{{user.lastName}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'User.birthday'|trans|raw}} :</div>
								<div class="col-lg-9">{%if user.birthday is not null%}{{user.birthday|localeDate('full')}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'User.streetNum'|trans|raw}} :</div>
								<div class="col-lg-9">{%if user.streetNum is not empty%}{{user.streetNum}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'User.address'|trans|raw}} :</div>
								<div class="col-lg-9">{%if user.address is not empty%}{{user.address|raw}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'User.address2'|trans|raw}} :</div>
								<div class="col-lg-9">{%if user.address2 is not empty%}{{user.address2|raw}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'User.town'|trans|raw}} :</div>
								<div class="col-lg-9">{%if user.town is not empty%}{{user.town}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'User.zipCode'|trans|raw}} :</div>
								<div class="col-lg-9">{%if user.zipCode is not empty%}{{user.zipCode}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'User.country'|trans|raw}} :</div>
								<div class="col-lg-9">{%if user.country is not empty%}{{user.country|country}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>


								<div class="col-lg-3 text-right">{{'User.phone'|trans|raw}} :</div>
								<div class="col-lg-9">{%if user.phone is not empty%}<a href="call:{{user.phone}}">{{user.phone}}</a>{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'User.mobile'|trans|raw}} :</div>
								<div class="col-lg-9">{%if user.mobile is not empty%}<a href="call:{{user.mobile}}">{{user.mobile}}</a>{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>

								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'User.dtCrea'|trans|raw}} :</div>
								<div class="col-lg-9">{{user.dtCrea|localeDate('medium')}} {{'_at'|trans}} {{user.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'User.dtUpdate'|trans|raw}} :</div>
								<div class="col-lg-9">{{user.dtUpdate|localeDate('medium')}} {{'_at'|trans}} {{user.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'User.tlabel.editAvatar'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(UserUploadAvatarForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal', 'attr': {'id':'avatar_upload'}})}}
							{{form_row(UserUploadAvatarForm.avatar, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnUpload'|trans|raw}}</button></div></div>
							{{form_end(UserUploadAvatarForm)}}
							<div id="avatar_sel"></div>
							<div id="dialog" title="{{'User.tlabel.editAvatar.crop'|trans}}">
								<div class="progress">
									<div class="bar"></div>
									<div class="percent">0%</div>
								</div>
								<div id="status"></div>
							</div>
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'User.tlabel.editProfile'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(UserUpdateProfileForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal'})}}
							{{form_row(UserUpdateProfileForm.sexe, {'label_col': 3, 'widget_col': 3})}}
							{{form_row(UserUpdateProfileForm.firstName, {'label_col': 3, 'widget_col': 5})}}
							{{form_row(UserUpdateProfileForm.lastName, {'label_col': 3, 'widget_col': 5})}}
							{{form_row(UserUpdateProfileForm.birthday, {'label_col': 3, 'widget_col': 3})}}
							{{form_row(UserUpdateProfileForm.streetNum, {'label_col': 3, 'widget_col': 3})}}
							{{form_row(UserUpdateProfileForm.address, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
							{{form_row(UserUpdateProfileForm.address2, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
							{{form_row(UserUpdateProfileForm.town, {'label_col': 3, 'widget_col': 5})}}
							{{form_row(UserUpdateProfileForm.zipCode, {'label_col': 3, 'widget_col': 3})}}
							{{form_row(UserUpdateProfileForm.country, {'label_col': 3, 'widget_col': 6})}}
							{{form_row(UserUpdateProfileForm.phone, {'label_col': 3, 'widget_col': 5 })}}
							{{form_row(UserUpdateProfileForm.mobile, {'label_col': 3, 'widget_col': 5 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(UserUpdateProfileForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'User.tlabel.editPreferedLang'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(UserUpdatePreferedLangForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal'})}}
							{{form_row(UserUpdatePreferedLangForm.preferedLang, {'label_col': 3, 'widget_col': 5 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(UserUpdatePreferedLangForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'User.tlabel.editEmail'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(UserUpdateEmailForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal'})}}
							{{form_row(UserUpdateEmailForm.email, {'label_col': 3, 'widget_col': 5 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(UserUpdateEmailForm)}}
						</div>
					</div>
					{% if is_granted('ROLE_SUPERADMIN') %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'User.tlabel.editPassword'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(UserUpdatePasswordForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal'})}}
							{{form_row(UserUpdatePasswordForm.clearPassword, {'label_col': 3, 'widget_col': 5 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(UserUpdatePasswordForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'User.tlabel.editLockout'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(UserUpdateLockoutForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal'})}}
							{{form_row(UserUpdateLockoutForm.lockout, {'label_col': 3, 'widget_col': 3 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(UserUpdateLockoutForm)}}
						</div>
					</div>
                    <div class="panel box box-danger">
                        <div class="box-header"><h3 class="box-title">{{'User.tlabel.editLastValidity'|trans}}</h3></div>
                        <div class="box-body">
                            {{form_start(UserUpdateLastValidityForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal'})}}
                            {{form_row(UserUpdateLastValidityForm.lastValidity, {'label_col': 3, 'widget_col': 3 })}}
                            <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
                            {{form_end(UserUpdateLastValidityForm)}}
                        </div>
                    </div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'User.tlabel.editUserRoles'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(UserUpdateUserRolesForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal'})}}
							{{form_row(UserUpdateUserRolesForm.userRoles, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(UserUpdateUserRolesForm)}}
						</div>
					</div>
					{% endif %}
				</div>
				<div class="tab-pane fade{%if tabActive==11%} in active{%endif%}" id="Logs">
					<div class="panel box box-warning">
						<div class="box-header">
							<h4 class="box-title">{{'tlabel.logs'|trans}}</h4>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-12">
									{{ include('AcfAdminBundle:Widget:traces.html.twig', { 'traces': traces })}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
