{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/datetimepicker/2.3.1.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/chosen/1.2.0.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/duallistbox/3.0.2.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/fileinput/4.2.7-7.css')}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/tinymce/jquery.tinymce.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/datetimepicker/2.3.1.js')}}"></script>
{%if app.request.locale != 'en'%}
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/datetimepicker/locales/2.3.1.'~app.request.locale~'.js')}}"></script>
{% endif %}
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/chosen/1.2.0.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/duallistbox/3.0.2.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/fileinput/plugins/canvas-to-blob.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/fileinput/4.2.7-7.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('textarea.wysiwyg').each(function() {
		var options = {
			script_url : '{{asset('bundles/acfres/js/tinymce/tinymce.min.js')}}',
			theme: "modern",
			plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
			{%if app.request.locale != 'en'%}
			language : '{{ app.request.locale }}',
			{% endif %}
			toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
		};
		$this = $(this);
		if($this.is('[required]')) {
			options.oninit = function(editor) {
				editor.on('change', function(e) {
					editor.save();
				});
			}
		}
		$this.tinymce(options);
	});

	{% if companyUser.editSales == constant('CAN', companyUser) %}
	$('#SaleUpdateDtActivationForm_dtActivation').datetimepicker({
		weekStart: 1,
		startView: 4,
		minView: 2,
		autoclose: true,
		todayHighlight: true,
		language: "{{app.request.locale}}",
		format: 'yyyy-mm-dd'
	});

	$('#SaleUpdateRelationForm_relation').chosen({width: "100%", disable_search_threshold: 10});

	$('#SaleUpdateWithholdingForm_withholding').chosen({width: "100%", disable_search_threshold: 10});

	$('#SaleUpdatePaymentTypeForm_paymentType').chosen({width: "100%", disable_search_threshold: 10});

	$('#SaleUpdateVatInfoForm_vatInfo').chosen({width: "100%", disable_search_threshold: 10});

	$('#SaleUpdateRegimeForm_regime').chosen({width: "100%", disable_search_threshold: 10});

	$('#SaleUpdateTransactionStatusForm_dtPayment').datetimepicker({
		weekStart: 1,
		startView: 4,
		minView: 2,
		autoclose: true,
		todayHighlight: true,
		language: "{{app.request.locale}}",
		format: 'yyyy-mm-dd'
	});

	$('#SaleUpdateAccountForm_account').chosen({width: "100%", disable_search_threshold: 10});

	$('#SaleUpdateDeviseForm_devise').chosen({width: "100%", disable_search_threshold: 10});

	$('#SecondaryVatNewForm_vatInfo').chosen({width: "100%", disable_search_threshold: 10});
	{% endif %}

	{% if companyUser.editDocs == constant('CAN', companyUser) %}
	$('#SaleUpdateDocsForm_docs').bootstrapDualListbox({
		nonselectedlistlabel: 'Non-selected',
		selectedlistlabel: 'Selected',
		preserveselectiononmove: 'moved',
		moveonselect: false,
		initialfilterfrom: ''
	});
	{% endif %}

	{% if companyUser.addDocs == constant('CAN', companyUser) %}
	$("#DocNewForm_fileName").fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Documents", browseIcon: '{{faIco('folder-open')}}', removeClass: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});
	{% endif %}

	{% if sale.docs|length != 0 %}
	$('#docList').dataTable({
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{asset('bundles/acfres/css/dataTables/i18n/')~app.request.locale~".json"}}'},
		{% endif %}
		"columns": [
			null,
			null,
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		]
	});
	{% endif %}

});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_client_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.client'|trans|raw}}</a></li>
	<li><a href="{{ path('_client_company_editGet', {'uid': sale.monthlyBalance.company.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.company.edit'|trans({'%company%': sale.monthlyBalance.company.corporateName})|raw}}</a></li>
	<li><a href="{{ path('_client_mbsale_editGet', {'uid': sale.monthlyBalance.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.mbsale.edit'|trans({'%mbsale%': sale.monthlyBalance.ref})|raw}}</a></li>
	<li class="active"><a href="{{ path('_client_sale_editGet', {'uid': sale.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.sale.edit'|trans({'%sale%': sale.label})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'Sale.tab.overview'|trans|raw}}</a></li>
				{% if companyUser.editSales == constant('CAN', companyUser) %}
				<li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'Sale.tab.edit'|trans|raw}}</a></li>
				{% endif %}
				<li {%if tabActive==3%} class="active"{%endif%}><a href="#Docs" data-toggle="tab">{{'Sale.tab.docs'|trans|raw}}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="panel box box-primary">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.overview'|trans}}</h3></div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-3 text-right">{{'Sale.company'|trans|raw}} :</div>
								<div class="col-lg-9"><a href="{{ path('_client_company_editGet', {'uid': sale.monthlyBalance.company.id}) }}">{{sale.monthlyBalance.company.corporateName}}</a>&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.monthlyBalance'|trans|raw}} :</div>
								<div class="col-lg-9"><a href="{{ path('_client_mbsale_editGet', {'uid': sale.monthlyBalance.id}) }}">{{sale.monthlyBalance.ref}}</a>&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.number'|trans|raw}} :</div>
								<div class="col-lg-9">{{sale.number}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.dtActivation'|trans|raw}} :</div>
								<div class="col-lg-9">{{sale.dtActivation|localeDate('full')}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.bill'|trans|raw}} :</div>
								<div class="col-lg-9">{{sale.bill}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.relation'|trans|raw}} :</div>
								<div class="col-lg-9">{{sale.relation.label}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.relation.number'|trans|raw}} :</div>
								<div class="col-lg-9">{{customersPrefix~sale.relation.numberFormated}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.label'|trans|raw}} :</div>
								<div class="col-lg-9">{{sale.label}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.devise'|trans|raw}} :</div>
								<div class="col-lg-9">{{sale.devise}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% if sale.devise != 'TND' %}
								<div class="col-lg-3 text-right">{{'Sale.conversionRate'|trans|raw}} :</div>
								<div class="col-lg-9">{{sale.conversionRate}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								{% if sale.devise != 'TND' %}
								<div class="col-lg-3 text-right">{{'Sale.balanceHtDevise'|trans|raw}} :</div>
								<div class="col-lg-9">{%set balanceHtDevise = sale.balanceTtcDevise - sale.stampDevise - sale.vatDevise%}{{ balanceHtDevise|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								<div class="col-lg-3 text-right">{{'Sale.balanceHt'|trans|raw}} :</div>
								<div class="col-lg-9">{%set balanceHt = sale.balanceTtc - sale.stamp - sale.vat%}{{ balanceHt|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% if sale.devise != 'TND' %}
								<div class="col-lg-3 text-right">{{'Sale.vatDevise'|trans|raw}} :</div>
								<div class="col-lg-9">{{sale.vatDevise|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								<div class="col-lg-3 text-right">{{'Sale.vat'|trans|raw}} :</div>
								<div class="col-lg-9">{{ sale.vat|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% if sale.devise != 'TND' %}
								<div class="col-lg-3 text-right">{{'Sale.stampDevise'|trans|raw}} :</div>
								<div class="col-lg-9">{{sale.stampDevise|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								<div class="col-lg-3 text-right">{{'Sale.stamp'|trans|raw}} :</div>
								<div class="col-lg-9">{{ sale.stamp|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% if sale.devise != 'TND' %}
								<div class="col-lg-3 text-right">{{'Sale.balanceTtcDevise'|trans|raw}} :</div>
								<div class="col-lg-9">{{sale.balanceTtcDevise|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								<div class="col-lg-3 text-right">{{'Sale.balanceTtc'|trans|raw}} :</div>
								<div class="col-lg-9">{{ sale.balanceTtc|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.vatInfo'|trans|raw}} :</div>
								<div class="col-lg-9">{{ ('Transaction.vatInfo.'~sale.vatInfo)|trans }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.regime'|trans|raw}} :</div>
								<div class="col-lg-9">{{ ('Sale.regime.'~sale.regime)|trans }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.withholding.value'|trans|raw}} :</div>
								<div class="col-lg-9">{{ sale.withholding.value |number_format(2, '.', '')}}%&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% if sale.devise != 'TND' %}
								<div class="col-lg-3 text-right">{{'Sale.withholdingDevise'|trans|raw}} :</div>
								<div class="col-lg-9">{%set withholdingDevise = sale.balanceTtcDevise - sale.balanceNetDevise%}{{withholdingDevise|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								<div class="col-lg-3 text-right">{{'Sale.withholding'|trans|raw}} :</div>
								<div class="col-lg-9">{%set withholding = sale.balanceTtc - sale.balanceNet%}{{ withholding|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% if sale.devise != 'TND' %}
								<div class="col-lg-3 text-right">{{'Sale.balanceNetDevise'|trans|raw}} :</div>
								<div class="col-lg-9">{{sale.balanceNetDevise|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								<div class="col-lg-3 text-right">{{'Sale.balanceNet'|trans|raw}} :</div>
								<div class="col-lg-9">{{sale.balanceNet|number_format(3, '.', '')}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								{% if sale.secondaryVats|length != 0 %}
								<div class="col-lg-3 text-right">{{'Sale.secondaryVats'|trans|raw}} :</div>
								<div class="col-lg-9">
								{% for secondaryVat in sale.secondaryVats %}
								<a href="{{ path('_client_secondaryVat_editGet', {'uid': secondaryVat.id}) }}">
									{{ 'SecondaryVat.vatInfo'|trans }}: {{ secondaryVat.vatInfo }} &nbsp; -
									{{ 'SecondaryVat.vat'|trans }}: {{ secondaryVat.vat|number_format(3, '.', '') }} &nbsp; -
									{{ 'SecondaryVat.balanceTtc'|trans }}: {{ secondaryVat.balanceTtc|number_format(3, '.', '') }} &nbsp; -
									{{ 'SecondaryVat.balanceNet'|trans }}: {{ secondaryVat.balanceNet|number_format(3, '.', '') }}
								</a><br>
								{% endfor %}
								&nbsp;</div>

								<div class="col-lg-12">&nbsp;</div>

								{% endif %}

								<div class="col-lg-3 text-right">{{'Sale.paymentType'|trans|raw}} :</div>
								<div class="col-lg-9">{{ ('Transaction.paymentType.'~sale.paymentType)|trans }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.dtPayment'|trans|raw}} :</div>
								<div class="col-lg-9">{{ sale.dtPayment|localeDate('full') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.transactionStatus'|trans|raw}} :</div>
								<div class="col-lg-9">{{ ('Transaction.transactionStatus.'~sale.transactionStatus)|trans }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.account'|trans|raw}} :</div>
								<div class="col-lg-9">{{ sale.account.label }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.otherInfos'|trans|raw}} :</div>
								<div class="col-lg-9">{{ sale.otherInfos }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.dtCrea'|trans|raw}} :</div>
								<div class="col-lg-9">{{sale.dtCrea|localeDate('medium')}} {{'_at'|trans}} {{sale.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sale.dtUpdate'|trans|raw}} :</div>
								<div class="col-lg-9">{{sale.dtUpdate|localeDate('medium')}} {{'_at'|trans}} {{sale.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				{% if companyUser.editSales == constant('CAN', companyUser) %}
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editNumber'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateNumberForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateNumberForm.number, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateNumberForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editDtActivation'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateDtActivationForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateDtActivationForm.dtActivation, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateDtActivationForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editBill'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateBillForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateBillForm.bill, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateBillForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editRelation'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateRelationForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateRelationForm.relation, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateRelationForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editLabel'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateLabelForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateLabelForm.label, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateLabelForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editDevise'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateDeviseForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateDeviseForm.devise, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateDeviseForm)}}
						</div>
					</div>
					{% if sale.devise != 'TND' %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editConversionRate'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateConversionRateForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateConversionRateForm.conversionRate, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateConversionRateForm)}}
						</div>
					</div>
					{% endif %}
					{% if sale.devise != 'TND' %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editVatDevise'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateVatDeviseForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateVatDeviseForm.vatDevise, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateVatDeviseForm)}}
						</div>
					</div>
					{% else %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editVat'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateVatForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateVatForm.vat, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateVatForm)}}
						</div>
					</div>
					{% endif %}
					{% if sale.devise != 'TND' %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editStampDevise'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateStampDeviseForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateStampDeviseForm.stampDevise, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateStampDeviseForm)}}
						</div>
					</div>
					{% else %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editStamp'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateStampForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateStampForm.stamp, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateStampForm)}}
						</div>
					</div>
					{% endif %}
					{% if sale.devise != 'TND' %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editBalanceTtcDevise'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateBalanceTtcDeviseForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateBalanceTtcDeviseForm.balanceTtcDevise, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateBalanceTtcDeviseForm)}}
						</div>
					</div>
					{% else %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editBalanceTtc'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateBalanceTtcForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateBalanceTtcForm.balanceTtc, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateBalanceTtcForm)}}
						</div>
					</div>
					{% endif %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editVatInfo'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateVatInfoForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateVatInfoForm.vatInfo, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateVatInfoForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editRegime'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateRegimeForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateRegimeForm.regime, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateRegimeForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editWithholding'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateWithholdingForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateWithholdingForm.withholding, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateWithholdingForm)}}
						</div>
					</div>
					{% if sale.devise != 'TND' %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editBalanceNetDevise'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateBalanceNetDeviseForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateBalanceNetDeviseForm.balanceNetDevise, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateBalanceNetDeviseForm)}}
						</div>
					</div>
					{% else %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editBalanceNet'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateBalanceNetForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateBalanceNetForm.balanceNet, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateBalanceNetForm)}}
						</div>
					</div>
					{% endif %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editPaymentType'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdatePaymentTypeForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdatePaymentTypeForm.paymentType, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdatePaymentTypeForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editTransactionStatus'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateTransactionStatusForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateTransactionStatusForm.transactionStatus, {'label_col': 3, 'widget_col': 8 })}}
							{{form_row(SaleUpdateTransactionStatusForm.dtPayment, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateTransactionStatusForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editAccount'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateAccountForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateAccountForm.account, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateAccountForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.editOtherInfos'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SaleUpdateOtherInfosForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SaleUpdateOtherInfosForm.otherInfos, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(SaleUpdateOtherInfosForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Sale.tlabel.addSecondaryVat'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SecondaryVatNewForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
							{{form_row(SecondaryVatNewForm.sale, {'label_col': 3, 'widget_col': 8, 'attr': {'row_class': 'hidden'} })}}
							{{form_row(SecondaryVatNewForm.vatInfo, {'label_col': 3, 'widget_col': 8})}}
							{{form_row(SecondaryVatNewForm.vat, {'label_col': 3, 'widget_col': 8})}}
							{{form_row(SecondaryVatNewForm.balanceTtc, {'label_col': 3, 'widget_col': 8})}}
							{{form_row(SecondaryVatNewForm.balanceNet, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnAdd'|trans|raw}}</button></div></div>
							{{form_end(SecondaryVatNewForm)}}
						</div>
					</div>
				</div>
				{% endif %}
				<div class="tab-pane fade{%if tabActive==3%} in active{%endif%}" id="Docs">
					<div id="accordion03" class="box-group">
						{% if companyUser.addDocs == constant('CAN', companyUser) %}
						<div class="panel box box-danger">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse31" data-parent="#accordion03" data-toggle="collapse">{{'Sale.tlabel.docs.add'|trans}}</a></h4>
							</div>
							<div id="collapse31" class="panel-collapse collapse{%if tabActive==3 and stabActive==1%} in{%endif%}">
								<div class="box-body">
									{{form_start(DocNewForm, {'method':'POST', 'action': path('_client_sale_editGet', {'uid': sale.id}), 'style': 'horizontal'})}}
									{{form_row(DocNewForm.company, {'label_col': 3, 'widget_col': 8, 'attr': {'row_class': 'hidden'} })}}
									{{form_row(DocNewForm.fileName, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(DocNewForm.description, {'label_col': 3, 'widget_col': 8, 'attr': {'class':'wysiwyg'}})}}
									<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit" {% if sale.monthlyBalance.company.currentMonthDocs >= sale.monthlyBalance.company.monthDocsLimit %} disabled="disabled"{% endif %}>{{glyphIco('save')}} {{'action.btnAdd'|trans|raw}} ({{sale.monthlyBalance.company.currentMonthDocs}}/{{sale.monthlyBalance.company.monthDocsLimit}})</button></div></div>
									{{form_end(DocNewForm)}}
								</div>
							</div>
						</div>
						{% endif %}
						{% if companyUser.editDocs == constant('CAN', companyUser) %}
						<div class="panel box box-danger">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse32" data-parent="#accordion03" data-toggle="collapse">{{'Sale.tlabel.docs.edit'|trans}}</a></h4>
							</div>
							<div id="collapse32" class="panel-collapse collapse{%if tabActive==3 and stabActive==2%} in{%endif%}">
								<div class="box-body">
									{{form_start(SaleUpdateDocsForm, {'method':'POST', 'action': path('_client_sale_editPost', {'uid': sale.id}), 'style': 'horizontal'})}}
									{{form_row(SaleUpdateDocsForm.docs, {'label_col': 3, 'widget_col': 8, 'attr': {'class':'wysiwyg'}})}}
									<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
									{{form_end(SaleUpdateDocsForm)}}
								</div>
							</div>
						</div>
						{% endif %}
						<div class="panel box">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse33" data-parent="#accordion03" data-toggle="collapse">{{'Sale.tlabel.docs.list'|trans}}</a></h4>
							</div>
							<div id="collapse33" class="panel-collapse collapse{%if (tabActive==3 and stabActive==3) or tabActive!=3%} in{%endif%}">
								<div class="box-body table-responsive">
									<table id="docList" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>{{ 'Doc.fileName.label'|trans|raw }}</th>
												<th>{{ 'Doc.mimeType.label'|trans|raw }}</th>
												<th>{{ 'Doc.size.label'|trans|raw }}</th>
												<th>{{ 'Doc.nbrDownloads.label'|trans|raw }}</th>
												<th>{{ 'Doc.dtCrea'|trans|raw }}:</th>
												<th>{{ 'Doc.description.label'|trans|raw }}</th>
												<th>{{ 'action'|trans|raw }}</th>
											</tr>
										</thead>
										<tbody>
										{% if sale.docs|length != 0 %}
											{% for doc in sale.docs %}
											<tr>
												<td>{{ doc.originalName }}</td>
												<td>{{ doc.mimeType }}</td>
												<td>{%if doc.size<1024%}
														{{doc.size}} o
													{%elseif doc.size<(1024*1024)%}
														{{'%.2f'|format(doc.size/1024)}} Ko
													{%elseif doc.size<(1024*1024*1024)%}
														{{'%.2f'|format(doc.size/1024/1024)}} Mo
													{%else%}
														{{'%.2f'|format(doc.size/1024/1024/1024)}} Go
													{% endif %}
												</td>
												<td>{{ doc.nbrDownloads }}</td>
												<td>{{ doc.dtCrea|date('Y-m-d @ H:i:s') }}</td>
												<td>{{ doc.description | raw }}</td>
												<td>
													<a class="btn btn-sm btn-primary" href="{{path('_client_doc_download',{'uid':doc.id})}}">{{ glyphIco('download') }} {{ 'action.btnDownload'|trans }}</a>
													<a class="btn btn-sm btn-info" href="{{path('_client_doc_editGet',{'uid':doc.id})}}">{{ glyphIco('edit') }} {{ 'action.edit'|trans }}</a>
												</td>
											</tr>
											{% endfor %}
										{% else %}
											<tr>
												<td colspan="7">{{ 'Doc.empty'|trans|raw }}</td>
											</tr>
										{% endif %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
