{% extends 'AcfResBundle::base.html.twig' %}
{%if menu_active is not defined%}
{%set menu_active=''%}
{%endif%}
{%if smenu_active is not defined%}
{%set smenu_active=''%}
{%endif%}
{%if tabActive is not defined%}
{%set tabActive=1%}
{%endif%}
{%block static_css%}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ preload(asset('bundles/acfres/css/theme/AdminLTE/AdminLTE.css'))}}">
<link rel="stylesheet" type="text/css"
	href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ preload(asset('bundles/acfres/css/theme/AdminLTE/skins/_all-skins.css'))}}"
>
<link rel="stylesheet" type="text/css" href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/acfres/css/theme/Mpdf/style.css')}}">
{%endblock static_css%}
{%block html_body%}
<body class="skin-blue">
	<div class="wrapper">
		<div class="content-wrapper2">
			<section id="content" class="content">
				<div class="row">
					<div class="col-lg-12">
						<div class="box box-primary">
							<div class="box-body table-responsive">
								<table class="table table-condensed table-borderless">
									<tr>
										<td width="50%" class="text-left" style="background-color: white;"><a href="{{ path('_front_appelsdoffres') }}" class="center-block"><img
												src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ preload(asset('bundles/acfres/images/logo_ao.jpg'))}}" alt="{{ sitename }}" class="img-responsive"
												style="width: 200px"
											></a></td>
										<td width="50%" class="text-right" style="background-color: white;"><a href="{{ path('_front_homepage') }}" class="center-block"><img
												src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ preload(asset('bundles/acfres/images/logo_acf.jpg'))}}" alt="{{ sitename }}" class="img-responsive"
												style="width: 200px"
											></a></td>
									</tr>
									<tr>
										<td colspan="2" class="text-center">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="2" class="text-center">
											<h2 class="text-center">
												{{('AoCallfortender')|trans}}
												:
												{{callfortender.ref}}
											</h2></td>
									</tr>
									<tr>
										<td colspan="2" class="text-center">&nbsp;</td>
									</tr>
									{% if callfortender.description is not empty %}
									<tr>
										<td colspan="2" class="text-center" style="background-color: white;">{{callfortender.description|raw}}</td>
									</tr>
									{% endif %}
									<tr>
										<td colspan="2" class="text-center">&nbsp;</td>
									</tr>
									<tr>
										<td style="background-color: white; padding: 7px;" valign="top">
											<table class="table table-condensed table-borderless">
												<tr>
													<td width="45%"><b>{{'AoCallfortender.nature'|trans|raw}} :</b></td>
													<td width="54%">{% if callfortender.nature is not empty %}
													{{('AoCallfortender.nature.'~callfortender.nature)|trans}}
													{%else%}
													{{'_NA'|trans}}
													{% endif %}
													&nbsp;</td>
												</tr>
												<tr>
													<td width="45%"><b>{{'AoCallfortender.country'|trans|raw}} :</b></td>
													<td width="54%">{% if callfortender.country is not empty %}
													{{callfortender.country}}
													{%else%}
													{{'_NA'|trans}}
													{% endif %}
													&nbsp;</td>
												</tr>
												<tr>
													<td width="45%"><b>{{'AoCallfortender.company'|trans|raw}} :</b></td>
													<td width="54%">{% if callfortender.company is not empty %}
													{{callfortender.company}}
													{%else%}
													{{'_NA'|trans}}
													{% endif %}
													&nbsp;</td>
												</tr>
												<tr>
													<td colspan="2" class="text-center">&nbsp;</td>
												</tr>
												<tr>
													<td width="45%"><b>{{'AoCallfortender.typeAvis'|trans|raw}} :</b></td>
													<td width="54%">{% if callfortender.typeAvis is not empty %}
													{{('AoCallfortender.typeAvis.'~callfortender.typeAvis)|trans}}
													{%else%}
													{{'_NA'|trans}}
													{% endif %}
													&nbsp;</td>
												</tr>
												<tr>
													<td colspan="2" class="text-center">&nbsp;</td>
												</tr>
												<tr>
													<td width="45%"><b>{{'AoCallfortender.dtOpen'|trans|raw}} :</b></td>
													<td width="54%">{% if callfortender.dtOpen is not empty %}
													{{callfortender.dtOpen|localeDate('medium')}}
													{%else%}
													{{'_NA'|trans}}
													{% endif %}
													&nbsp;</td>
												</tr>
												<tr>
													<td colspan="2" class="text-center">&nbsp;</td>
												</tr>
												<tr>
													<td width="45%"><b>{{'AoCallfortender.adress'|trans|raw}} :</b></td>
													<td width="54%">{% if callfortender.adress is not empty %}
													{{callfortender.adress}}
													{%else%}
													{{'_NA'|trans}}
													{% endif %}
													&nbsp;</td>
												</tr>
												<tr>
													<td width="45%"><b>{{'AoCallfortender.price'|trans|raw}} :</b></td>
													<td width="54%">{% if callfortender.price is not empty %}
													{{callfortender.price}}
													{%else%}
													{{'_NA'|trans}}
													{% endif %}
													&nbsp;</td>
												</tr>
											</table>
										</td>
										<td style="background-color: white; padding: 7px;" valign="top">
											<table class="table table-condensed table-borderless">
												<tr>
													<td width="45%"><b>{{'AoCallfortender.categ'|trans|raw}} :</b></td>
													<td width="54%">{{ callfortender.grp.categ.title }}
													&nbsp;</td>
												</tr>
												<tr>
													<td width="45%"><b>{{'AoCallfortender.grp'|trans|raw}} :</b></td>
													<td width="54%">{{ callfortender.grp.title }}
													&nbsp;</td>
												</tr>
												<tr>
													<td colspan="2" class="text-center">&nbsp;</td>
												</tr>
												<tr>
													<td width="45%"><b>{{'AoCallfortender.dtPublication'|trans|raw}} :</b></td>
													<td width="54%">{% if callfortender.dtPublication is not empty %}
													{{callfortender.dtPublication|localeDate('full')}}
													{%else%}
													{{'_NA'|trans}}
													{% endif %}
													&nbsp;</td>
												</tr>
												<tr>
													<td width="45%"><b>{{'AoCallfortender.dtEnd'|trans|raw}} :</b></td>
													<td width="54%">{% if callfortender.dtEnd is not empty %}
													{{callfortender.dtEnd|localeDate('full')}}
													{%else%}
													{{'_NA'|trans}}
													{% endif %}
													&nbsp;</td>
												</tr>
												<tr>
													<td colspan="2" class="text-center">&nbsp;</td>
												</tr>
												<tr>
													<td width="45%"><b>{{'AoCallfortender.source'|trans|raw}} :</b></td>
													<td width="54%">{% if callfortender.source is not empty %}
													{{callfortender.source}}
													{%else%}
													{{'_NA'|trans}}
													{% endif %}
													&nbsp;</td>
												</tr>
												<tr>
													<td width="45%"><b>{{'AoCallfortender.addRef'|trans|raw}} :</b></td>
													<td width="54%">{% if callfortender.addRef is not empty %}
													{{callfortender.addRef}}
													{%else%}
													{{'_NA'|trans}}
													{% endif %}
													&nbsp;</td>
												</tr>
											</table>
											<br>
										</td>
									</tr>
									{% if callfortender.img is not empty %}
									<tr>
										<td colspan="2" class="text-center">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="2" class="text-center"><img src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/res/Ao/'~callfortender.img)}}"
											class="img-responsive img-thumbnail center-block"
										></td>
									</tr>
									{% endif %}
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer class="main-footer2">
			<strong>Copyright &copy; {{ 'now'|date('Y') }} <a href="{{ url('_front_homepage') }}">ACEF-expert</a>.
			</strong> All rights reserved.
		</footer>
	</div>
</body>
{%endblock html_body%}
