{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/dataTables/dataTables.bootstrap.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/modal/2.2.5-bs3patch.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/modal/2.2.5.css')}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/dataTables/jquery.dataTables.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/dataTables/dataTables.bootstrap.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/modal/2.2.5manager.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/modal/2.2.5.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	{% if taxes|length != 0 %}
	$('#taxeList').dataTable({
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{asset('bundles/acfres/css/dataTables/i18n/')~app.request.locale~".json"}}'},
		{% endif %}
		"columns": [
			null,
			null,
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		],
		"pageLength": 10,
		fnDrawCallback : function() {
			$('.deleteConfirmTaxe').on("click", function(e) {
				e.preventDefault();
				var lnk = $(this).attr('href');
				modalDeleteBtn = $('#deleteConfirmTaxe').find('.danger');
				modalDeleteBtn.attr('href', lnk);
				$('#deleteConfirmTaxe').modal('show');
			});
		}
	});
	{% endif %}
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('_admin_taxe_list') }}">{{faIco('percent')}} &nbsp; {{'breadcrumb.taxe.list'|trans|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('_admin_taxe_addGet') }}" class="btn btn-primary">{{ glyphIco('plus') }} {{ 'action.add'|trans }}</a>
		</div>
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">{{ 'Taxe.tlabel.list'|trans|raw}}</h3>
			</div>
			<div class="box-body table-responsive">
				<table id="taxeList" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>{{ 'Taxe.label.label'|trans|raw }}</th>
							<th>{{ 'Taxe.type.label'|trans|raw }}</th>
							<th>{{ 'Taxe.value.label'|trans|raw }}</th>
							<th>{{ 'Taxe.visible.label'|trans|raw }}</th>
							<th>{{ 'Taxe.priority.label'|trans|raw }}</th>
							<th>{{ 'Taxe.dtCrea.label'|trans|raw }}</th>
							<th>{{ 'action'|trans|raw }}</th>
						</tr>
					</thead>
					<tbody>
					{% if taxes|length != 0 %}
						{% for taxe in taxes %}
						<tr>
							<td>{{ taxe.label|raw }}</td>
							<td align="right">{{ ('Taxe.type.'~taxe.type)|trans|raw }}</td>
							<td align="right">{{ taxe.value|number_format(3, '.', ' ') }}</td>
							<td align="right">{{ ('Taxe.visible.'~taxe.visible)|trans|raw }}</td>
							<td align="right">{{ taxe.priority }}</td>
							<td align="right">{{taxe.dtCrea|date('Y-m-d')}} {{'_at'|trans}} {{taxe.dtCrea|localeDate('none', 'short')}}</td>
							<td>
								<a class="btn btn-sm btn-info" href="{{path('_admin_taxe_editGet',{'uid':taxe.id})}}">{{ glyphIco('edit') }} {{ 'action.edit'|trans }}</a>
								<a class="btn btn-sm btn-danger deleteConfirmTaxe" href="{{path('_admin_taxe_delete',{'uid':taxe.id})}}">{{ glyphIco('trash') }} {{ 'action.delete'|trans }}</a>
							</td>
						</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="7">{{ 'Taxe.empty'|trans|raw }}</td>
						</tr>
					{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="deleteConfirmTaxe" class="modal fade in" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="text-center">{{'Taxe.delete.confirm.title'|trans|raw}}</h3>
	</div>
	<div class="modal-body">
		{{'Taxe.delete.confirm.txt'|trans|raw}}
	</div>
	<div class="modal-footer">
		<a href="" class="btn btn-xs btn-danger danger">{{'_yes'|trans|raw}}</a>
		<button type="button" class="btn btn-xs btn-default" data-dismiss="modal">{{'_no'|trans|raw}}</button>
	</div>
</div>
{%endblock content%}
