{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap.min.css" integrity="sha256-PbaYLBab86/uCEz3diunGMEYvjah3uDFIiID+jAtIfw=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal-bs3patch.min.css" integrity="sha256-8qPt0X/JAwhOGkBVHs+gP6PjHgtLBJihYlHMKRQQ8uU=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal.min.css" integrity="sha256-Ad60rSeqfXQzkDAmvKgT7Zm5lgfVJ1dMAwNBCD4rtt4=" crossorigin="anonymous" />
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js" integrity="sha256-qcV1wr+bn4NoBtxYqghmy1WIBvxeoe8vQlCowLG+cng=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap.min.js" integrity="sha256-X/58s5WblGMAw9SpDtqnV8dLRNCawsyGwNqnZD0Je/s=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modalmanager.min.js" integrity="sha256-aMqdmRN7/t5KwLKoJTkwFCaRYhw82cZQu9FT7ZEkb9g=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modal.min.js" integrity="sha256-UEFikFBinV4tAScIYbW3+7BCI2zpM74VWtUa1MIR738=" crossorigin="anonymous"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	{% if bulletinInfos|length != 0 %}
	$('#bulletinInfoList').dataTable({
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{preload(asset('bundles/acfres/json/dataTables/i18n/'~app.request.locale~'.json'))}}'},
		{% endif %}
		"columns": [
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		],
		"pageLength": 10
	});
	{% endif %}
	$('.biDocList').dataTable({
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{preload(asset('bundles/acfres/json/dataTables/i18n/'~app.request.locale~'.json'))}}'},
		{% endif %}
		"columns": [
			null,
			null,
			{ "searchable": false, "sortable": false }
		],
		"pageLength": 10
	});
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_info_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.info'|trans|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">{{ 'BulletinInfo.tlabel.list'|trans|raw}}</h3>
			</div>
			<div class="box-body table-responsive">
				<table id="bulletinInfoList" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>{{ 'info.BulletinInfo.num.label'|trans|raw }}</th>
							<th>{{ 'info.BulletinInfo.dtStart.label'|trans|raw }}</th>
							<th>{{ 'info.BulletinInfo.description.label'|trans|raw }}</th>
							<th>{{ 'action'|trans|raw }}</th>
						</tr>
					</thead>
					<tbody>
					{% if bulletinInfos|length != 0 %}
						{% for bulletinInfo in bulletinInfos %}
						<tr>
							<td>{{ bulletinInfo.num }}</td>
							<td align="right">{{ bulletinInfo.dtStart|localeDate('medium') }}</td>
							<td>{{ bulletinInfo.description|raw }}</td>
							<td>
								<a class="btn btn-sm btn-info" href="{{path('_info_bulletinInfo_editGet',{'uid':bulletinInfo.id})}}">{{ glyphIco('eye-open') }} {{ 'action.show'|trans }}</a>
							</td>
						</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="4">{{ 'BulletinInfo.empty'|trans|raw }}</td>
						</tr>
					{% endif %}
					</tbody>
				</table>
			</div>
		</div>
        {% if biFolders|length != 0 %}
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ 'info.BiFolder.tlabel.list'|trans|raw}}</h3>
            </div>
            <div class="box-body table-responsive">
                <div id="accordionBiFolder" class="box-group">
                    {% for biFolder in biFolders %}
                    <div class="panel box box-warning">
                        <div class="box-header">
                            <h4 class="box-title"><a href="#collapse{{ biFolder.id }}" data-parent="#accordionBiFolder" data-toggle="collapse">{{ biFolder.title }}</a></h4>
                        </div>
                        <div id="collapse{{ biFolder.id }}" class="panel-collapse collapse">
                            {% if biFolder.docs|length != 0 %}
                            <table class="table table-bordered table-hover biDocList">
                                <thead>
                                    <tr>
                                        <th>{{ 'BiDoc.title.label'|trans|raw }}</th>
                                        <th>{{ 'BiDoc.dtCrea'|trans|raw }}:</th>
                                        <th>{{ 'action'|trans|raw }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for biDoc in biFolder.docs %}
                                    <tr>
                                        <td>{{ biDoc.title }}</td>
                                        <td>{{ biDoc.dtCrea|date('Y-m-d @ H:i:s') }}</td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" href="{{path('_info_biDoc_download',{'uid':biDoc.id})}}">{{ glyphIco('download') }} {{ 'action.btnDownload'|trans }}</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                            {% if biFolder.childs|length != 0 %}
                            {{ render(controller('AcfInfoBundle:Default:childs', {parent: biFolder.id})) }}
                            {% endif %}
                            {% if biFolder.childs|length == 0 and biFolder.docs|length == 0%}
                            {{ 'info.BiDoc.empty'|trans|raw }}
                            <br><br><br>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        
	</div>
</div>
{%endblock content%}
