{% extends 'AcfFrontBundle::front.html.twig' %}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/chartjs/1.1.min.js')}}"></script>
<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
{% if companies | length != 0 %}
{% for cmp in companies %}

	{% if cmp.nature_list|length !=0 %}
	var datanature_{{ cmp.company.idn }} = [
	{% for nat in cmp.nature_list %}
		{
		value: {{ nat.val|number_format(3, '.', '') }},
		color:"rgba({{ nat.nature.colorRGB.r }}, {{ nat.nature.colorRGB.g }}, {{ nat.nature.colorRGB.b }},0.5)",
		highlight: "rgba({{ nat.nature.colorRGB.r }}, {{ nat.nature.colorRGB.g }}, {{ nat.nature.colorRGB.b }},0.75)",
		label: "{{ nat.nature.label|e('js') }}"
	}{% if not loop.last %},{% endif %}
	{% endfor %}
	];

	var contx1_{{ cmp.company.idn }} = $("#buysByNatureDonutChart_{{ cmp.company.idn }}").get(0).getContext("2d");
	var buysByNatureDonutChart_{{ cmp.company.idn }} = new Chart(contx1_{{ cmp.company.idn }}).Doughnut(datanature_{{ cmp.company.idn }});
	{% endif %}

	{% if cmp.nature_list_prev_year|length !=0 %}
	
	var datanaturepy_{{ cmp.company.idn }} = [
	{% for nat in cmp.nature_list_prev_year %}
		{
		value: {{ nat.val|number_format(3, '.', '') }},
		color:"rgba({{ nat.nature.colorRGB.r }}, {{ nat.nature.colorRGB.g }}, {{ nat.nature.colorRGB.b }},0.5)",
		highlight: "rgba({{ nat.nature.colorRGB.r }}, {{ nat.nature.colorRGB.g }}, {{ nat.nature.colorRGB.b }},0.75)",
		label: "{{ nat.nature.label|e('js') }}"
	}{% if not loop.last %},{% endif %}
	{% endfor %}
	];

	var contx1py_{{ cmp.company.idn }} = $("#buysByNatureDonutChartpy_{{ cmp.company.idn }}").get(0).getContext("2d");
	var buysByNatureDonutChartpy_{{ cmp.company.idn }} = new Chart(contx1py_{{ cmp.company.idn }}).Doughnut(datanaturepy_{{ cmp.company.idn }});
	{% endif %}


	var datacaht_{{ cmp.company.idn }} = {
		labels: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Décembre"],
		datasets: [
			{
				label: "{{ year_prev }}",
				fillColor: "rgba(220,220,220,0.5)",
				strokeColor: "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data: [{{ cmp.cahts.year_prev.m1 }}, {{ cmp.cahts.year_prev.m2 }}, {{ cmp.cahts.year_prev.m3 }}, {{ cmp.cahts.year_prev.m4 }}, {{ cmp.cahts.year_prev.m5 }}, {{ cmp.cahts.year_prev.m6 }}, {{ cmp.cahts.year_prev.m7 }}, {{ cmp.cahts.year_prev.m8 }}, {{ cmp.cahts.year_prev.m9 }}, {{ cmp.cahts.year_prev.m10 }}, {{ cmp.cahts.year_prev.m11 }}, {{ cmp.cahts.year_prev.m12 }}]
			},
			{
				label: "{{ year }}",
				fillColor: "rgba(151,187,205,0.5)",
				strokeColor: "rgba(151,187,205,0.8)",
				highlightFill: "rgba(151,187,205,0.75)",
				highlightStroke: "rgba(151,187,205,1)",
				data: [{{ cmp.cahts.year.m1 }}, {{ cmp.cahts.year.m2 }}, {{ cmp.cahts.year.m3 }}, {{ cmp.cahts.year.m4 }}, {{ cmp.cahts.year.m5 }}, {{ cmp.cahts.year.m6 }}, {{ cmp.cahts.year.m7 }}, {{ cmp.cahts.year.m8 }}, {{ cmp.cahts.year.m9 }}, {{ cmp.cahts.year.m10 }}, {{ cmp.cahts.year.m11 }}, {{ cmp.cahts.year.m12 }}]
			}
		]
	};

	var contx2_{{ cmp.company.idn }} = $("#myCaHtBarChart_{{ cmp.company.idn }}").get(0).getContext("2d");
	var myCaHtBarChart_{{ cmp.company.idn }} = new Chart(contx2_{{ cmp.company.idn }}).Bar(datacaht_{{ cmp.company.idn }});

	var dataachat_{{ cmp.company.idn }} = {
		labels: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Décembre"],
		datasets: [
			{
				label: "{{ year_prev }}",
				fillColor: "rgba(220,220,220,0.5)",
				strokeColor: "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data: [{{ cmp.achathts.year_prev.m1 }}, {{ cmp.achathts.year_prev.m2 }}, {{ cmp.achathts.year_prev.m3 }}, {{ cmp.achathts.year_prev.m4 }}, {{ cmp.achathts.year_prev.m5 }}, {{ cmp.achathts.year_prev.m6 }}, {{ cmp.achathts.year_prev.m7 }}, {{ cmp.achathts.year_prev.m8 }}, {{ cmp.achathts.year_prev.m9 }}, {{ cmp.achathts.year_prev.m10 }}, {{ cmp.achathts.year_prev.m11 }}, {{ cmp.achathts.year_prev.m12 }}]
			},
			{
				label: "{{ year }}",
				fillColor: "rgba(151,187,205,0.5)",
				strokeColor: "rgba(151,187,205,0.8)",
				highlightFill: "rgba(151,187,205,0.75)",
				highlightStroke: "rgba(151,187,205,1)",
				data: [{{ cmp.achathts.year.m1 }}, {{ cmp.achathts.year.m2 }}, {{ cmp.achathts.year.m3 }}, {{ cmp.achathts.year.m4 }}, {{ cmp.achathts.year.m5 }}, {{ cmp.achathts.year.m6 }}, {{ cmp.achathts.year.m7 }}, {{ cmp.achathts.year.m8 }}, {{ cmp.achathts.year.m9 }}, {{ cmp.achathts.year.m10 }}, {{ cmp.achathts.year.m11 }}, {{ cmp.achathts.year.m12 }}]
			}
		]
	};


	var contx3_{{ cmp.company.idn }} = $("#myAchatLineChart_{{ cmp.company.idn }}").get(0).getContext("2d");
	var myAchatLineChart_{{ cmp.company.idn }} = new Chart(contx3_{{ cmp.company.idn }}).Line(dataachat_{{ cmp.company.idn }});

	$('#hiChart1_{{ cmp.company.idn }}').highcharts({
		chart: {
			plotBackgroundColor: null,
			plotBorderWidth: 0,
			plotShadow: false
		},
		credits: {
			enabled: false
		},
		title: {
			text: 'Evolution <br>chiffres<br>{{ year_prev}} - {{ year }}',
			align: 'center',
			verticalAlign: 'middle',
			y: 40
		},
		tooltip: {
			pointFormat: '<b>{point.percentage:.1f}%</b> / <b>{point.y:.3f} TND</b>'
		},
		plotOptions: {
			pie: {
				dataLabels: {
					enabled: true,
					distance: -50,
					style: {
						fontWeight: 'bold',
						color: 'white',
						textShadow: '0px 1px 2px black'
					}
				},
				startAngle: -90,
				endAngle: 90,
				center: ['50%', '75%']
			}
		},
		series: [{
			name: 'Chiffre',
			type: 'pie',
			innerSize: '50%',
			data: [
				['{{ year }}',   {{ cmp.year_ca_ht|number_format(3, '.', '') }}],
				['{{ year_prev}}',       {{ cmp.year_prev_ca_ht|number_format(3, '.', '') }}]
			]
		}]
	});

	

{% endfor %}
{% endif %}

});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li class="active"><a href="{{ path('_client_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.client'|trans|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
{% if companies | length != 0 %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="text-center">{{ ('MonthlyBalance.month.'~month)|trans }}  {{ year }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<ul class="pager centred">
			<li class="previous"><a href="{{ path('_client_homepage_my', {'month':lnk_prev_month, 'year':lnk_prev_year}) }}">&laquo;&nbsp;{{ ('MonthlyBalance.month.'~lnk_prev_month)|trans }}  {{ lnk_prev_year }}</a></li>
			{% if null != lnk_next_month and null!= lnk_next_year %}
			<li class="next"><a href="{{ path('_client_homepage_my', {'month':lnk_next_month, 'year':lnk_next_year}) }}">{{ ('MonthlyBalance.month.'~lnk_next_month)|trans }}  {{ lnk_next_year }}&nbsp;&raquo;</a></li>
			{% endif %}
		</ul>
	</div>
</div>
{% for cmp in companies %}
<div class="row">
	<div class="col-lg-12">
		<h3><a href="{{ path('_client_company_editGet', {'uid': cmp.company.id}) }}">{{ cmp.company.corporateName }}</a></h3>
	</div>
	<div class="col-lg-3">
		<div class="box box-primary">
			<div class="box-header no-border">
				<h4 class="box-title">Chiffres du Mois de {{ ('MonthlyBalance.month.'~month)|trans }}  {{ year }}</h4>
			</div>
			<div class="box-body box-profile">
				<ul class="list-group list-group-unbordered">
					<li class="list-group-item">
						<b>Chiffre d'affaire HT :</b>
						<a class="pull-right">{{ cmp.monthly_ca_ht|number_format(3, '.', ' ') }} TND</a>
					</li>
					<li class="list-group-item">
						<b>Achat HT :</b>
						<a class="pull-right">{{ cmp.monthly_achat_ht|number_format(3, '.', ' ') }} TND</a>
					</li>
					<li class="list-group-item">
						<b>Achat Marchandise HT :</b>
						<a class="pull-right">{{ cmp.monthly_achat_marchandise_ht|number_format(3, '.', ' ') }} TND</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-lg-3">
		<div class="box box-primary">
			<div class="box-header no-border">
				<h4 class="box-title">Chiffres Cumulés du 01/01/{{ year_prev }} au
				31/12/{{ year_prev }}
				</h4>
			</div>
			<div class="box-body box-profile">
				<ul class="list-group list-group-unbordered">
					<li class="list-group-item">
						<b>Chiffre d'affaire HT :</b>
						<a class="pull-right">{{ cmp.year_prev_ca_ht|number_format(3, '.', ' ') }} TND</a>
					</li>
					<li class="list-group-item">
						<b>Achat HT :</b>
						<a class="pull-right">{{ cmp.year_prev_achat_ht|number_format(3, '.', ' ') }} TND</a>
					</li>
					<li class="list-group-item">
						<b>Achat Marchandise HT :</b>
						<a class="pull-right">{{ cmp.year_prev_achat_marchandise_ht|number_format(3, '.', ' ') }} TND</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-lg-3">
		<div class="box box-primary">
			<div class="box-header no-border">
				<h4 class="box-title">Chiffres Cumulés du 01/01/{{ year }} au 
				{{ 'now'|date('d/m/Y') }}
				</h4>
			</div>
			<div class="box-body box-profile">
				<ul class="list-group list-group-unbordered">
					<li class="list-group-item">
						<b>Chiffre d'affaire HT :</b>
						<a class="pull-right">{{ cmp.year_ca_ht|number_format(3, '.', ' ') }} TND</a>
					</li>
					<li class="list-group-item">
						<b>Achat HT :</b>
						<a class="pull-right">{{ cmp.year_achat_ht|number_format(3, '.', ' ') }} TND</a>
					</li>
					<li class="list-group-item">
						<b>Achat Marchandise HT :</b>
						<a class="pull-right">{{ cmp.year_achat_marchandise_ht|number_format(3, '.', ' ') }} TND</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="box box-primary">
			<div class="box-header no-border">
				<h4 class="box-title">RATIOS (POUR LES SOCIETES COMMERCIALES)</h4>
			</div>
			<div class="box-body box-profile">
				<ul class="list-group list-group-unbordered">
					<li class="list-group-item">
						<b>STOCKS MARCHANDISES {{year_prev_prev }} :</b>
						<a class="pull-right">{{ cmp.year_prev_prev_stock.value|number_format(3, '.', ' ') }} TND</a>
					</li>
					<li class="list-group-item">
						<b>STOCKS MARCHANDISES {{ year_prev }} :</b>
						<a class="pull-right">{{ cmp.year_prev_stock.value|number_format(3, '.', ' ') }} TND</a>
					</li>
					<li class="list-group-item">
						<b>STOCKS MARCHANDISES {{ year }} :</b>
						<a class="pull-right">{{ cmp.year_stock.value|number_format(3, '.', ' ') }} TND</a>
					</li>
					<li class="list-group-item">
						<b>MARGE BRUTE {{ year_prev }} :</b>
						<a class="pull-right">{{ (cmp.year_prev_ca_ht - cmp.year_prev_prev_stock.value - cmp.year_prev_achat_marchandise_ht + cmp.year_prev_stock.value)|number_format(3, '.', ' ') }} TND</a>
					</li>
					<li class="list-group-item">
						<b>MARGE BRUTE {{ year }} :</b>
						<a class="pull-right">{{ (cmp.year_ca_ht - cmp.year_prev_stock.value - cmp.year_achat_marchandise_ht + cmp.year_stock.value)|number_format(3, '.', ' ') }} TND</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-12"></div>
	<div class="col-lg-6">
		<div class="box box-primary">
			<div class="box-header with-border"><h4 class="box-title">Evolution Chiffre d'affaire du 01/01/{{ year_prev }} au
				{% if year == current_year and month == current_monthsz %}
				{{ 'now'|date('d/m/Y') }}
				{% else  %}
				{{ last_day~'/'~month~'/'~year }}
				{% endif %}</h4></div>
			<div class="box-body">
				<div class="chart">
					<canvas id="myCaHtBarChart_{{ cmp.company.idn }}"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="box box-primary">
			<div class="box-header with-border"><h4 class="box-title">Evolution Achats du 01/01/{{ year_prev }} au
				{% if year == current_year and month == current_monthsz %}
				{{ 'now'|date('d/m/Y') }}
				{% else  %}
				{{ last_day~'/'~month~'/'~year }}
				{% endif %}</h4></div>
			<div class="box-body">
				<div class="chart">
					<canvas id="myAchatLineChart_{{ cmp.company.idn }}"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12"></div>
	<div class="col-lg-4">
		<div class="box box-primary">
			<div class="box-header with-border"><h4 class="box-title">Evolution Chiffre d'affaire du {{ year_prev }} - {{ year }}</h4></div>
			<div class="box-body">
				<div id="hiChart1_{{ cmp.company.idn }}" style="width:100%; height:100%;"></div>
			</div>
		</div>
	</div>
	{% if cmp.nature_list|length !=0 %}
	<div class="col-lg-4">
		<div class="box box-primary">
			<div class="box-header with-border"><h4 class="box-title">Achats {{ year }}</h4></div>
			<div class="box-body">
				<div class="chart">
					<canvas id="buysByNatureDonutChart_{{ cmp.company.idn }}"></canvas>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	{% if cmp.nature_list_prev_year|length !=0 %}
	<div class="col-lg-4">
		<div class="box box-primary">
			<div class="box-header with-border"><h4 class="box-title">Achats {{ year_prev }}</h4></div>
			<div class="box-body">
				<div class="chart">
					<canvas id="buysByNatureDonutChartpy_{{ cmp.company.idn }}"></canvas>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
<hr/>
<br/>
{% endfor %}
{% else %}
Interface Client
{% endif %}
{%endblock content%}