{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/bootstrap/datetimepicker/2.3.1.css'))}}">
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/bootstrap/chosen/1.2.0.css'))}}">
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/bootstrap/duallistbox/3.0.2.css'))}}">
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/bootstrap/fileinput/4.2.7-7.css'))}}">
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/dataTables/dataTables.bootstrap.css'))}}">
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/bootstrap/modal/2.2.5-bs3patch.css'))}}">
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/bootstrap/modal/2.2.5.css'))}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/tinymce/jquery.tinymce.min.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/datetimepicker/2.4.4.min.js'))}}"></script>
{%if app.request.locale != 'en'%}
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/datetimepicker/locales/2.4.4.'~app.request.locale~'.js'))}}"></script>
{% endif %}
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/chosen/1.2.0.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/duallistbox/3.0.2.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/fileinput/plugins/canvas-to-blob.min.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/fileinput/4.2.7-7.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/dataTables/jquery.dataTables.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/dataTables/dataTables.bootstrap.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/modal/2.2.5manager.js'))}}"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/modal/2.2.5.js'))}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('textarea.wysiwyg').each(function() {
		var options = {
			script_url : '{{preload(asset('bundles/acfres/js/tinymce/tinymce.min.js'))}}',
			theme: "modern",
			plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
			{%if app.request.locale != 'en'%}
			language : '{{ app.request.locale }}',
			{% endif %}
			toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
		};
		$this = $(this);
		if($this.is('[required]')) {
			options.oninit = function(editor) {
				editor.on('change', function(e) {
					editor.save();
				});
			}
		}
		$this.tinymce(options);
	});

	$("#SaleImportForm_excel").fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Excel", browseIcon: '{{faIco('folder-open')}}', remove1Class: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});

	$('#SaleNewForm_dtActivation').click(function( event ) {
		event.preventDefault();
		$('#SaleNewForm_dtActivation').datetimepicker({
			weekStart: 1,
			startView: 4,
			minView: 2,
			autoclose: true,
			todayHighlight: true,
			language: "{{app.request.locale}}",
			format: 'yyyy-mm-dd'
		}).datetimepicker('show');
	});

	$('#SaleNewForm_relation').chosen({width: "100%", disable_search_threshold: 10});

	$('#SaleNewForm_withholding').chosen({width: "100%", disable_search_threshold: 10});

	$('#SaleNewForm_paymentType').chosen({width: "100%", disable_search_threshold: 10});

	$('#SaleNewForm_vatInfo').chosen({width: "100%", disable_search_threshold: 10});

	$('#SaleNewForm_regime').chosen({width: "100%", disable_search_threshold: 10});

	$('#SaleNewForm_dtPayment').click(function( event ) {
		event.preventDefault();
		$('#SaleNewForm_dtPayment').datetimepicker({
			weekStart: 1,
			startView: 4,
			minView: 2,
			autoclose: true,
			todayHighlight: true,
			language: "{{app.request.locale}}",
			format: 'yyyy-mm-dd'
		}).datetimepicker('show');
	});

	$('#SaleNewForm_account').chosen({width: "100%", disable_search_threshold: 10});

	{% if mbsale.transactions|length != 0 %}
	$('#saleList').dataTable({
		"sScrollX":	  "100%",
		"sScrollXInner": "150%",
		"sScrollY":	  "250px",
		"bScrollCollapse": true,
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{preload(asset('bundles/acfres/css/dataTables/i18n/'~app.request.locale~'.json'))}}'},
		{% endif %}
		"columns": [
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		],
		"pageLength": 10,
		fnDrawCallback : function() {
			$('.deleteConfirmSale').on("click", function(e) {
				e.preventDefault();
				var lnk = $(this).attr('href');
				modalDeleteBtn = $('#deleteConfirmSale').find('.danger');
				modalDeleteBtn.attr('href', lnk);
				$('#deleteConfirmSale').modal('show');
			});
			$('.deleteConfirmSecondaryVat').on("click", function(e) {
				e.preventDefault();
				var lnk = $(this).attr('href');
				modalDeleteBtn = $('#deleteConfirmSecondaryVat').find('.danger');
				modalDeleteBtn.attr('href', lnk);
				$('#deleteConfirmSecondaryVat').modal('show');
			});
		}
	});
	{% endif %}

	$('#chmonth').chosen({disable_search_threshold: 10, width: '200px'});

	$('#changeMonth').click(function () {
		window.location.replace($('#chmonth').val());
	});

	$('#SaleNewForm_devise').chosen({width: "100%", disable_search_threshold: 10});

	$('#SaleNewForm_vatDevise').change(function(){
		value = $(this).val();
		$('#SaleNewForm_vat').val(value);
	});

	$('#SaleNewForm_stampDevise').change(function(){
		value = $(this).val();
		$('#SaleNewForm_stamp').val(value);
	});

	$('#SaleNewForm_balanceTtcDevise').change(function(){
		value = $(this).val();
		$('#SaleNewForm_balanceTtc').val(value);
	});

	$('#SaleNewForm_balanceNetDevise').change(function(){
		value = $(this).val();
		$('#SaleNewForm_balanceNet').val(value);
	});

	var currentMoney = $('#SaleNewForm_devise').val();
	if(currentMoney == 'TND') {
		$('#SaleNewForm_conversionRate').val(1);
		$('#conversionRate').hide();
		$('#vatDevise').hide();
		$('#stampDevise').hide();
		$('#balanceTtcDevise').hide();
		$('#balanceNetDevise').hide();
		$('#vat').show();
		$('#stamp').show();
		$('#balanceTtc').show();
		$('#balanceNet').show();
	} else {
		$('#conversionRate').show();
		$('#vatDevise').show();
		$('#stampDevise').show();
		$('#balanceTtcDevise').show();
		$('#balanceNetDevise').show();
		$('#vat').hide();
		$('#stamp').hide();
		$('#balanceTtc').hide();
		$('#balanceNet').hide();
	}

	$('#SaleNewForm_devise').change(function(){
		value = $(this).val();
		if ((value == 'TND' && currentMoney != 'TND') || (value != 'TND' && currentMoney == 'TND')) {
			if (value == 'TND' && currentMoney != 'TND') {
				$('#SaleNewForm_conversionRate').val(1);
			}
			$('#conversionRate').toggle(300);
			$('#vatDevise').toggle(300);
			$('#stampDevise').toggle(300);
			$('#balanceTtcDevise').toggle(300);
			$('#balanceNetDevise').toggle(300);
			$('#vat').toggle(300);
			$('#stamp').toggle(300);
			$('#balanceTtc').toggle(300);
			$('#balanceNet').toggle(300);
		}
		currentMoney = value;
	});

	var cntDocs = {{SaleNewForm.docs|length}};

	for (nbrDocs = 0; nbrDocs< cntDocs; nbrDocs++) {
		$('#SaleNewForm_docs_'+nbrDocs+'_fileName').fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Documents", browseIcon: '{{faIco('folder-open')}}', removeClass: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});
	}

	$('#addDoc').on('click', function(evt) {
		evt.preventDefault();
		var txttoapp = '';
		txttoapp += '<div class="box box-success" id="SaleNewForm_docs_'+cntDocs+'">';
			txttoapp += '<div class="box-header">';
				txttoapp += '<div class="text-right">';
					txttoapp += '<a class="btn btn-xs btn-danger removeDoc" id="removeDoc'+cntDocs+'">{{'Sale.docs.Delete'|trans}} {{glyphIco('trash')}}</a>&nbsp;';
				txttoapp += '</div>';
			txttoapp += '</div>';
			txttoapp += '<div class="box-body">';
				txttoapp += '<div class="form-group row">';
					txttoapp += '<label class="control-label col-lg-3 required" for="SaleNewForm_docs_'+cntDocs+'_fileName">{{'Doc.fileName.label'|trans}}</label>';
					txttoapp += '<div class="col-lg-8">';
						txttoapp += '<input id="SaleNewForm_docs_'+cntDocs+'_fileName" class="form-control" widget_col="8" label_col="3" type="file" required="required" name="SaleNewForm[docs]['+cntDocs+'][fileName]">';
					txttoapp += '</div>';
				txttoapp += '</div>';
				txttoapp += '<div class="form-group row">';
					txttoapp += '<label class="control-label col-lg-3" for="SaleNewForm_docs_'+cntDocs+'_description">{{'Doc.description.label'|trans}}</label>';
					txttoapp += '<div class="col-lg-8">';
						txttoapp += '<textarea id="SaleNewForm_docs_'+cntDocs+'_description" class="form-control" widget_col="8" label_col="3" name="SaleNewForm[docs]['+cntDocs+'][description]"></textarea>';
					txttoapp += '</div>';
				txttoapp += '</div>';
			txttoapp += '</div>';
		txttoapp += '</div>';
		var saledocList = $('#saledocList');
		saledocList.append(txttoapp);

		$('#SaleNewForm_docs_'+cntDocs+'_fileName').fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Documents", browseIcon: '{{faIco('folder-open')}}', removeClass: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});

		$('#removeDoc'+cntDocs).on('click', function(e) {
			e.preventDefault();
			$(this).parent().parent().parent().remove();
		});

		cntDocs++;
	});

	$('.removeDoc').on('click', function(e) {
		e.preventDefault();
		$(this).parent().parent().parent().remove();
	});

	var cntSecondaryVats = {{SaleNewForm.secondaryVats|length}};

	for (nbrSecondaryVats = 0; nbrSecondaryVats< cntSecondaryVats; nbrSecondaryVats++) {
		$('#SaleNewForm_secondaryVats_'+nbrSecondaryVats+'_vatInfo').chosen({width: "100%", disable_search_threshold: 10});
	}

	$('#addSecondaryVat').on('click', function(evt) {
		evt.preventDefault();
		var txttoapp = '';
		txttoapp += '<div class="box box-success" id="SaleNewForm_secondaryVats_'+cntSecondaryVats+'">';
			txttoapp += '<div class="box-header">';
				txttoapp += '<div class="text-right">';
					txttoapp += '<a class="btn btn-xs btn-danger removeSecondaryVat" id="removeSecondaryVat'+cntSecondaryVats+'">{{'Sale.secondaryVats.Delete'|trans}} {{glyphIco('trash')}}</a>&nbsp;';
				txttoapp += '</div>';
			txttoapp += '</div>';
			txttoapp += '<div class="box-body">';
				txttoapp += '<div class="form-group row">';
					txttoapp += '<label class="control-label col-lg-3 required" for="SaleNewForm_secondaryVats_'+cntSecondaryVats+'_vatInfo">{{'SecondaryVat.vatInfo.label'|trans}}</label>';
				 	txttoapp += '<div class="col-lg-8">';
						txttoapp += '<select id="SaleNewForm_secondaryVats_'+cntSecondaryVats+'_vatInfo" class="form-control" required="required" name="SaleNewForm[secondaryVats]['+cntSecondaryVats+'][vatInfo]">';
						{% for vat in vats %}
		 					txttoapp += '<option value="{{ vat.title }}">{{ vat.title }}</option>';
		 				{% endfor %}
						txttoapp += '</select>';
					txttoapp += '</div>';
				txttoapp += '</div>';
				txttoapp += '<div class="form-group row">';
					txttoapp += '<label class="control-label col-lg-3" for="SaleNewForm_secondaryVats_'+cntSecondaryVats+'_vat">{{'SecondaryVat.vat.label'|trans}}</label>';
					txttoapp += '<div class="col-lg-8">';
						txttoapp += '<input id="SaleNewForm_secondaryVats_'+cntSecondaryVats+'_vat" type="text" value="0" class="form-control" widget_col="8" label_col="3" name="SaleNewForm[secondaryVats]['+cntSecondaryVats+'][vat]"/>';
					txttoapp += '</div>';
				txttoapp += '</div>';
				txttoapp += '<div class="form-group row">';
					txttoapp += '<label class="control-label col-lg-3" for="SaleNewForm_secondaryVats_'+cntSecondaryVats+'_balanceTtc">{{'SecondaryVat.balanceTtc.label'|trans}}</label>';
					txttoapp += '<div class="col-lg-8">';
						txttoapp += '<input id="SaleNewForm_secondaryVats_'+cntSecondaryVats+'_balanceTtc" value="0" type="text" class="form-control" widget_col="8" label_col="3" name="SaleNewForm[secondaryVats]['+cntSecondaryVats+'][balanceTtc]"/>';
					txttoapp += '</div>';
				txttoapp += '</div>';
				txttoapp += '<div class="form-group row">';
					txttoapp += '<label class="control-label col-lg-3" for="SaleNewForm_secondaryVats_'+cntSecondaryVats+'_balanceNet">{{'SecondaryVat.balanceNet.label'|trans}}</label>';
					txttoapp += '<div class="col-lg-8">';
						txttoapp += '<input id="SaleNewForm_secondaryVats_'+cntSecondaryVats+'_balanceNet" type="text" value="0" class="form-control" widget_col="8" label_col="3" name="SaleNewForm[secondaryVats]['+cntSecondaryVats+'][balanceNet]"/>';
					txttoapp += '</div>';
				txttoapp += '</div>';
			txttoapp += '</div>';
		txttoapp += '</div>';
		var salesecondaryVatList = $('#salesecondaryVatList');
		salesecondaryVatList.append(txttoapp);

		$('#SaleNewForm_secondaryVats_'+cntSecondaryVats+'_vatInfo').chosen({width: "100%", disable_search_threshold: 10});

		$('#removeSecondaryVat'+cntSecondaryVats).on('click', function(e) {
			e.preventDefault();
			$(this).parent().parent().parent().remove();
		});

		cntSecondaryVats++;
	});

	$('.removeSecondaryVat').on('click', function(e) {
		e.preventDefault();
		$(this).parent().parent().parent().remove();
	});

	$('#MBSaleUpdateDocsForm_docs').bootstrapDualListbox({
		nonselectedlistlabel: 'Non-selected',
		selectedlistlabel: 'Selected',
		preserveselectiononmove: 'moved',
		moveonselect: false,
		initialfilterfrom: ''
	});

	$("#DocNewForm_fileName").fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Documents", browseIcon: '{{faIco('folder-open')}}', removeClass: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});

	{% if mbsale.docs|length != 0 %}
	$('#docList').dataTable({
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{preload(asset('bundles/acfres/css/dataTables/i18n/'~app.request.locale~'.json'))}}'},
		{% endif %}
		"columns": [
			null,
			null,
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		]
	});
	{% endif %}

});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin'|trans|raw}}</a></li>
	<li><a href="{{ path('_admin_company_list') }}">{{faIco('building')}} &nbsp; {{'breadcrumb.company.list'|trans|raw}}</a></li>
	<li><a href="{{ path('_admin_company_editGet', {'uid': mbsale.company.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.company.edit'|trans({'%company%': mbsale.company.corporateName})|raw}}</a></li>
	<li class="active"><a href="{{ path('_admin_mbsale_editGet', {'uid': mbsale.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.mbsale.edit'|trans({'%mbsale%': mbsale.ref})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<select id="chmonth">
			{% for month in mbsale.company.sales %}
				<option value="{{ path('_admin_mbsale_editGet', {'uid': month.id}) }}" {% if month.id == mbsale.id %}selected="selected"{% endif %}>{{ month.ref }}</option>
			{% endfor %}
			</select>
			<button id="changeMonth" class="btn btn-primary">{{ faIco('calendar') }} {{ 'action.changeMonth'|trans }}</button>
			&nbsp; | &nbsp;
			<a href="{{ path('_admin_mbsale_excel', {'uid': mbsale.id}) }}" class="btn btn-success">{{ faIco('file-excel-o') }} {{ 'action.excel'|trans }}</a>
		</div>
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'MBSale.tab.overview'|trans|raw}}</a></li>
				<li {%if tabActive==2%} class="active"{%endif%}><a href="#addSale" data-toggle="tab">{{'MBSale.tab.addSale'|trans|raw}}</a></li>
				<li {%if tabActive==3%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'MBSale.tab.edit'|trans|raw}}</a></li>
				<li {%if tabActive==4%} class="active"{%endif%}><a href="#Docs" data-toggle="tab">{{'MBSale.tab.docs'|trans|raw}}</a></li>
				<li {%if tabActive==11%} class="active"{%endif%}><a href="#Logs" data-toggle="tab">{{'tab.logs'|trans|raw}}</a></li>
				<li><a href="{{ path('_admin_company_backtoMBSale', {'uid': mbsale.company.id}) }}">{{'MBSale.tab.back'|trans|raw}}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="panel box box-primary">
						<div class="box-header"><h3 class="box-title">{{'MBSale.tlabel.overview'|trans}} {{ mbsale.ref }} (<a href="{{ path('_admin_company_editGet', {'uid': mbsale.company.id}) }}">{{ mbsale.company.corporateName }}</a>)</h3></div>
						<div class="box-body table-responsive">
							{% for flashMessage in app.session.flashbag.get('log') %}
							<div class="callout callout-info">
							{{ flashMessage|raw }}
							</div>
							{% endfor %}
							<table id="saleList" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>{{ 'Sale.number.label'|trans|raw }}</th>
										<th>{{ 'Sale.dtActivation.label'|trans|raw }}</th>
										<th>{{ 'Sale.bill.label'|trans|raw }}</th>
										<th>{{ 'Sale.relation.label'|trans|raw }}</th>
										<th>{{ 'Sale.relation.number.label'|trans|raw }}</th>
										<th>{{ 'Sale.label.label'|trans|raw }}</th>
										<th>{{ 'Sale.balanceHt.label'|trans|raw }}</th>
										<th>{{ 'Sale.vat.label'|trans|raw }}</th>
										<th>{{ 'Sale.stamp.label'|trans|raw }}</th>
										<th>{{ 'Sale.balanceTtc.label'|trans|raw }}</th>
										<th>{{ 'Sale.vatInfo.label'|trans|raw }}</th>
										<th>{{ 'Sale.regime.label'|trans|raw }}</th>
										<th>{{ 'Sale.withholding.value.label'|trans|raw }}</th>
										<th>{{ 'Sale.withholding.label'|trans|raw }}</th>
										<th>{{ 'Sale.balanceNet.label'|trans|raw }}</th>
										<th>{{ 'Sale.paymentType.label'|trans|raw }}</th>
										<th>{{ 'Sale.dtPayment.label'|trans|raw }}</th>
										<th>{{ 'Sale.account.label'|trans|raw }}</th>
										<th>{{ 'Sale.transactionStatus.label'|trans|raw }}</th>
										<th>{{ 'Sale.otherInfos.label'|trans|raw }}</th>
										<th>{{ 'Sale.validated.label'|trans|raw }}</th>
										<th>{{ 'action'|trans|raw }}</th>
									</tr>
								</thead>
								<tbody>
								{% if mbsale.transactions|length != 0 %}
									{% for sale in mbsale.transactions %}
									<tr>
										<td>{{ sale.number }}</td>
										<td>{{ sale.dtActivation|date('d/m/Y') }}</td>
										<td>{{ sale.bill }}</td>
										<td>{{ sale.relation.label }}</td>
										<td>{{ customersPrefix~sale.relation.numberFormated }}</td>
										<td>{{ sale.label }}</td>
										<td>{%set balanceHt = sale.balanceTtc - sale.stamp - sale.vat%}{{ balanceHt|number_format(3, '.', '') }}</td>
										<td>{{ sale.vat|number_format(3, '.', '') }}</td>
										<td>{{ sale.stamp|number_format(3, '.', '') }}</td>
										<td>{{ sale.balanceTtc|number_format(3, '.', '') }}</td>
										<td>{{     sale.vatInfo }}</td>
										<td>{{ ('Sale.regime.'~sale.regime)|trans }}</td>
										<td>{{ sale.withholding.value |number_format(2, '.', '')}}%</td>
										<td>{%set withholding = sale.balanceTtc - sale.balanceNet%}{{ withholding|number_format(3, '.', '') }}</td>
										<td>{{ sale.balanceNet|number_format(3, '.', '') }}</td>
										<td>{{ ('Transaction.paymentType.'~sale.paymentType)|trans }}</td>
										<td>{{ sale.dtPayment|date('d/m/Y') }}</td>
										<td>{{ sale.account.label }}</td>
										<td>{{ ('Transaction.transactionStatus.'~sale.transactionStatus)|trans }}</td>
										<td>{{ sale.otherInfos }}</td>
										<td>{{ ('Transaction.validated.'~sale.validated)|trans }}</td>
										<td>
											<a class="btn btn-sm btn-info" href="{{path('_admin_sale_editGet',{'uid':sale.id})}}">{{ glyphIco('edit') }} {{ 'action.edit'|trans }}</a>
											<a class="btn btn-sm btn-danger deleteConfirmSale" href="{{path('_admin_sale_delete',{'uid':sale.id})}}">{{ glyphIco('trash') }} {{ 'action.delete'|trans }}</a>
										</td>
									</tr>
									{% for secondaryVat in sale.secondaryVats %}
									<tr>
										<td>{{ sale.number }}</td>
										<td>{{ sale.dtActivation|date('d/m/Y') }}</td>
										<td>{{ sale.bill }}</td>
										<td>{{ sale.relation.label }}</td>
										<td>{{ customersPrefix~sale.relation.numberFormated }}</td>
										<td>{{ sale.label }}</td>
										<td>{%set balanceHt = secondaryVat.balanceTtc - secondaryVat.vat%}{{ balanceHt|number_format(3, '.', '') }}</td>
										<td>{{ secondaryVat.vat|number_format(3, '.', '') }}</td>
										<td>{{ 0|number_format(3, '.', '') }}</td>
										<td>{{ secondaryVat.balanceTtc|number_format(3, '.', '') }}</td>
										<td>{{ secondaryVat.vatInfo }}</td>
										<td>{{ ('Sale.regime.'~sale.regime)|trans }}</td>
										<td>{{ sale.withholding.value |number_format(2, '.', '')}}%</td>
										<td>{%set withholding = secondaryVat.balanceTtc - secondaryVat.balanceNet%}{{ withholding|number_format(3, '.', '') }}</td>
										<td>{{ secondaryVat.balanceNet|number_format(3, '.', '') }}</td>
										<td>{{ ('Transaction.paymentType.'~sale.paymentType)|trans }}</td>
										<td>{{ sale.dtPayment|date('d/m/Y') }}</td>
										<td>{{ sale.account.label }}</td>
										<td>{{ ('Transaction.transactionStatus.'~sale.transactionStatus)|trans }}</td>
										<td>{{ sale.otherInfos }}</td>
										<td>{{ ('Transaction.validated.'~sale.validated)|trans }}</td>
										<td>
											<a class="btn btn-sm btn-info" href="{{path('_admin_secondaryVat_editGet',{'uid':secondaryVat.id})}}">{{ glyphIco('edit') }} {{ 'action.edit'|trans }}</a>
											<a class="btn btn-sm btn-danger deleteConfirmSecondaryVat" href="{{path('_admin_secondaryVat_delete',{'uid':secondaryVat.id})}}">{{ glyphIco('trash') }} {{ 'action.delete'|trans }}</a>
										</td>
									</tr>
									{% endfor %}
									{% endfor %}
								{% else %}
									<tr>
										<td colspan="22">{{ 'Sale.empty'|trans|raw }}</td>
									</tr>
								{% endif %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="addSale">
					<div id="accordion02" class="box-group">
						<div class="panel box box-danger">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse21" data-parent="#accordion02" data-toggle="collapse">{{'MBSale.tlabel.import'|trans}}</a></h4>
							</div>
							<div id="collapse21" class="panel-collapse collapse{%if tabActive==2 and stabActive==1%} in{%endif%}">
								<div class="box-body">
									{{form_start(SaleImportForm, {'method':'POST', 'action': path('_admin_mbsale_editPost', {'uid': mbsale.id}), 'style': 'horizontal'})}}
									{{form_row(SaleImportForm.excel, {'label_col': 3, 'widget_col': 8 })}}
									<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnExcel'|trans|raw}}</button></div></div>
									{{form_end(SaleImportForm)}}
								</div>
							</div>
						</div>
						<div class="panel box box-danger">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse22" data-parent="#accordion02" data-toggle="collapse">{{'MBSale.tlabel.addSale'|trans}}</a></h4>
							</div>
							<div id="collapse22" class="panel-collapse collapse{%if tabActive==2 and stabActive==2%} in{%endif%}">
								<div class="box-body">
									{{form_start(SaleNewForm, {'method':'POST', 'action': path('_admin_mbsale_editPost', {'uid': mbsale.id}), 'style': 'horizontal'})}}
									{{form_row(SaleNewForm.monthlyBalance, {'label_col': 3, 'widget_col': 8 , 'attr': {'row_class': 'hidden'} })}}
									{{form_row(SaleNewForm.dtActivation, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(SaleNewForm.bill, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(SaleNewForm.relation, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(SaleNewForm.label, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(SaleNewForm.devise, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(SaleNewForm.conversionRate, {'label_col': 3, 'widget_col': 8 , 'attr':{'row_id':'conversionRate'} })}}
									{{form_row(SaleNewForm.stamp, {'label_col': 3, 'widget_col': 8 , 'attr':{'row_id':'stamp'} })}}
									{{form_row(SaleNewForm.stampDevise, {'label_col': 3, 'widget_col': 8 , 'attr':{'row_id':'stampDevise'} })}}
									{{form_row(SaleNewForm.vatInfo, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(SaleNewForm.vat, {'label_col': 3, 'widget_col': 8 , 'attr':{'row_id':'vat'} })}}
									{{form_row(SaleNewForm.vatDevise, {'label_col': 3, 'widget_col': 8 , 'attr':{'row_id':'vatDevise'} })}}
									{{form_row(SaleNewForm.balanceTtc, {'label_col': 3, 'widget_col': 8 , 'attr':{'row_id':'balanceTtc'} })}}
									{{form_row(SaleNewForm.balanceTtcDevise, {'label_col': 3, 'widget_col': 8 , 'attr':{'row_id':'balanceTtcDevise'} })}}
									{{form_row(SaleNewForm.balanceNet, {'label_col': 3, 'widget_col': 8 , 'attr':{'row_id':'balanceNet'} })}}
									{{form_row(SaleNewForm.balanceNetDevise, {'label_col': 3, 'widget_col': 8 , 'attr':{'row_id':'balanceNetDevise'} })}}
									<div class="form-group row">
										{{form_label(SaleNewForm.secondaryVats)}}
										<div class="col-lg-8">
											<div class="text-right"><a class="btn btn-primary" id="addSecondaryVat">{{'Sale.secondaryVats.Add'|trans}} {{glyphIco('plus')}}</a></div>
											<br>
											{{form_errors(SaleNewForm.secondaryVats)}}
											<div class="row">
												<div class="col-lg-12" id="salesecondaryVatList">
												{%set i=0%}
												{%for SaleNewForm_secondaryVat in SaleNewForm.secondaryVats%}
													<div class="box box-success" id="SaleNewForm_secondaryVats_{{i}}">
														<div class="box-header">
															<div class="text-right">
																<a class="btn btn-xs btn-danger removeSecondaryVat" id="removeSecondaryVat{{i}}">{{'Sale.secondaryVats.Delete'|trans}} {{glyphIco('trash')}}</a>&nbsp;
															</div>
														</div>
														<div class="box-body">
														{{form_row(SaleNewForm_secondaryVat.vatInfo, {'label_col': 3, 'widget_col': 8})}}
														{{form_row(SaleNewForm_secondaryVat.vat, {'label_col': 3, 'widget_col': 8 })}}
														{{form_row(SaleNewForm_secondaryVat.balanceTtc, {'label_col': 3, 'widget_col': 8 })}}
														{{form_row(SaleNewForm_secondaryVat.balanceNet, {'label_col': 3, 'widget_col': 8 })}}
														</div>
													</div>
													{%set i=i+1%}
												{%endfor%}
												</div>
											</div>
										</div>
										{% do SaleNewForm.secondaryVats.setRendered %}
									</div>
									{{form_row(SaleNewForm.regime, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(SaleNewForm.withholding, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(SaleNewForm.paymentType, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(SaleNewForm.dtPayment, {'label_col': 3, 'widget_col': 8 , 'attr':{'row_id':'dtPayment'} })}}
									{{form_row(SaleNewForm.account, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(SaleNewForm.transactionStatus, {'label_col': 3, 'widget_col': 8 })}}
									<div class="form-group row">
										{{form_label(SaleNewForm.docs)}}
										<div class="col-lg-8">
											<div class="text-right"><a class="btn btn-primary" id="addDoc">{{'Sale.docs.Add'|trans}} {{glyphIco('plus')}}</a></div>
											<br>
											{{form_errors(SaleNewForm.docs)}}
											<div class="row">
												<div class="col-lg-12" id="saledocList">
												{%set i=0%}
												{%for SaleNewForm_doc in SaleNewForm.docs%}
													<div class="box box-success" id="SaleNewForm_docs_{{i}}">
														<div class="box-header">
															<div class="text-right">
																<a class="btn btn-xs btn-danger removeDoc" id="removeDoc{{i}}">{{'Sale.docs.Delete'|trans}} {{glyphIco('trash')}}</a>&nbsp;
															</div>
														</div>
														<div class="box-body">
														{{form_row(SaleNewForm_doc.fileName, {'label_col': 3, 'widget_col': 8})}}
														{{form_row(SaleNewForm_doc.description, {'label_col': 3, 'widget_col': 8 })}}
														</div>
													</div>
													{%set i=i+1%}
												{%endfor%}
												</div>
											</div>
										</div>
										{% do SaleNewForm.docs.setRendered %}
									</div>
									{{form_row(SaleNewForm.otherInfos, {'label_col': 3, 'widget_col': 8})}}
									{{form_row(SaleNewForm.validated, {'label_col': 3, 'widget_col': 8 })}}
									<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnAdd'|trans|raw}}</button></div></div>
									{{form_end(SaleNewForm)}}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==3%} in active{%endif%}" id="edit">
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'MBSale.tlabel.edit'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(MBSaleUpdateCountForm, {'method':'POST', 'action': path('_admin_mbsale_editPost', {'uid': mbsale.id}), 'style': 'horizontal'})}}
							{{form_row(MBSaleUpdateCountForm.count, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnAdd'|trans|raw}}</button></div></div>
							{{form_end(MBSaleUpdateCountForm)}}
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==4%} in active{%endif%}" id="Docs">
					<div id="accordion04" class="box-group">
						<div class="panel box box-danger">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse41" data-parent="#accordion04" data-toggle="collapse">{{'MBSale.tlabel.docs.add'|trans}}</a></h4>
							</div>
							<div id="collapse41" class="panel-collapse collapse{%if tabActive==4 and stabActive==1%} in{%endif%}">
								<div class="box-body">
									{{form_start(DocNewForm, {'method':'POST', 'action': path('_admin_mbsale_editPost', {'uid': mbsale.id}), 'style': 'horizontal'})}}
									{{form_row(DocNewForm.company, {'label_col': 3, 'widget_col': 8, 'attr': {'row_class': 'hidden'} })}}
									{{form_row(DocNewForm.fileName, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(DocNewForm.description, {'label_col': 3, 'widget_col': 8, 'attr': {'class':'wysiwyg'}})}}
									<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnAdd'|trans|raw}}</button></div></div>
									{{form_end(DocNewForm)}}
								</div>
							</div>
						</div>
						<div class="panel box box-danger">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse42" data-parent="#accordion04" data-toggle="collapse">{{'MBSale.tlabel.docs.edit'|trans}}</a></h4>
							</div>
							<div id="collapse42" class="panel-collapse collapse{%if tabActive==4 and stabActive==2%} in{%endif%}">
								<div class="box-body">
									{{form_start(MBSaleUpdateDocsForm, {'method':'POST', 'action': path('_admin_mbsale_editPost', {'uid': mbsale.id}), 'style': 'horizontal'})}}
									{{form_row(MBSaleUpdateDocsForm.docs, {'label_col': 3, 'widget_col': 8, 'attr': {'class':'wysiwyg'}})}}
									<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
									{{form_end(MBSaleUpdateDocsForm)}}
								</div>
							</div>
						</div>
						<div class="panel box">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse43" data-parent="#accordion04" data-toggle="collapse">{{'MBSale.tlabel.docs.list'|trans}}</a></h4>
							</div>
							<div id="collapse43" class="panel-collapse collapse{%if (tabActive==4 and stabActive==3) or tabActive!=4%} in{%endif%}">
								<div class="box-body table-responsive">
									<table id="docList" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>{{ 'Doc.fileName.label'|trans|raw }}</th>
												<th>{{ 'Doc.mimeType.label'|trans|raw }}</th>
												<th>{{ 'Doc.size.label'|trans|raw }}</th>
												<th>{{ 'Doc.nbrDownloads.label'|trans|raw }}</th>
												<th>{{ 'Doc.dtCrea'|trans|raw }}:</th>
												<th>{{ 'Doc.description.label'|trans|raw }}</th>
												<th>{{ 'action'|trans|raw }}</th>
											</tr>
										</thead>
										<tbody>
										{% if mbsale.docs|length != 0 %}
											{% for doc in mbsale.docs %}
											<tr>
												<td>{{ doc.originalName }}</td>
												<td>{{ doc.mimeType }}</td>
												<td>{%if doc.size<1024%}
														{{doc.size}} o
													{%elseif doc.size<(1024*1024)%}
														{{'%.2f'|format(doc.size/1024)}} Ko
													{%elseif doc.size<(1024*1024*1024)%}
														{{'%.2f'|format(doc.size/1024/1024)}} Mo
													{%else%}
														{{'%.2f'|format(doc.size/1024/1024/1024)}} Go
													{% endif %}
												</td>
												<td>{{ doc.nbrDownloads }}</td>
												<td>{{ doc.dtCrea|date('Y-m-d @ H:i:s') }}</td>
												<td>{{ doc.description | raw }}</td>
												<td>
													<a class="btn btn-sm btn-primary" href="{{path('_admin_doc_download',{'uid':doc.id})}}">{{ glyphIco('download') }} {{ 'action.btnDownload'|trans }}</a>
													<a class="btn btn-sm btn-info" href="{{path('_admin_doc_editGet',{'uid':doc.id})}}">{{ glyphIco('edit') }} {{ 'action.edit'|trans }}</a>
												</td>
											</tr>
											{% endfor %}
										{% else %}
											<tr>
												<td colspan="7">{{ 'Doc.empty'|trans|raw }}</td>
											</tr>
										{% endif %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==11%} in active{%endif%}" id="Logs">
					<div class="panel box box-warning">
						<div class="box-header">
							<h4 class="box-title">{{'tlabel.logs'|trans}}</h4>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-12">
									{{ include('AcfAdminBundle:Widget:traces.html.twig', { 'traces': traces, 'showlinks2': true, 'showlinks': true, 'showTR': true, 'showSV': true })}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="deleteConfirmSale" class="modal fade in" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="text-center">{{'Sale.delete.confirm.title'|trans|raw}}</h3>
	</div>
	<div class="modal-body">
		{{'Sale.delete.confirm.txt'|trans|raw}}
	</div>
	<div class="modal-footer">
		<a href="" class="btn btn-xs btn-danger danger">{{'_yes'|trans|raw}}</a>
		<button type="button" class="btn btn-xs btn-default" data-dismiss="modal">{{'_no'|trans|raw}}</button>
	</div>
</div>
<div id="deleteConfirmSecondaryVat" class="modal fade in" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="text-center">{{'SecondaryVat.delete.confirm.title'|trans|raw}}</h3>
	</div>
	<div class="modal-body">
		{{'SecondaryVat.delete.confirm.txt'|trans|raw}}
	</div>
	<div class="modal-footer">
		<a href="" class="btn btn-xs btn-danger danger">{{'_yes'|trans|raw}}</a>
		<button type="button" class="btn btn-xs btn-default" data-dismiss="modal">{{'_no'|trans|raw}}</button>
	</div>
</div>
{%endblock content%}
