{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css" integrity="sha256-ff4Vuur4aYrm0ZOAEC/me1LBOcid7PJ5oP9xxvJ0AKQ=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.min.css" integrity="sha256-mmiAhiWsn5EjME5u13M5klIesdx2mQQnvwSDFWwAW4E=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{{preload(asset('bundles/acfres/css/bootstrap/duallistbox/3.0.2.css'))}}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.6/css/fileinput.min.css" integrity="sha256-FFSM4VM14HIuh6A+55Bm30Tx3MOod3aE/42URhyXmK4=" crossorigin="anonymous" />
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/tinymce/jquery.tinymce.min.js'))}}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js" integrity="sha256-KWLvsoTXFF8o3o9zKOjUsYC/NPKjgYmUXbrxNk90F8k=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/js/locales/bootstrap-datetimepicker.fr.js" integrity="sha256-3Xo/i0I6uTxVQCt8dPM7aO7afz1kWel46LNiT16cUXw=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.min.js" integrity="sha256-j9yXOqKOlGKkAerTz/6KCllekmWP3Kt3a7sBvMK8IGI=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/bootstrap/duallistbox/3.0.2.js'))}}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.14.0/js/canvas-to-blob.min.js" integrity="sha256-CeBz6ph2imsCxljJfaQYaMRiRYRtW/TP5kH7REY3qvQ=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.6/js/fileinput.min.js" integrity="sha256-jtXvZtRp0EH9FQhoxYXC0m0H9DhtdDwy1XulOog27Hc=" crossorigin="anonymous"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('textarea.wysiwyg').each(function() {
		var options = {
			script_url : '{{preload(asset('bundles/acfres/js/tinymce/tinymce.min.js'))}}',
			theme: "modern",
			plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
			{%if app.request.locale != 'en'%}
			language : '{{ app.request.locale }}',
			{% endif %}
			toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
		};
		$this = $(this);
		if($this.is('[required]')) {
			options.oninit = function(editor) {
				editor.on('change', function(e) {
					editor.save();
				});
			}
		}
		$this.tinymce(options);
	});

	$('#BuyUpdateDtActivationForm_dtActivation').click(function( event ) {
		event.preventDefault();
		$('#BuyUpdateDtActivationForm_dtActivation').datetimepicker({
			weekStart: 1,
			startView: 4,
			minView: 2,
			autoclose: true,
			todayHighlight: true,
			language: "{{app.request.locale}}",
			format: 'yyyy-mm-dd'
		}).datetimepicker('show');
	});

	$('#BuyUpdateRelationForm_relation').chosen({width: "100%", disable_search_threshold: 10});

	$('#BuyUpdateWithholdingForm_withholding').chosen({width: "100%", disable_search_threshold: 10});

	$('#BuyUpdatePaymentTypeForm_paymentType').chosen({width: "100%", disable_search_threshold: 10});

	$('#BuyUpdateNatureForm_nature').chosen({width: "100%", disable_search_threshold: 10});

	$('#BuyUpdateRegimeForm_regime').chosen({width: "100%", disable_search_threshold: 10});

	$('#BuyUpdateTransactionStatusForm_dtPayment').click(function( event ) {
		event.preventDefault();
		$('#BuyUpdateTransactionStatusForm_dtPayment').datetimepicker({
			weekStart: 1,
			startView: 4,
			minView: 2,
			autoclose: true,
			todayHighlight: true,
			language: "{{app.request.locale}}",
			format: 'yyyy-mm-dd'
		}).datetimepicker('show');
	});

	$('#BuyUpdateAccountForm_account').chosen({width: "100%", disable_search_threshold: 10});

	$('#BuyUpdateDeviseForm_devise').chosen({width: "100%", disable_search_threshold: 10});

	$('#BuyUpdateDocsForm_docs').bootstrapDualListbox({
		nonselectedlistlabel: 'Non-selected',
		selectedlistlabel: 'Selected',
		preserveselectiononmove: 'moved',
		moveonselect: false,
		initialfilterfrom: ''
	});

	$("#DocNewForm_fileName").fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Documents", browseIcon: '{{faIco('folder-open')}}', removeClass: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});

	{% if buy.docs|length != 0 %}
	$('#docList').dataTable({
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{preload(asset('bundles/acfres/json/dataTables/i18n/'~app.request.locale~'.json'))}}'},
		{% endif %}
		"columns": [
			null,
			null,
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		]
	});
	{% endif %}

});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin'|trans|raw}}</a></li>
	{% if is_granted('ROLE_SUPERADMIN') %}
	<li><a href="{{ path('_admin_company_list') }}">{{faIco('leaf')}} &nbsp; {{'breadcrumb.company.list'|trans|raw}}</a></li>
	{% endif %}
	<li><a href="{{ path('_admin_company_editGet', {'uid': buy.monthlyBalance.company.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.company.edit'|trans({'%company%': buy.monthlyBalance.company.corporateName})|raw}}</a></li>
	<li><a href="{{ path('_admin_mbpurchase_editGet', {'uid': buy.monthlyBalance.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.mbpurchase.edit'|trans({'%mbpurchase%': buy.monthlyBalance.ref})|raw}}</a></li>
	<li class="active"><a href="{{ path('_admin_buy_editGet', {'uid': buy.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.buy.edit'|trans({'%buy%': buy.label})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		{% if is_granted('ROLE_SUPERADMIN') %}
		<div class="well well-sm text-right">
			<a href="{{ path('_admin_company_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
		</div>
		{% endif %}
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'Buy.tab.overview'|trans|raw}}</a></li>
				<li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'Buy.tab.edit'|trans|raw}}</a></li>
				<li {%if tabActive==3%} class="active"{%endif%}><a href="#Docs" data-toggle="tab">{{'Buy.tab.docs'|trans|raw}}</a></li>
				<li {%if tabActive==11%} class="active"{%endif%}><a href="#Logs" data-toggle="tab">{{'tab.logs'|trans|raw}}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="panel box box-primary">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.overview'|trans}}</h3></div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-3 text-right">{{'Buy.company'|trans|raw}} :</div>
								<div class="col-lg-9"><a href="{{ path('_admin_company_editGet', {'uid': buy.monthlyBalance.company.id}) }}">{{buy.monthlyBalance.company.corporateName}}</a>&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.monthlyBalance'|trans|raw}} :</div>
								<div class="col-lg-9"><a href="{{ path('_admin_mbpurchase_editGet', {'uid': buy.monthlyBalance.id}) }}">{{buy.monthlyBalance.ref}}</a>&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.number'|trans|raw}} :</div>
								<div class="col-lg-9">{{buy.number}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.dtActivation'|trans|raw}} :</div>
								<div class="col-lg-9">{{buy.dtActivation|localeDate('full')}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.bill'|trans|raw}} :</div>
								<div class="col-lg-9">{{buy.bill}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.relation'|trans|raw}} :</div>
								<div class="col-lg-9">{{buy.relation.label}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.relation.number'|trans|raw}} :</div>
								<div class="col-lg-9">{{suppliersPrefix~buy.relation.numberFormated}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.label'|trans|raw}} :</div>
								<div class="col-lg-9">{{buy.label}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.devise'|trans|raw}} :</div>
								<div class="col-lg-9">{{buy.devise}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% if buy.devise != 'TND' %}
								<div class="col-lg-3 text-right">{{'Buy.conversionRate'|trans|raw}} :</div>
								<div class="col-lg-9">{{buy.conversionRate}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								{% if buy.devise != 'TND' %}
								<div class="col-lg-3 text-right">{{'Buy.balanceHtDevise'|trans|raw}} :</div>
								<div class="col-lg-9">{%set balanceHtDevise = buy.balanceTtcDevise - buy.stampDevise - buy.vatDevise%}{{ balanceHtDevise|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								<div class="col-lg-3 text-right">{{'Buy.balanceHt'|trans|raw}} :</div>
								<div class="col-lg-9">{%set balanceHt = buy.balanceTtc - buy.stamp - buy.vat%}{{ balanceHt|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% if buy.devise != 'TND' %}
								<div class="col-lg-3 text-right">{{'Buy.vatDevise'|trans|raw}} :</div>
								<div class="col-lg-9">{{buy.vatDevise|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								<div class="col-lg-3 text-right">{{'Buy.vat'|trans|raw}} :</div>
								<div class="col-lg-9">{{ buy.vat|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% if buy.devise != 'TND' %}
								<div class="col-lg-3 text-right">{{'Buy.stampDevise'|trans|raw}} :</div>
								<div class="col-lg-9">{{buy.stampDevise|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								<div class="col-lg-3 text-right">{{'Buy.stamp'|trans|raw}} :</div>
								<div class="col-lg-9">{{ buy.stamp|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% if buy.devise != 'TND' %}
								<div class="col-lg-3 text-right">{{'Buy.balanceTtcDevise'|trans|raw}} :</div>
								<div class="col-lg-9">{{buy.balanceTtcDevise|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								<div class="col-lg-3 text-right">{{'Buy.balanceTtc'|trans|raw}} :</div>
								<div class="col-lg-9">{{ buy.balanceTtc|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.regime'|trans|raw}} :</div>
								<div class="col-lg-9">{{ ('Buy.regime.'~buy.regime)|trans }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.withholding.value'|trans|raw}} :</div>
								<div class="col-lg-9">{{ buy.withholding.value |number_format(2, '.', '')}}%&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% if buy.devise != 'TND' %}
								<div class="col-lg-3 text-right">{{'Buy.withholdingDevise'|trans|raw}} :</div>
								<div class="col-lg-9">{%set withholdingDevise = buy.balanceTtcDevise - buy.balanceNetDevise%}{{withholdingDevise|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								<div class="col-lg-3 text-right">{{'Buy.withholding'|trans|raw}} :</div>
								<div class="col-lg-9">{%set withholding = buy.balanceTtc - buy.balanceNet%}{{ withholding|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% if buy.devise != 'TND' %}
								<div class="col-lg-3 text-right">{{'Buy.balanceNetDevise'|trans|raw}} :</div>
								<div class="col-lg-9">{{buy.balanceNetDevise|number_format(3, '.', '') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}
								<div class="col-lg-3 text-right">{{'Buy.balanceNet'|trans|raw}} :</div>
								<div class="col-lg-9">{{buy.balanceNet|number_format(3, '.', '')}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.paymentType'|trans|raw}} :</div>
								<div class="col-lg-9">{{ ('Transaction.paymentType.'~buy.paymentType)|trans }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.dtPayment'|trans|raw}} :</div>
								<div class="col-lg-9">{{ buy.dtPayment|localeDate('full') }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.transactionStatus'|trans|raw}} :</div>
								<div class="col-lg-9">{{ ('Transaction.transactionStatus.'~buy.transactionStatus)|trans }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.account'|trans|raw}} :</div>
								<div class="col-lg-9">{{ buy.account.label }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.nature'|trans|raw}} :</div>
								<div class="col-lg-9">{% if buy.nature is not null%} {{ buy.nature.label }}{% else %}ACHATS DE MARCHANDISES{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.otherInfos'|trans|raw}} :</div>
								<div class="col-lg-9">{{ buy.otherInfos }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.validated'|trans|raw}} :</div>
								<div class="col-lg-9">{{ ('Transaction.validated.'~buy.validated)|trans }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.dtCrea'|trans|raw}} :</div>
								<div class="col-lg-9">{{buy.dtCrea|localeDate('medium')}} {{'_at'|trans}} {{buy.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Buy.dtUpdate'|trans|raw}} :</div>
								<div class="col-lg-9">{{buy.dtUpdate|localeDate('medium')}} {{'_at'|trans}} {{buy.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editNumber'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateNumberForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateNumberForm.number, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateNumberForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editDtActivation'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateDtActivationForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateDtActivationForm.dtActivation, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateDtActivationForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editBill'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateBillForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateBillForm.bill, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateBillForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editRelation'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateRelationForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateRelationForm.relation, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateRelationForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editLabel'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateLabelForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateLabelForm.label, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateLabelForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editNature'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateNatureForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateNatureForm.nature, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateNatureForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editDevise'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateDeviseForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateDeviseForm.devise, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateDeviseForm)}}
						</div>
					</div>
					{% if buy.devise != 'TND' %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editConversionRate'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateConversionRateForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateConversionRateForm.conversionRate, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateConversionRateForm)}}
						</div>
					</div>
					{% endif %}
					{% if buy.devise != 'TND' %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editVatDevise'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateVatDeviseForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateVatDeviseForm.vatDevise, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateVatDeviseForm)}}
						</div>
					</div>
					{% else %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editVat'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateVatForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateVatForm.vat, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateVatForm)}}
						</div>
					</div>
					{% endif %}
					{% if buy.devise != 'TND' %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editStampDevise'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateStampDeviseForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateStampDeviseForm.stampDevise, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateStampDeviseForm)}}
						</div>
					</div>
					{% else %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editStamp'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateStampForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateStampForm.stamp, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateStampForm)}}
						</div>
					</div>
					{% endif %}
					{% if buy.devise != 'TND' %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editBalanceTtcDevise'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateBalanceTtcDeviseForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateBalanceTtcDeviseForm.balanceTtcDevise, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateBalanceTtcDeviseForm)}}
						</div>
					</div>
					{% else %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editBalanceTtc'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateBalanceTtcForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateBalanceTtcForm.balanceTtc, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateBalanceTtcForm)}}
						</div>
					</div>
					{% endif %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editRegime'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateRegimeForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateRegimeForm.regime, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateRegimeForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editWithholding'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateWithholdingForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateWithholdingForm.withholding, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateWithholdingForm)}}
						</div>
					</div>
					{% if buy.devise != 'TND' %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editBalanceNetDevise'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateBalanceNetDeviseForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateBalanceNetDeviseForm.balanceNetDevise, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateBalanceNetDeviseForm)}}
						</div>
					</div>
					{% else %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editBalanceNet'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateBalanceNetForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateBalanceNetForm.balanceNet, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateBalanceNetForm)}}
						</div>
					</div>
					{% endif %}
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editPaymentType'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdatePaymentTypeForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdatePaymentTypeForm.paymentType, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdatePaymentTypeForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editTransactionStatus'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateTransactionStatusForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateTransactionStatusForm.transactionStatus, {'label_col': 3, 'widget_col': 8 })}}
							{{form_row(BuyUpdateTransactionStatusForm.dtPayment, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateTransactionStatusForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editAccount'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateAccountForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateAccountForm.account, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateAccountForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editOtherInfos'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateOtherInfosForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateOtherInfosForm.otherInfos, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateOtherInfosForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Buy.tlabel.editValidated'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(BuyUpdateValidatedForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
							{{form_row(BuyUpdateValidatedForm.validated, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(BuyUpdateValidatedForm)}}
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==3%} in active{%endif%}" id="Docs"><div id="accordion03" class="box-group">
						<div class="panel box box-danger">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse31" data-parent="#accordion03" data-toggle="collapse">{{'Buy.tlabel.docs.add'|trans}}</a></h4>
							</div>
							<div id="collapse31" class="panel-collapse collapse{%if tabActive==3 and stabActive==1%} in{%endif%}">
								<div class="box-body">
									{{form_start(DocNewForm, {'method':'POST', 'action': path('_admin_buy_editGet', {'uid': buy.id}), 'style': 'horizontal'})}}
									{{form_row(DocNewForm.company, {'label_col': 3, 'widget_col': 8, 'attr': {'row_class': 'hidden'} })}}
									{{form_row(DocNewForm.fileName, {'label_col': 3, 'widget_col': 8 })}}
									{{form_row(DocNewForm.description, {'label_col': 3, 'widget_col': 8, 'attr': {'class':'wysiwyg'}})}}
									<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnAdd'|trans|raw}}</button></div></div>
									{{form_end(DocNewForm)}}
								</div>
							</div>
						</div>
						<div class="panel box box-danger">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse32" data-parent="#accordion03" data-toggle="collapse">{{'Buy.tlabel.docs.edit'|trans}}</a></h4>
							</div>
							<div id="collapse32" class="panel-collapse collapse{%if tabActive==3 and stabActive==2%} in{%endif%}">
								<div class="box-body">
									{{form_start(BuyUpdateDocsForm, {'method':'POST', 'action': path('_admin_buy_editPost', {'uid': buy.id}), 'style': 'horizontal'})}}
									{{form_row(BuyUpdateDocsForm.docs, {'label_col': 3, 'widget_col': 8, 'attr': {'class':'wysiwyg'}})}}
									<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
									{{form_end(BuyUpdateDocsForm)}}
								</div>
							</div>
						</div>
						<div class="panel box">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse33" data-parent="#accordion03" data-toggle="collapse">{{'Buy.tlabel.docs.list'|trans}}</a></h4>
							</div>
							<div id="collapse33" class="panel-collapse collapse{%if (tabActive==3 and stabActive==3) or tabActive!=3%} in{%endif%}">
								<div class="box-body table-responsive">
									<table id="docList" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>{{ 'Doc.fileName.label'|trans|raw }}</th>
												<th>{{ 'Doc.mimeType.label'|trans|raw }}</th>
												<th>{{ 'Doc.size.label'|trans|raw }}</th>
												<th>{{ 'Doc.nbrDownloads.label'|trans|raw }}</th>
												<th>{{ 'Doc.dtCrea'|trans|raw }}:</th>
												<th>{{ 'Doc.description.label'|trans|raw }}</th>
												<th>{{ 'action'|trans|raw }}</th>
											</tr>
										</thead>
										<tbody>
										{% if buy.docs|length != 0 %}
											{% for doc in buy.docs %}
											<tr>
												<td>{{ doc.originalName }}</td>
												<td>{{ doc.mimeType }}</td>
												<td>{%if doc.size<1024%}
														{{doc.size}} o
													{%elseif doc.size<(1024*1024)%}
														{{'%.2f'|format(doc.size/1024)}} Ko
													{%elseif doc.size<(1024*1024*1024)%}
														{{'%.2f'|format(doc.size/1024/1024)}} Mo
													{%else%}
														{{'%.2f'|format(doc.size/1024/1024/1024)}} Go
													{% endif %}
												</td>
												<td>{{ doc.nbrDownloads }}</td>
												<td>{{ doc.dtCrea|date('Y-m-d @ H:i:s') }}</td>
												<td>{{ doc.description | raw }}</td>
												<td>
													<a class="btn btn-sm btn-primary" href="{{path('_admin_doc_download',{'uid':doc.id})}}">{{ glyphIco('download') }} {{ 'action.btnDownload'|trans }}</a>
													<a class="btn btn-sm btn-info" href="{{path('_admin_doc_editGet',{'uid':doc.id})}}">{{ glyphIco('edit') }} {{ 'action.edit'|trans }}</a>
												</td>
											</tr>
											{% endfor %}
										{% else %}
											<tr>
												<td colspan="7">{{ 'Doc.empty'|trans|raw }}</td>
											</tr>
										{% endif %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==11%} in active{%endif%}" id="Logs">
					<div class="panel box box-warning">
						<div class="box-header">
							<h4 class="box-title">{{'tlabel.logs'|trans}}</h4>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-12">
									{{ include('AcfAdminBundle:Widget:traces.html.twig', { 'traces': traces, 'showlinks': false, 'showcmplinks': false, 'showmbslinks': false, 'showmbplinks': false, 'showsalelinks': false, 'showlinks2': true, 'showlinks3': true, 'showlinks4': true })}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
