<div class="box-body table-responsive">
	<div id="accordionDocgroupPerso{{ parent.id }}" class="box-group">
		{% for docgroupperso in parent.childs %}
		<div class="panel box box-warning">
			<div class="box-header">
				<h4 class="box-title"><a href="#collapse{{ docgroupperso.id }}" data-parent="#accordionDocgroupPerso{{ parent.id }}" data-toggle="collapse">{{ docgroupperso.label }}</a></h4>
			</div>
			<div id="collapse{{ docgroupperso.id }}" class="panel-collapse collapse">
				<div class="row">
					<div class="col-lg-9">&nbsp;</div>
					<div class="col-lg-3">
						<a class="btn btn-sm btn-info" href="{{path('_client_docgroupperso_editGet',{'uid':docgroupperso.id})}}">{{ glyphIco('edit') }} {{ 'action.edit'|trans }}</a>
					</div>
					{% if docgroupperso.otherInfos is not empty %}
					<div class="col-lg-12">{{ docgroupperso.otherInfos | raw }}</div>
					{% endif %}
				</div>
				{% if docgroupperso.docs|length != 0 %}
				<table class="table table-bordered table-hover docgrouppersoDocs">
					<thead>
						<tr>
							<th>{{ 'Doc.fileName.label'|trans|raw }}</th>
							<th>{{ 'Doc.mimeType.label'|trans|raw }}</th>
							<th>{{ 'Doc.size.label'|trans|raw }}</th>
							<th>{{ 'Doc.nbrDownloads.label'|trans|raw }}</th>
							<th>{{ 'Doc.dtCrea'|trans|raw }}:</th>
							<th>{{ 'action'|trans|raw }}</th>
						</tr>
					</thead>
					<tbody>
						{% for doc in docgroupperso.docs %}
						<tr>
							<td>{{ doc.originalName }}</td>
							<td>{{ doc.mimeType }}</td>
							<td>{%if doc.size<1024%}
									{{doc.size}} o
								{%elseif doc.size<(1024*1024)%}
									{{'%.2f'|format(doc.size/1024)}} Ko
								{%elseif doc.size<(1024*1024*1024)%}
									{{'%.2f'|format(doc.size/1024/1024)}} Mo
								{%else%}
									{{'%.2f'|format(doc.size/1024/1024/1024)}} Go
								{% endif %}
							</td>
							<td>{{ doc.nbrDownloads }}</td>
							<td>{{ doc.dtCrea|date('Y-m-d @ H:i:s') }}</td>
							<td>
								<a class="btn btn-sm btn-primary" href="{{path('_client_doc_download',{'uid':doc.id})}}">{{ glyphIco('download') }} {{ 'action.btnDownload'|trans }}</a>
								<a class="btn btn-sm btn-info" href="{{path('_client_doc_editGet',{'uid':doc.id})}}">{{ glyphIco('edit') }} {{ 'action.edit'|trans }}</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<br><br><br>
				{% endif %}
				{% if docgroupperso.childs|length != 0 %}
				{{ render(controller('AcfClientBundle:Docgroupperso:childs', {parent: docgroupperso.id})) }}
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
