{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/fileinput/4.2.7-7.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/dataTables/dataTables.bootstrap.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/modal/2.2.5-bs3patch.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/modal/2.2.5.css')}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/tinymce/jquery.tinymce.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/fileinput/plugins/canvas-to-blob.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/fileinput/4.2.7-7.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/dataTables/jquery.dataTables.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/dataTables/dataTables.bootstrap.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/modal/2.2.5manager.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/modal/2.2.5.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('textarea.wysiwyg').each(function() {
		var options = {
			script_url : '{{asset('bundles/acfres/js/tinymce/tinymce.min.js')}}',
			theme: "modern",
			plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
			{%if app.request.locale != 'en'%}
			language : '{{ app.request.locale }}',
			{% endif %}
			toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
		};
		$this = $(this);
		if($this.is('[required]')) {
			options.oninit = function(editor) {
				editor.on('change', function(e) {
					editor.save();
				});
			}
		}
		$this.tinymce(options);
	});

	$("#DocUpdateContentForm_doc").fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Documents", browseIcon: '{{faIco('folder-open')}}', removeClass: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});

	{% if doc.groups|length != 0 %}
	$('#docgroupList').dataTable({
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{asset('bundles/acfres/css/dataTables/i18n/')~app.request.locale~".json"}}'},
		{% endif %}
		"columns": [
			null,
			null,
			{ "searchable": false, "sortable": false }
		]
	});
	{% endif %}


});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin'|trans|raw}}</a></li>
	{% if is_granted('ROLE_SUPERADMIN') %}
	<li><a href="{{ path('_admin_company_list') }}">{{faIco('building')}} &nbsp; {{'breadcrumb.company.list'|trans|raw}}</a></li>
	{% endif %}
	<li><a href="{{ path('_admin_company_editGet', {'uid': doc.company.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.company.edit'|trans({'%company%': doc.company.corporateName})|raw}}</a></li>
	<li class="active"><a href="{{ path('_admin_doc_editGet', {'uid': doc.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.doc.edit'|trans({'%doc%': doc.originalName})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		{% if is_granted('ROLE_SUPERADMIN') %}
		<div class="well well-sm text-right">
			<a href="{{ path('_admin_doc_download',{'uid':doc.id})}}" class="btn btn-success">{{ glyphIco('download') }} {{ 'action.btnDownload'|trans }}</a>
		</div>
		{% endif %}
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'Doc.tab.overview'|trans|raw}}</a></li>
				<li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'Doc.tab.edit'|trans|raw}}</a></li>
				<li {%if tabActive==11%} class="active"{%endif%}><a href="#Logs" data-toggle="tab">{{'tab.logs'|trans|raw}}</a></li>
				<li><a href="{{ path('_admin_company_backtoDoc', {'uid': doc.company.id}) }}">{{'Doc.tab.back'|trans|raw}}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="panel box box-primary">
						<div class="box-header"><h3 class="box-title">{{'Doc.tlabel.overview'|trans}}</h3></div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-3 text-right">{{'Doc.company'|trans|raw}} :</div>
								<div class="col-lg-9"><a href="{{ path('_admin_company_editGet', {'uid': doc.company.id}) }}">{{doc.company.corporateName}}</a>&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Doc.originalName'|trans|raw}} :</div>
								<div class="col-lg-9">{{doc.originalName}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Doc.description'|trans|raw}} :</div>
								<div class="col-lg-9">{%if doc.description is not empty%}{{doc.description|raw}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Doc.size'|trans|raw}} :</div>
								<div class="col-lg-9">{%if doc.size<1024%}
									{{doc.size}} o
								{%elseif doc.size<(1024*1024)%}
									{{'%.2f'|format(doc.size/1024)}} Ko
								{%elseif doc.size<(1024*1024*1024)%}
									{{'%.2f'|format(doc.size/1024/1024)}} Mo
								{%else%}
									{{'%.2f'|format(doc.size/1024/1024/1024)}} Go
								{% endif %}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Doc.mimeType'|trans|raw}} :</div>
								<div class="col-lg-9">{{doc.mimeType}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Doc.md5'|trans|raw}} :</div>
								<div class="col-lg-9">{{doc.md5}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Doc.nbrDownloads'|trans|raw}} :</div>
								<div class="col-lg-9">{{doc.nbrDownloads}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								{% if doc.banks | length != 0%}
								<div class="col-lg-3 text-right">{{'Doc.banks'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for bank in doc.banks %}
									- <a href="{{ path('_admin_bank_editGet', {'uid': bank.id}) }}">{{ bank.label }}</a><br>
									{% endfor %}
								&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}

								{% if doc.funds | length != 0%}
								<div class="col-lg-3 text-right">{{'Doc.funds'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for fund in doc.funds %}
									- <a href="{{ path('_admin_bank_editGet', {'uid': fund.id}) }}">{{ fund.label }}</a><br>
									{% endfor %}
								&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}

								{% if doc.customers | length != 0%}
								<div class="col-lg-3 text-right">{{'Doc.customers'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for customer in doc.customers %}
									- <a href="{{ path('_admin_customer_editGet', {'uid': customer.id}) }}">{{ customer.label }}</a><br>
									{% endfor %}
								&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}

								{% if doc.suppliers | length != 0%}
								<div class="col-lg-3 text-right">{{'Doc.suppliers'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for supplier in doc.suppliers %}
									- <a href="{{ path('_admin_supplier_editGet', {'uid': supplier.id}) }}">{{ supplier.label }}</a><br>
									{% endfor %}
								&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}

								{% if doc.mbsales | length != 0%}
								<div class="col-lg-3 text-right">{{'Doc.mbsales'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for mbsale in doc.mbsales %}
									- <a href="{{ path('_admin_mbsale_editGet', {'uid': mbsale.id}) }}">{{ mbsale.label }}</a><br>
									{% endfor %}
								&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}

								{% if doc.mbpurchases | length != 0%}
								<div class="col-lg-3 text-right">{{'Doc.mbpurchases'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for mbpurchase in doc.mbpurchases %}
									- <a href="{{ path('_admin_mbpurchase_editGet', {'uid': mbpurchase.id}) }}">{{ mbpurchase.label }}</a><br>
									{% endfor %}
								&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}

								{% if doc.sales | length != 0%}
								<div class="col-lg-3 text-right">{{'Doc.sales'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for sale in doc.sales %}
									- <a href="{{ path('_admin_sale_editGet', {'uid': sale.id}) }}">{{ sale.label }}</a><br>
									{% endfor %}
								&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}

								{% if doc.buys | length != 0%}
								<div class="col-lg-3 text-right">{{'Doc.buys'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for buy in doc.buys %}
									- <a href="{{ path('_admin_buy_editGet', {'uid': buy.id}) }}">{{ buy.label }}</a><br>
									{% endfor %}
								&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}

								{% if doc.groups | length != 0%}
								<div class="col-lg-3 text-right">{{'Doc.groups'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for docgroup in doc.groups %}
									- <a href="{{ path('_admin_docgroup_editGet', {'uid': docgroup.id}) }}">{{ docgroup.label }}</a><br>
									{% endfor %}
								&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}

								{% if doc.groupcomptables | length != 0%}
								<div class="col-lg-3 text-right">{{'Doc.groupcomptables'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for docgroupcomptable in doc.groupcomptables %}
									- <a href="{{ path('_admin_docgroupcomptable_editGet', {'uid': docgroupcomptable.id}) }}">{{ docgroupcomptable.label }}</a><br>
									{% endfor %}
								&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}

								{% if doc.groupfiscals | length != 0%}
								<div class="col-lg-3 text-right">{{'Doc.groupfiscals'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for docgroupfiscal in doc.groupfiscals %}
									- <a href="{{ path('_admin_docgroupfiscal_editGet', {'uid': docgroupfiscal.id}) }}">{{ docgroupfiscal.label }}</a><br>
									{% endfor %}
								&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}

								{% if doc.grouppersos | length != 0%}
								<div class="col-lg-3 text-right">{{'Doc.grouppersos'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for docgroupperso in doc.grouppersos %}
									- <a href="{{ path('_admin_docgroupperso_editGet', {'uid': docgroupperso.id}) }}">{{ docgroupperso.label }}</a><br>
									{% endfor %}
								&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}

								{% if doc.groupsysts | length != 0%}
								<div class="col-lg-3 text-right">{{'Doc.groupsysts'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for docgroupsyst in doc.groupsysts %}
									- <a href="{{ path('_admin_docgroupsyst_editGet', {'uid': docgroupsyst.id}) }}">{{ docgroupsyst.label }}</a><br>
									{% endfor %}
								&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}

								{% if doc.groupbanks | length != 0%}
								<div class="col-lg-3 text-right">{{'Doc.groupbanks'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for docgroupbank in doc.groupbanks %}
									- <a href="{{ path('_admin_docgroupbank_editGet', {'uid': docgroupbank.id}) }}">{{ docgroupbank.label }}</a><br>
									{% endfor %}
								&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}

								{% if doc.groupaudits | length != 0%}
								<div class="col-lg-3 text-right">{{'Doc.groupaudits'|trans|raw}} :</div>
								<div class="col-lg-9">
									{% for docgroupaudit in doc.groupaudits %}
									- <a href="{{ path('_admin_docgroupaudit_editGet', {'uid': docgroupaudit.id}) }}">{{ docgroupaudit.label }}</a><br>
									{% endfor %}
								&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								{% endif %}


								<div class="col-lg-3 text-right">{{'Doc.dtCrea'|trans|raw}} :</div>
								<div class="col-lg-9">{{doc.dtCrea|localeDate('medium')}} {{'_at'|trans}} {{doc.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Doc.dtUpdate'|trans|raw}} :</div>
								<div class="col-lg-9">{{doc.dtUpdate|localeDate('medium')}} {{'_at'|trans}} {{doc.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Doc.tlabel.editDescription'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(DocUpdateDescriptionForm, {'method':'POST', 'action': path('_admin_doc_editPost', {'uid': doc.id}), 'style': 'horizontal'})}}
							{{form_row(DocUpdateDescriptionForm.description, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(DocUpdateDescriptionForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Doc.tlabel.editOriginalName'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(DocUpdateOriginalNameForm, {'method':'POST', 'action': path('_admin_doc_editPost', {'uid': doc.id}), 'style': 'horizontal'})}}
							{{form_row(DocUpdateOriginalNameForm.originalName, {'label_col': 3, 'widget_col': 5})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(DocUpdateOriginalNameForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Doc.tlabel.editContent'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(DocUpdateContentForm, {'method':'POST', 'action': path('_admin_doc_editPost', {'uid': doc.id}), 'style': 'horizontal'})}}
							{{form_row(DocUpdateContentForm.doc, {'label_col': 3, 'widget_col': 8})}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(DocUpdateContentForm)}}
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==11%} in active{%endif%}" id="Logs">
					<div class="panel box box-warning">
						<div class="box-header">
							<h4 class="box-title">{{'tlabel.logs'|trans}}</h4>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-12">
									{{ include('AcfAdminBundle:Widget:traces.html.twig', { 'traces': traces, 'showlinks2': true })}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
