{% extends 'AcfFrontBundle::front2.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap.min.css" integrity="sha256-PbaYLBab86/uCEz3diunGMEYvjah3uDFIiID+jAtIfw=" crossorigin="anonymous" />
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js" integrity="sha256-qcV1wr+bn4NoBtxYqghmy1WIBvxeoe8vQlCowLG+cng=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap.min.js" integrity="sha256-X/58s5WblGMAw9SpDtqnV8dLRNCawsyGwNqnZD0Je/s=" crossorigin="anonymous"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	{% if auctions|length != 0 %}
	$('#auctionList').dataTable({
		"order": [[ 0, "desc" ]],
		{%if app.request.locale != 'en'%}
		"language": {"url": '{{preload(asset('bundles/acfres/json/dataTables/i18n/'~app.request.locale~'.json'))}}'},
		{% endif %}
		"columns": [
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		],
		"pageLength": 10
	});
	{% endif %}
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li class="active"><a href="{{ path('ve_front_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.ve'|trans|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">{{ 'AoAuction.tlabel.list'|trans|raw}}</h3>
			</div>
			<div class="box-body table-responsive">
				<table class="table table-bordered table-hover " id="auctionList">
					<thead>
						<tr>
							<th>{{ 'AoAuction.dtPublication.label'|trans|raw }}</th>
							<th>{{ 'AoAuction.country.label'|trans|raw }}</th>
							<th>{{ 'AoAuction.description.label'|trans|raw }}</th>
							<th>{{ 'AoAuction.company.label'|trans|raw }}</th>
							<th>{{ 'AoAuction.nature.label'|trans|raw }}</th>
							<th>{{ 'AoAuction.dtEnd.label'|trans|raw }}</th>
							<th>{{ 'AoAuction.daysleft.label'|trans|raw }}</th>
							<th>{{ 'AoAuction.refn.label'|trans|raw }}</th>
							<th>{{ 'action'|trans|raw }}</th>
						</tr>
					</thead>
					<tbody>
					{% for auction in auctions %}
						<tr>
							<td>{% if auction.dtPublication is not empty %}{{auction.dtPublication|date('Y-m-d')}}{%else%}{{'_NA'|trans}}{% endif %}</td>
							<td>{% if auction.country is not empty %}{{auction.country}}{%else%}{{'_NA'|trans}}{% endif %}</td>
							<td>{% if auction.description is not empty %}{{auction.description|raw}}{%else%}{{'_NA'|trans}}{% endif %}</td>
							<td>{% if auction.company is not empty %}{{auction.company}}{%else%}{{'_NA'|trans}}{% endif %}</td>
							<td>{% if auction.nature is not empty %}{{('AoAuction.nature.'~auction.nature)|trans}}{%else%}{{'_NA'|trans}}{% endif %}</td>
							<td>{% if auction.dtEnd is not empty %}{{auction.dtEnd|date('Y-m-d')}}{%else%}{{'_NA'|trans}}{% endif %}</td>
							<td>{% if auction.dtEnd is not empty and auction.dtEnd > date("now") %}{{ auction.dtEnd.diff(date("now")).days }}{%else%}{{'AoAuction.expired'|trans}}{% endif %}</td>
							<td>{% if auction.ref is not empty %}{{auction.ref}}{%else%}{{'_NA'|trans}}{% endif %}</td>
							<td>
								<a class="btn btn-sm btn-info" href="{{path('ve_front_auction_editGet',{'uid':auction.id})}}">{{ glyphIco('eye-open') }} &nbsp; {{ 'action.show'|trans }}</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="9">{{ 'AoAuction.empty'|trans|raw }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
