{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.min.css" integrity="sha256-mmiAhiWsn5EjME5u13M5klIesdx2mQQnvwSDFWwAW4E=" crossorigin="anonymous" />
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{preload(asset('bundles/acfres/js/tinymce/jquery.tinymce.min.js'))}}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.min.js" integrity="sha256-j9yXOqKOlGKkAerTz/6KCllekmWP3Kt3a7sBvMK8IGI=" crossorigin="anonymous"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('textarea.wysiwyg').each(function() {
		var options = {
			script_url : '{{preload(asset('bundles/acfres/js/tinymce/tinymce.min.js'))}}',
			theme: "modern",
			plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
			{%if app.request.locale != 'en'%}
			language : '{{ app.request.locale }}',
			{% endif %}
			toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
		};
		$this = $(this);
		if($this.is('[required]')) {
			options.oninit = function(editor) {
				editor.on('change', function(e) {
					editor.save();
				});
			}
		}
		$this.tinymce(options);
	});

    $('#ProductUpdateLockoutForm_lockout').chosen({width: "100%", disable_search_threshold: 10});
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin'|trans|raw}}</a></li>
	<li><a href="{{ path('_admin_product_list') }}">{{faIco('shopping-basket')}} &nbsp; {{'breadcrumb.product.list'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('_admin_product_editGet', {'uid': product.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.product.edit'|trans({'%product%': product.title})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('_admin_product_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
			<a href="{{ path('_admin_product_addGet') }}" class="btn btn-primary">{{ glyphIco('plus') }} {{ 'action.add'|trans }}</a>
		</div>
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'Product.tab.overview'|trans|raw}}</a></li>
				<li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'Product.tab.edit'|trans|raw}}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="panel box box-primary">
						<div class="box-header"><h3 class="box-title">{{'Product.tlabel.overview'|trans}}</h3></div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-3 text-right">{{'Product.label'|trans|raw}} :</div>
								<div class="col-lg-9">{{product.label|raw}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Product.title'|trans|raw}} :</div>
								<div class="col-lg-9">{{product.title|raw}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Product.description'|trans|raw}} :</div>
								<div class="col-lg-9">{{product.description|raw}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Product.price'|trans|raw}} :</div>
								<div class="col-lg-9">{{product.price|number_format(3, '.', ' ') }} TND&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Product.vat'|trans|raw}} :</div>
								<div class="col-lg-9">{{product.vat|number_format(2, '.', ' ') }} %&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Product.lockout'|trans|raw}} :</div>
								<div class="col-lg-9">{{('Product.lockout.'~product.lockout)|trans|raw}}&nbsp;</div>
								<<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Product.dtCrea'|trans|raw}} :</div>
								<div class="col-lg-9">{{product.dtCrea|localeDate('medium')}} {{'_at'|trans}} {{product.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Product.dtUpdate'|trans|raw}} :</div>
								<div class="col-lg-9">{{product.dtUpdate|localeDate('medium')}} {{'_at'|trans}} {{product.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Product.tlabel.editPrice'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(ProductUpdatePriceForm, {'method':'POST', 'action': path('_admin_product_editPost', {'uid': product.id}), 'style': 'horizontal'})}}
							{{form_row(ProductUpdatePriceForm.price, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(ProductUpdatePriceForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Product.tlabel.editVat'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(ProductUpdateVatForm, {'method':'POST', 'action': path('_admin_product_editPost', {'uid': product.id}), 'style': 'horizontal'})}}
							{{form_row(ProductUpdateVatForm.vat, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(ProductUpdateVatForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
					<div class="box-header"><h3 class="box-title">{{'Product.tlabel.editLockout'|trans}}</h3></div>
					    <div class="box-body">
					       {{form_start(ProductUpdateLockoutForm, {'method':'POST', 'action': path('_admin_product_editPost', {'uid': product.id}), 'style': 'horizontal'})}}
					       {{form_row(ProductUpdateLockoutForm.lockout, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
					       <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
					       {{form_end(ProductUpdateLockoutForm)}}
					    </div>
					</div>
					<div class="panel box box-danger">
    					<div class="box-header"><h3 class="box-title">{{'Product.tlabel.editLabel'|trans}}</h3></div>
    					<div class="box-body">
        					{{form_start(ProductUpdateLabelForm, {'method':'POST', 'action': path('_admin_product_editPost', {'uid': product.id}), 'style': 'horizontal'})}}
        					{{form_row(ProductUpdateLabelForm.label, {'label_col': 3, 'widget_col': 8 })}}
        					<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
        					{{form_end(ProductUpdateLabelForm)}}
    					</div>
					</div>
					<div class="panel box box-danger">
    					<div class="box-header"><h3 class="box-title">{{'Product.tlabel.editTitle'|trans}}</h3></div>
    					<div class="box-body">
        					{{form_start(ProductUpdateTitleForm, {'method':'POST', 'action': path('_admin_product_editPost', {'uid': product.id}), 'style': 'horizontal'})}}
        					{{form_row(ProductUpdateTitleForm.title, {'label_col': 3, 'widget_col': 8 })}}
        					<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
        					{{form_end(ProductUpdateTitleForm)}}
    					</div>
					</div>
					<div class="panel box box-danger">
    					<div class="box-header"><h3 class="box-title">{{'Product.tlabel.editDescription'|trans}}</h3></div>
    					<div class="box-body">
        					{{form_start(ProductUpdateDescriptionForm, {'method':'POST', 'action': path('_admin_product_editPost', {'uid': product.id}), 'style': 'horizontal'})}}
        					{{form_row(ProductUpdateDescriptionForm.description, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
        					<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
        					{{form_end(ProductUpdateDescriptionForm)}}
    					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
