{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/chosen/1.2.0.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/duallistbox/3.0.2.css')}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/tinymce/jquery.tinymce.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/chosen/1.2.0.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/duallistbox/3.0.2.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('textarea.wysiwyg').each(function() {
		var options = {
			script_url : '{{asset('bundles/acfres/js/tinymce/tinymce.min.js')}}',
			theme: "modern",
			plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
			{%if app.request.locale != 'en'%}
			language : '{{ app.request.locale }}',
			{% endif %}
			toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
		};
		$this = $(this);
		if($this.is('[required]')) {
			options.oninit = function(editor) {
				editor.on('change', function(e) {
					editor.save();
				});
			}
		}
		$this.tinymce(options);
	});
	
	$('#OrderNewForm_oproducts').bootstrapDualListbox({
		nonselectedlistlabel: 'Non-selected',
		selectedlistlabel: 'Selected',
		preserveselectiononmove: 'moved',
		moveonselect: false,
		initialfilterfrom: ''
	});
	
	$('#OrderNewForm_user').chosen({width: "100%", disable_search_threshold: 10});
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin'|trans|raw}}</a></li>
	<li><a href="{{ path('_admin_order_list') }}">{{faIco('shopping-cart')}} &nbsp; {{'breadcrumb.order.list'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('_admin_order_addGet') }}">{{glyphIco('plus')}} &nbsp; {{'breadcrumb.order.add'|trans|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('_admin_order_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
		</div>
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">{{ 'Order.tlabel.add'|trans|raw}}</h3>
			</div>
			<div class="box-body">
				{{form_start(OrderNewForm, {'method':'POST', 'action': path('_admin_order_addPost'), 'style': 'horizontal'})}}
				{{form_row(OrderNewForm.user, {'label_col': 3, 'widget_col': 8})}}
				{{form_row(OrderNewForm.orderTo, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
				{{form_row(OrderNewForm.oproducts, {'label_col': 3, 'widget_col': 8})}}
				<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnAdd'|trans|raw}}</button></div></div>
				{{form_end(OrderNewForm)}}
			</div>
		</div>
	</div>
</div>
{%endblock content%}
