{% extends 'AcfFrontBundle::front.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/acfres/css/bootstrap/chosen/1.2.0.css')}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/acfres/js/tinymce/jquery.tinymce.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/acfres/js/bootstrap/chosen/1.2.0.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
	$('textarea.wysiwyg').each(function() {
		var options = {
			script_url : '{{asset('bundles/acfres/js/tinymce/tinymce.min.js')}}',
			theme: "modern",
			plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
			{%if app.request.locale != 'en'%}
			language : '{{ app.request.locale }}',
			{% endif %}
			toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
		};
		$this = $(this);
		if($this.is('[required]')) {
			options.oninit = function(editor) {
				editor.on('change', function(e) {
					editor.save();
				});
			}
		}
		$this.tinymce(options);
	});

    $('#OrderUpdateStatusForm_status').chosen({width: "100%", disable_search_threshold: 10});
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'breadcrumb.admin'|trans|raw}}</a></li>
	<li><a href="{{ path('_admin_order_list') }}">{{faIco('shopping-cart')}} &nbsp; {{'breadcrumb.order.list'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('_admin_order_editGet', {'uid': order.id}) }}">{{glyphIco('edit')}} &nbsp; {{'breadcrumb.order.edit'|trans({'%order%': order.ref})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('_admin_order_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
			<a href="{{ path('_admin_order_addGet') }}" class="btn btn-primary">{{ glyphIco('plus') }} {{ 'action.add'|trans }}</a>
		</div>
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'Order.tab.overview'|trans|raw}}</a></li>
				<li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'Order.tab.edit'|trans|raw}}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="panel box box-primary">
						<div class="box-header"><h3 class="box-title">{{'Order.tlabel.overview'|trans}}</h3></div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-3 text-right">{{'Order.ref'|trans|raw}} :</div>
								<div class="col-lg-9">{{order.ref}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Order.user'|trans|raw}} :</div>
								<div class="col-lg-9"><a href="{{ path('_admin_user_editGet', {'id': order.user.id}) }}">{{order.user.fullName}}</a>&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Order.val'|trans|raw}} :</div>
								<div class="col-lg-9">{{order.val|number_format(3, '.', ' ') }}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Order.status'|trans|raw}} :</div>
								<div class="col-lg-9">{{('Order.status.'~order.status)|trans|raw}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Order.ipAddr'|trans|raw}} :</div>
								<div class="col-lg-9">{%if order.ipAddr is not empty%}{{order.ipAddr|raw}}{%else%}{{bsLabel('_NA'|trans)}}{%endif%}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Order.sessId'|trans|raw}} :</div>
								<div class="col-lg-9">{%if order.sessId is not empty%}{{order.sessId|raw}}{%else%}{{bsLabel('_NA'|trans)}}{%endif%}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Order.auth'|trans|raw}} :</div>
								<div class="col-lg-9">{%if order.auth is not empty%}{{order.auth|raw}}{%else%}{{bsLabel('_NA'|trans)}}{%endif%}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Order.description'|trans|raw}} :</div>
								<div class="col-lg-9">{%if order.description is not empty%}{{order.description|raw}}{%else%}{{bsLabel('_NA'|trans)}}{%endif%}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Order.dtCrea'|trans|raw}} :</div>
								<div class="col-lg-9">{{order.dtCrea|localeDate('medium')}} {{'_at'|trans}} {{order.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Order.dtUpdate'|trans|raw}} :</div>
								<div class="col-lg-9">{{order.dtUpdate|localeDate('medium')}} {{'_at'|trans}} {{order.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Order.tlabel.editVal'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(OrderUpdateValForm, {'method':'POST', 'action': path('_admin_order_editPost', {'uid': order.id}), 'style': 'horizontal'})}}
							{{form_row(OrderUpdateValForm.val, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(OrderUpdateValForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
					<div class="box-header"><h3 class="box-title">{{'Order.tlabel.editStatus'|trans}}</h3></div>
					    <div class="box-body">
					       {{form_start(OrderUpdateStatusForm, {'method':'POST', 'action': path('_admin_order_editPost', {'uid': order.id}), 'style': 'horizontal'})}}
					       {{form_row(OrderUpdateStatusForm.status, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
					       <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
					       {{form_end(OrderUpdateStatusForm)}}
					    </div>
					</div>
					<div class="panel box box-danger">
					<div class="box-header"><h3 class="box-title">{{'Order.tlabel.editDescription'|trans}}</h3></div>
					<div class="box-body">
					{{form_start(OrderUpdateDescriptionForm, {'method':'POST', 'action': path('_admin_order_editPost', {'uid': order.id}), 'style': 'horizontal'})}}
					{{form_row(OrderUpdateDescriptionForm.description, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
					<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
					{{form_end(OrderUpdateDescriptionForm)}}
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
